<div class="ask-an-expert halo-ask-an-expert{% if product %} has-product{% endif%}">
    <h4 class="heading center">Ask The Fashion Expert Anything On Ella</h4>

    <span class="text center">We will follow up with you via email within 24-36 hours</span>

    <div class="intro center">Please answer the following questionnaire</div>
    
    {%- form 'contact', id: 'ContactForm-ask', class: 'halo-ask-an-expert-form contact-form' -%}
        <input type="hidden" name="contact[Form]" value="Ask The Fashion Expert Anything On Ella"/>
        
        {%- if product -%}
            <input type="hidden" name="contact[Product Title]" value="{{ product.title }}" />
            <input type="hidden" name="contact[Product Image]" value="{{ product.featured_image.src | img_url: 'master' }} "/>
            <input type="hidden" name="contact[Product Link]" value="{{ shop.url | append: product.url }}"/>
        {%- endif -%}

        <div class="form-field">
            <label class="form-label hiddenLabels" for="askAnExpertName">Name</label>
            <input class="form-input form-input-placeholder" type="text" required id="askAnExpertName" name="contact[Name]" autocapitalize="words" placeholder="Name">
        </div>
        <div class="form-field">
            <label class="form-label hiddenLabels" for="askAnExpertMail">Email</label>
            <input class="form-input form-input-placeholder" type="email" name="contact[email]" required id="askAnExpertMail" autocorrect="off" autocapitalize="off" placeholder="Email">
        </div>
        <div class="form-field">
            <label class="form-label hiddenLabels" for="askAnExpertPhone">Phone number</label>
            <input class="form-input form-input-placeholder" type="tel" required id="askAnExpertPhone" name="contact[Phone number]" pattern="[0-9]*" placeholder="Phone number">
        </div>
        {%- if settings.ask_an_expert_option_1_1 != blank or settings.ask_an_expert_option_1_2 != blank or settings.ask_an_expert_option_1_3 != blank -%}
            <div class="form-field form-field-radio">
                {%- if settings.ask_an_expert_option_1 != blank -%}
                    <label class="form-label">{{ settings.ask_an_expert_option_1 | escape }}</label>
                {%- endif -%}
                {%- if settings.ask_an_expert_option_1_1 != blank -%}
                    <input class="form-radio" checked id="askAnExpertRadio1" type="radio" name="contact[{{ settings.ask_an_expert_option_1 | escape | default: 'Option 1'  }}]" value="{{ settings.ask_an_expert_option_1_1 | split: '|' | first }}"/>
                    <label class="form-label form-label--radio" for="askAnExpertRadio1">{{ settings.ask_an_expert_option_1_1 | escape }}</label>
                {%- endif -%}
                {%- if settings.ask_an_expert_option_1_2 != blank -%}
                    <input class="form-radio" id="askAnExpertRadio2" type="radio" name="contact[{{ settings.ask_an_expert_option_1 | escape | default: 'Option 1'  }}]" value="{{ settings.ask_an_expert_option_1_2 | split: '|' | first }}"/>
                    <label class="form-label form-label--radio" for="askAnExpertRadio2">{{ settings.ask_an_expert_option_1_2 | escape }}</label>
                {%- endif -%}
                {%- if settings.ask_an_expert_option_1_3 != blank -%}
                    <input class="form-radio" id="askAnExpertRadio3" type="radio" name="contact[{{ settings.ask_an_expert_option_1 | escape | default: 'Option 1'  }}]" value="{{ settings.ask_an_expert_option_1_3 | split: '|' | first }}"/>
                    <label class="form-label form-label--radio" for="askAnExpertRadio3">{{ settings.ask_an_expert_option_1_3 | escape }}</label> 
                {%- endif -%}
            </div>
        {%- endif -%}
        <div class="form-field form-field-textarea">
            <label class="form-label" for="askAnExpertMessage">{{ 'content.ask_an_expert.message' | t }}</label>
            <textarea class="form-input form-input-placeholder" rows="6" name="contact[{{ 'content.ask_an_expert.message' | t }}]" id="askAnExpertMessage"></textarea>
        </div>
        {%- if settings.ask_an_expert_option_2_1 != blank or settings.ask_an_expert_option_2_2 != blank or settings.ask_an_expert_option_2_3 != blank -%}
            <div class="form-field form-field-radio form-field-radio-2">
                {%- if settings.ask_an_expert_option_2 != blank -%}
                    <label class="form-label">{{ settings.ask_an_expert_option_2 | escape }}</label>
                {%- endif -%}
                {%- if settings.ask_an_expert_option_2_1 != blank -%}
                    <input class="form-radio" checked id="askAnExpertRadio21" type="radio" name="contact[{{ settings.ask_an_expert_option_2 | escape | default: 'Option 2'  }}]" value="{{ settings.ask_an_expert_option_2_1 | split: '|' | first }}"/>
                    <label class="form-label form-label--radio" for="askAnExpertRadio21">{{ settings.ask_an_expert_option_2_1 | escape }}</label>
                {%- endif -%}
                {%- if settings.ask_an_expert_option_2_2 != blank -%}
                    <input class="form-radio" id="askAnExpertRadio22" type="radio" name="contact[{{ settings.ask_an_expert_option_2 | escape | default: 'Option 2'  }}]" value="{{ settings.ask_an_expert_option_2_2 | split: '|' | first }}"/>
                    <label class="form-label form-label--radio" for="askAnExpertRadio22">{{ settings.ask_an_expert_option_2_2 | escape }}</label>  
                {%- endif -%}
                {%- if settings.ask_an_expert_option_2_3 != blank -%}
                    <input class="form-radio" id="askAnExpertRadio23" type="radio" name="contact[{{ settings.ask_an_expert_option_2 | escape | default: 'Option 2'  }}]" value="{{ settings.ask_an_expert_option_2_3 | split: '|' | first }}"/>
                    <label class="form-label form-label--radio" for="askAnExpertRadio23">{{ settings.ask_an_expert_option_2_3 | escape }}</label> 
                {%- endif -%}
            </div>
        {%- endif -%}
        <div class="form-actions">
            <button type="submit" class="button button--primary" data-button-message="ask">Submit</button>
        </div>
    {%- endform -%}
    <div class="message"></div>
</div>