{% doc %}
  Intended for use in a block similar to the button block.

  @param {string} link - link to render
  @param {object} [block] - The block

  @example
  {% render 'button', link: '/collections/all' %}
{% enddoc %}

{%- liquid
  assign link = link | default: block.settings.link
  assign style_class = style_class | default: block.settings.style_class
  assign link_underline = link_underline | default: block.settings.link_underline
  assign open_in_new_tab = open_in_new_tab | default: block.settings.open_in_new_tab
  assign shopify_attributes = shopify_attributes | default: block.shopify_attributes
  assign label = label | default: block.settings.label
  assign button_style = button_style | default: block.settings.button_style
-%}

<a
  {% if link == blank %}
    role="link"
    aria-disabled="true"
  {% else %}
    href="{{ link }}"
  {% endif %}
  {%- if splitting_text -%}
    data-splitting-target
    data-splitting-text-by="{{ splitting_text_by }}"
  {%- endif -%}
  class="
    {{ class }}
    size-style
    {{ style_class }}
    {% if block.settings.link_reveal and block.settings.style_class == 'link' %}link--reveal{% endif %}
    {% if link_underline %}link--underline{% endif %}
    {% if button_style == 'outline' %}button--outline{% endif %}
    {{ style_class }}--{{ block.id }}
  "
  style="{% render 'size-style', settings: block.settings %}"
  {%- if open_in_new_tab -%}
    target="_blank"
    rel="noopener noreferrer"
  {%- endif -%}
  {{ shopify_attributes }}
  {% if block.settings.link_reveal and block.settings.style_class == 'link' %}
    data-text="{{ label }}"
  {% endif %}
>
  {{ label }}
  {% if block.settings.link_reveal and block.settings.style_class == 'link' %}
    <span class="text-mask none" data-text="{{ label }}">{{ label }}</span>
  {% endif %}
</a>

{% stylesheet %}
  .button.button--outline {
    --button-color: var(--button-background-color);
    --border-outline-color: var(--button-background-color);
    background-color: transparent;
    border: 1px solid var(--border-outline-color);
  }

  .button {
    transition: color var(--animation-speed) var(--animation-easing), box-shadow var(--animation-speed) var(--animation-easing), background-color var(--animation-speed) var(--animation-easing), transform var(--animation-speed) var(--animation-easing);
    &:active {
      transform: scale(0.9);
    }
  }

  .link {
    text-decoration: none;
    text-decoration-color: currentcolor;

    &:hover {
      color: var(--color-primary-button-hover-text);
      text-decoration-color: transparent;
    }

    &.link--underline {
      --offset-underline: 1rem;
      text-decoration: underline;
      text-underline-offset: var(--offset-underline);
    }

    &.link--hover-underline:hover {
      text-decoration: underline;
      text-decoration-color: currentcolor;
    }
  }

  @media (prefers-reduced-motion: no-preference) and (hover: hover) {
    .group-block-content .link--reveal {
      position: relative;
      overflow: hidden;
      display: inline-block;
      color: transparent !important;

      .text-mask {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        color: var(--color-foreground);
        transition: transform var(--animation-slowest-smooth);
        transform: translateY(100%);
      }
    }

    .group-block-content:hover .link--reveal .text-mask {
      transform: translateY(0);
    }

    .group-block-content .link--reveal.link--underline {
      padding-bottom: var(--offset-underline);
      .text-mask {
        text-decoration: underline;
        text-underline-offset: var(--offset-underline);
      }
    }
  }
{% endstylesheet %}
