{% doc %}
  Intended for use in a block similar to the button block.

  @param {string} link - link to render
  @param {object} [block] - The block
  @param {string} [style_class] - The style class
  @param {string} [link_underline] - The link underline
  @param {string} [link_hover_underline] - The link hover underline
  @param {string} [link_reveal] - The link reveal
  @param {string} [open_in_new_tab] - The open in new tab
  @param {string} [shopify_attributes] - The shopify attributes
  @param {string} [label] - The label
  @param {string} [button_style] - The button style
  @param {string} [class] - The class
  @param {string} [icon] - The icon

  @example
  {% render 'button', link: '/collections/all' %}
{% enddoc %}

{%- liquid
  assign link = link | default: block.settings.link
  assign style_class = style_class | default: block.settings.style_class
  assign link_underline = link_underline | default: block.settings.link_underline
  assign link_hover_underline = link_hover_underline | default: block.settings.link_hover_underline
  assign link_reveal = link_reveal | default: block.settings.link_reveal
  assign open_in_new_tab = open_in_new_tab | default: block.settings.open_in_new_tab
  assign shopify_attributes = shopify_attributes | default: block.shopify_attributes
  assign label = label | default: block.settings.label
  assign button_style = button_style | default: block.settings.button_style
  assign wrap = wrap | default: block.settings.wrap
  assign font_style = font_style | default: block.settings.font_style
-%}
<a
  {% if link == blank %}
    role="link"
    aria-disabled="true"
  {% else %}
    href="{{ link }}"
  {% endif %}
  class="
    {{ class }}
    size-style
    {{ style_class }}
    {% if style_class == 'link' %}link--hover-underline{% endif %}
    {% if link_reveal and style_class == 'link' %}link--reveal{% endif %}
    {% if link_underline %}link--underline{% endif %}
    {% if link_hover_underline and style_class == 'link' %}link--hover-underline{% endif %}
    {% if button_style == 'outline' %}button--outline{% endif %}
    {{ style_class }}--{{ block.id }}
  "
  style="
    {% render 'size-style', settings: block.settings %}
    {% render 'button-style', settings: block.settings %}
    {{ style }}
    {% if style_class == 'link' %}
      {% render 'typography-style', settings: block.settings, button_link: true, font_style: font_style %}
    {% endif %}
  "
  {%- if open_in_new_tab -%}
    target="_blank"
    rel="noopener noreferrer"
  {%- endif -%}
  {{ shopify_attributes }}
  {% if link_reveal and style_class == 'link' %}
    data-text="{{ label }}"
  {% endif %}
  {{ shopify_attributes }}
>
  {%- if style_class == 'button' -%}
    <span class="button-overflow relative overflow-hidden">
      <span class="button-text-main inline-block relative z-1">
        {{ label }}
      </span>
      <span class="button-text-hover absolute top-0 left-0 w-full h-full inline-block">
        {{ label }}
      </span>
    </span>
  {%- else -%}
    {{ label }}
  {%- endif -%}

  {% if link_reveal and style_class == 'link' %}
    <span class="text-mask none" data-text="{{ label }}">{{ label }}</span>
  {% endif %}
  {% if icon %}
    {{ icon }}
  {% endif %}
</a>

{% stylesheet %}
  .button.button--outline,
  .button-secondary.button--outline {
    --button-color: var(--button-background-color);
    --border-outline-color: var(--button-background-color);
    background-color: transparent;
    border: 1px solid var(--border-outline-color);
  }

  .button {
    --tss: transform var(--animation-slowest-smooth);
    transition: color var(--animation-speed) var(--animation-easing),
      box-shadow var(--animation-speed) var(--animation-easing),
      background-color var(--animation-speed) var(--animation-easing),
      transform var(--animation-speed) var(--animation-easing);
    position: relative;
    overflow: hidden;
    isolation: isolate;
    background-color: var(--color-primary-button-background);

    &:not(.deferred-media__poster, .prevent-active):active {
      transform: scale(0.9);
    }

    .button-text-main {
      transition: var(--tss);
    }

    .button-text-hover {
      transform: translateY(100%);
      transition: var(--tss);
    }

    &:after {
      content: '';
      position: absolute;
      inset: 0;
      width: 120%;
      height: 100%;
      background-color: var(--color-primary-button-hover-background);
      backface-visibility: hidden;
      will-change: transform;
      transform: rotate3d(0, 0, 2, 20deg) translate3d(-1.2em, 105%, 0);
      transform-origin: 0% 100%;
      transition: var(--tss);
      z-index: -1;
    }

    &:hover {
      .button-text-hover {
        transform: translateY(0);
      }
      .button-text-main {
        transform: translateY(-100%);
      }
      &:after {
        transform: rotate3d(0, 0, 1, 0) translateZ(0);
        transition: var(--tss);
      }
    }
  }

  .link {
    font-size: var(--button-font-size-link, var(--font-size--sm));
    font-weight: var(--button-font-weight-link, var(--font-body--weight));
    text-decoration: none;
    text-decoration-color: currentcolor;
    text-wrap: var(--text-wrap);
    text-transform: var(--text-transform);
    &[style*='--button-font-size-link'] {
      font-size: var(--button-font-size-link);
    }

    &:hover {
      text-decoration-color: transparent;
    }
  }

  .link--underline,
  .link--hover-underline .text,
  .link--hover-underline:not(:has(.text)) {
    --line-link-gap: min(100%, 1.35em);
    transition: background-size var(--animation-slowest-smooth);
    text-decoration: none;
  }

  .link--underline {
    background: linear-gradient(to right, currentColor, currentColor) 0 var(--line-link-gap) / 0 1px no-repeat;
    background-position-y: bottom;
    background-position-x: left;
    background-size: 100% 1px;
  }

  .link--hover-underline .text,
  .link--hover-underline:not(:has(.text)) {
    background: linear-gradient(to left, currentColor, currentColor) 0 var(--line-link-gap) / 0 1px no-repeat;
    background-position-y: bottom;
    background-position-x: right;
  }

  @media (prefers-reduced-motion: no-preference) and (hover: hover) {
    .instagram-item .link--reveal,
    .group-block-content .link--reveal {
      position: relative;
      overflow: hidden;
      display: inline-block;
      color: transparent !important;

      .text-mask {
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        color: var(--color-primary);
        transition: transform var(--animation-slowest-smooth);
        transform: translateY(100%);
      }
    }

    .group-block-content:hover .link--reveal .text-mask,
    .instagram-item:hover .link--reveal .text-mask {
      transform: translateY(0);
    }

    .group-block-content .link--reveal.link--underline,
    .instagram-item .link--reveal.link--underline {
      padding-bottom: var(--offset-underline);
      .text-mask {
        text-decoration: underline;
        text-underline-offset: var(--offset-underline);
      }
    }

    .link--hover-underline:hover .text,
    .link--hover-underline:not(:has(.text)):hover {
      background-position-x: left;
      background-size: 100% 1px;
    }

    .link--underline:hover {
      background-position-x: right;
      background-size: 0% 1px;
    }
  }
{% endstylesheet %}
