<h3 class="card__heading" {% if card_product.featured_media == null and settings.card_style == 'standard' %}id="title-{{ section_id }}-{{ card_product.id }}"{% endif %}>
    <a
        href="{{ card_product.url }}"
        id="StandardCardNoMediaLink-{{ section_id }}-{{ card_product.id }}"
        class="full-unstyled-link card-title-change"
        aria-labelledby="StandardCardNoMediaLink-{{ section_id }}-{{ card_product.id }} NoMediaStandardBadge-{{ section_id }}-{{ card_product.id }}"
    >
        {{ card_product.title | escape }}
        <span data-change-title></span>
    </a>
</h3>