{% comment %}
  Renders a header functions.

  Accepts:
  - enable_cart: {Boolean}
  - enable_wishlist: {Boolean}

  Usage:
  {% render 'header-functions', enable_cart: true, enable_wishlist: true %}
{% endcomment %}

{%- if enable_wishlist -%}
  {% capture wishlist_icon %}
    <svg
      class="icon icon-heart"
      aria-hidden="true"
      focusable="false"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 20 20"
      width="16"
      height="16"
    >
      {% render 'icon', icon: 'heart' %}
    </svg>
  {% endcapture %}

  <a
    href="{% if settings.link_wishlist != blank %}{{ settings.link_wishlist }}{% else %}{{ pages['wish-list'].url }}{% endif %}"
    class="header__icon header-wishlist header__icon--wishlist button focus-inset max-md:hidden svg-slide-up"
  >
    <span class="svg-wrapper">
      {{ wishlist_icon }}
      {{ wishlist_icon }}
    </span>
    <span class="wishlist-text visually-hidden{% if block.settings.show_wishlist_number %} show_wishlist_number{% endif %}">
      {{- 'content.wishlist' | t -}}
    </span>
    {%- if block.settings.show_wishlist_number -%}
      <div class="wishlist-count-bubble">
        <span class="text" aria-hidden="true" data-wishlist-count></span
        ><span class="visually-hidden">{{ 'content.wishlist' | t }}</span>
      </div>
    {%- endif -%}
  </a>
{%- endif -%}

{%- if enable_cart -%}
  {%- if request.page_type != 'cart' and settings.cart_type == 'drawer' -%}
    <side-drawer-opener
      class="header__icon header-actions header__icon--cart link no-js-hidden"
      data-side-drawer="#Cart-Drawer"
    >
      <button
        class="t-button bor-none cursor-pointer p-0 color-foreground bg-transparent focus-inset cart-icon--drawer"
        type="button"
        aria-haspopup="dialog"
        aria-label="{{ 'content.cart_count' | t: count: cart.item_count }}"
        id="cart-icon-bubble"
      >
        {% if cart == empty %}
          <span class="svg-wrapper">{{ 'icon-cart-empty.svg' | inline_asset_content }}</span>
        {% else %}
          <span class="svg-wrapper">{{ 'icon-cart.svg' | inline_asset_content }}</span>
        {% endif %}
        <span class="visually-hidden">{{ 'content.cart_title' | t }}</span>
        {%- if cart != empty -%}
          <div class="cart-count-bubble">
            <span aria-hidden="true">
              {%- if cart.item_count < 100 -%}
                {{ cart.item_count }}
              {%- else -%}
                {{ 'content.cart_count_max.more' | t }}
              {%- endif -%}
            </span>
            <span class="visually-hidden">{{ 'content.cart_count' | t: count: cart.item_count }}</span>
          </div>
        {%- endif -%}
      </button>
    </side-drawer-opener>
    <noscript>
      <a
        href="{{ routes.cart_url }}"
        class="header__icon header__icon--cart button focus-inset cart-icon--drawer header-actions svg-slide-up"
      >
        {% if cart == empty %}
          <span class="svg-wrapper">
            {{ 'icon-cart-empty.svg' | inline_asset_content }}
            {{ 'icon-cart-empty.svg' | inline_asset_content }}
          </span>
        {% else %}
          <span class="svg-wrapper">
            {{ 'icon-cart.svg' | inline_asset_content }}
            {{ 'icon-cart.svg' | inline_asset_content }}
          </span>
        {% endif %}
        <span class="visually-hidden">{{ 'content.cart_title' | t }}</span>
        {%- if cart != empty -%}
          <div class="cart-count-bubble">
            <span aria-hidden="true">
              {%- if cart.item_count < 100 -%}
                {{ cart.item_count }}
              {%- else -%}
                {{ 'content.cart_count_max.more' | t }}
              {%- endif -%}
            </span>
            <span class="visually-hidden">{{ 'content.cart_count' | t: count: cart.item_count }}</span>
          </div>
        {%- endif -%}
      </a>
    </noscript>
  {%- else -%}
    <a
      href="{{ routes.cart_url }}"
      class="header__icon header__icon--cart button focus-inset cart-icon--drawer header-actions svg-slide-up"
      id="cart-icon-bubble"
    >
      {% if cart == empty %}
        <span class="svg-wrapper">
          {{ 'icon-cart-empty.svg' | inline_asset_content }}
          {{ 'icon-cart-empty.svg' | inline_asset_content }}
        </span>
      {% else %}
        <span class="svg-wrapper">
          {{ 'icon-cart.svg' | inline_asset_content }}
          {{ 'icon-cart.svg' | inline_asset_content }}
        </span>
      {% endif %}
      <span class="visually-hidden">{{ 'content.cart_title' | t }}</span>
      {%- if cart != empty -%}
        <div class="cart-count-bubble">
          <span aria-hidden="true">
            {%- if cart.item_count < 100 -%}
              {{ cart.item_count }}
            {%- else -%}
              {{ 'content.cart_count_max.more' | t }}
            {%- endif -%}
          </span>
          <span class="visually-hidden">{{ 'content.cart_count' | t: count: cart.item_count }}</span>
        </div>
      {%- endif -%}
    </a>
  {%- endif -%}
{%- endif -%}
