{% comment %}
  Renders a vertical menu for the header.

  Usage:
  {% render 'header-menu-vertical' %}
{% endcomment %}

<details class="header__vertical-menu pos-relative lg:block w-fit">
  <summary>
    <span class="svg-wrapper">
      {{- 'icon-hamburger.svg' | inline_asset_content -}}
    </span>
    {{ block.settings.vertical_menu_title }}
  </summary>

  <ul
    class="list-unstyled pos-absolute top-full left-0 z-index-100 bg-white wid-100 details__list color-{{block.settings.color_scheme_vertical_menu}} global-settings-popup"
    style="--pad-a-a:20px;"
  >
    {% for link in block.settings.menu.links %}
      <li>
        {%- if link.links != blank -%}
          {%- liquid
            assign megamenu = section.blocks | where: 'type', 'mega_menu'
            assign check_megamenu = false
            if megamenu.size > 0
              assign check_megamenu = true
            endif

            assign has_megamenu = false
            assign menu_title = link.title | escape | downcase | handle

            for block in section.blocks
              assign block_title = block.settings.menu_item | escape | downcase | handle
              if block_title == menu_title
                assign block = block
                assign has_megamenu = true
              endif
            endfor

            if check_megamenu and has_megamenu
              render 'header-mega-menu', link: link, forloopIndex: forloop.index, block: block
            else
              render 'header-dropdown-menu', link: link, forloopIndex: forloop.index
            endif
          -%}
        {%- else -%}
          <a
            id="HeaderMenu-{{ link.handle }}"
            href="{{ link.url }}"
            class="verical-menu__item link link--text focus-inset"
            {% if link.current %}
              aria-current="page"
            {% endif %}
          >
            <span
              {%- if link.current %}
                class="header__active-menu-item"
              {% endif %}
            >
              {{- link.title | escape -}}
            </span>
          </a>
        {%- endif -%}
      </li>
    {% endfor %}
  </ul>
</details>