{% comment %}
  Renders a header drawer menu for mobile and desktop.

  Usage:
  {% render 'header-drawer' %}
{% endcomment %}

<link rel="stylesheet" href="{{ 'component-menu-drawer.css' | asset_url }}" media="print" onload="this.media='all'">

{%- liquid
  if localization.available_countries.size > 1 and section.settings.show_country or section.settings.show_language and localization.available_languages.size > 1
    assign localization_forms = true
  endif
-%}

<side-drawer
  class="drawer__container drawer drawer--menu fixed top-0 left-0 w-screen h-full z-9 flex no-js-hidden"
  id="Drawer-Menu"
  data-drawer-direction="left"
>
  <div id="Drawer-Overlay-Menu" class="drawer__overlay fixed inset-0 cursor-pointer"></div>
  <header-drawer class="side-drawer" data-drawer-content data-breakpoint="tablet">
    <div
      class="drawer__inner d-flex flex-column h-full"
      role="dialog"
      aria-modal="true"
      aria-label="{{ 'accessibility.menu' | t }}"
      tabindex="-1"
    >
      <div class="drawer__header flex justify-end items-center relative" style="--p: 1.5rem 0;">
        <button
          class="drawer__close block t-button bor-none rounded-full cursor-pointer"
          type="button"
          onclick="this.closest('side-drawer').close()"
          aria-label="{{ 'accessibility.close_dialog' | t }}"
          style="--top: 0.3rem; --right: 0.3rem;"
        >
          {{- 'icon-close.svg' | inline_asset_content -}}
        </button>
      </div>
      <div class="drawer__wrapper menu-drawer relative h-full motion-reduce color-{{ section.settings.menu_color_scheme }}">
        <div class="menu-drawer__navigation-container cus-scrollbar">
          <nav class="menu-drawer__navigation">
            <ul class="menu-drawer__menu has-submenu list-menu" role="list">
              {%- for link in section.settings.menu.links -%}
                <li>
                  {%- if link.links != blank -%}
                    <details id="Details-menu-drawer-menu-item-{{ forloop.index }}">
                      <summary
                        id="HeaderDrawer-{{ link.handle }}"
                        class="menu-drawer__menu-item list-menu__item link link--text focus-inset{% if link.child_active %} menu-drawer__menu-item--active{% endif %}"
                      >
                        {{ link.title | escape }}
                        <span class="svg-wrapper">
                          {{- 'icon-arrow.svg' | inline_asset_content -}}
                        </span>
                        <span class="svg-wrapper">
                          {{- 'icon-caret.svg' | inline_asset_content -}}
                        </span>
                      </summary>
                      <div
                        id="link-{{ link.handle | escape }}"
                        class="menu-drawer__submenu has-submenu motion-reduce"
                        tabindex="-1"
                      >
                        <div class="menu-drawer__inner-submenu">
                          <button class="menu-drawer__close-button link link--text focus-inset" aria-expanded="true">
                            <span class="svg-wrapper">
                              {{- 'icon-arrow.svg' | inline_asset_content -}}
                            </span>
                            {{ link.title | escape }}
                          </button>
                          <ul class="menu-drawer__menu list-menu" role="list" tabindex="-1">
                            <li>
                              <a
                                id="Goto-HeaderDrawer-{{ link.handle }}"
                                href="{{ link.url }}"
                                class="menu-drawer__menu-item link link--text list-menu__item focus-inset link--go-to"
                                {% if childlink.current %}
                                  aria-current="page"
                                {% endif %}
                              >
                                {{ 'content.go_to' | t: name: link.title | escape }}
                              </a>
                            </li>
                            {%- for childlink in link.links -%}
                              <li>
                                {%- if childlink.links == blank -%}
                                  <a
                                    id="HeaderDrawer-{{ link.handle }}-{{ childlink.handle }}"
                                    href="{{ childlink.url }}"
                                    class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if childlink.current %} menu-drawer__menu-item--active{% endif %}"
                                    {% if childlink.current %}
                                      aria-current="page"
                                    {% endif %}
                                  >
                                    {{ childlink.title | escape }}
                                  </a>
                                {%- else -%}
                                  <details id="Details-menu-drawer-{{ link.handle }}-{{ childlink.handle }}">
                                    <summary
                                      id="HeaderDrawer-{{ link.handle }}-{{ childlink.handle }}"
                                      class="menu-drawer__menu-item link link--text list-menu__item focus-inset"
                                    >
                                      {{ childlink.title | escape }}
                                      <span class="svg-wrapper">
                                        {{- 'icon-arrow.svg' | inline_asset_content -}}
                                      </span>
                                      <span class="svg-wrapper">
                                        {{- 'icon-caret.svg' | inline_asset_content -}}
                                      </span>
                                    </summary>
                                    <div
                                      id="childlink-{{ childlink.handle | escape }}"
                                      class="menu-drawer__submenu has-submenu motion-reduce"
                                    >
                                      <button
                                        class="menu-drawer__close-button link link--text focus-inset"
                                        aria-expanded="true"
                                      >
                                        <span class="svg-wrapper">
                                          {{- 'icon-arrow.svg' | inline_asset_content -}}
                                        </span>
                                        {{ childlink.title | escape }}
                                      </button>
                                      <ul
                                        class="menu-drawer__menu list-menu"
                                        role="list"
                                        tabindex="-1"
                                      >
                                        <li>
                                          <a
                                            id="Goto-HeaderDrawer-{{ link.handle }}-{{ childlink.handle }}"
                                            href="{{ childlink.url }}"
                                            class="menu-drawer__menu-item link link--text list-menu__item focus-inset link--go-to"
                                            {% if grandchildlink.current %}
                                              aria-current="page"
                                            {% endif %}
                                          >
                                            {{ 'content.go_to' | t: name: childlink.title | escape }}
                                          </a>
                                        </li>
                                        {%- for grandchildlink in childlink.links -%}
                                          <li>
                                            <a
                                              id="HeaderDrawer-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}"
                                              href="{{ grandchildlink.url }}"
                                              class="menu-drawer__menu-item link link--text list-menu__item focus-inset{% if grandchildlink.current %} menu-drawer__menu-item--active{% endif %}"
                                              {% if grandchildlink.current %}
                                                aria-current="page"
                                              {% endif %}
                                            >
                                              {{ grandchildlink.title | escape }}
                                            </a>
                                          </li>
                                        {%- endfor -%}
                                      </ul>
                                    </div>
                                  </details>
                                {%- endif -%}
                              </li>
                            {%- endfor -%}
                          </ul>
                        </div>
                      </div>
                    </details>
                  {%- else -%}
                    <a
                      id="HeaderDrawer-{{ link.handle }}"
                      href="{{ link.url }}"
                      class="menu-drawer__menu-item list-menu__item link link--text focus-inset{% if link.current %} menu-drawer__menu-item--active{% endif %}"
                      {% if link.current %}
                        aria-current="page"
                      {% endif %}
                    >
                      {{ link.title | escape }}
                    </a>
                  {%- endif -%}
                </li>
              {%- endfor -%}
            </ul>
          </nav>
          {%- render 'menu-drawer-utility', settings: section.settings -%}
          {% comment %} <div class="menu-drawer__utility-links">
            {%- if shop.customer_accounts_enabled -%}
              <a
                href="{%- if customer -%}{{ routes.account_url }}{%- else -%}{{ routes.account_login_url }}{%- endif -%}"
                class="menu-drawer__account link focus-inset h5 medium-hide large-up-hide"
                rel="nofollow"
              >
                {%- if block.settings.enable_customer_avatar -%}
                  <account-icon>
                    {%- if customer and customer.has_avatar? -%}
                      {{ customer | avatar }}
                    {%- else -%}
                      <span class="svg-wrapper">
                        {{- 'icon-account.svg' | inline_asset_content -}}
                      </span>
                    {%- endif -%}
                  </account-icon>
                {%- else -%}
                  <span class="svg-wrapper">
                    {{- 'icon-account.svg' | inline_asset_content -}}
                  </span>
                {%- endif -%}
                {%- liquid
                  if customer
                    echo 'customer.account_fallback' | t
                  else
                    echo 'customer.log_in' | t
                  endif
                -%}
              </a>
            {%- endif -%}
            {%- if localization_forms -%}
              <div class="menu-drawer__localization header-localization">
                {%- if localization.available_countries and localization.available_countries.size > 1 -%}
                  <localization-form>
                    {%- form 'localization', id: 'HeaderCountryMobileForm', class: 'localization-form' -%}
                      <div>
                        <h2 class="visually-hidden" id="HeaderCountryMobileLabel">
                          {{ 'accessibility.country_region' | t }}
                        </h2>
                        {%- render 'country-localization', localPosition: 'HeaderCountryMobile' -%}
                      </div>
                    {%- endform -%}
                  </localization-form>
                {% endif %}

                {%- if localization.available_languages and localization.available_languages.size > 1 -%}
                  <localization-form>
                    {%- form 'localization', id: 'HeaderLanguageMobileForm', class: 'localization-form' -%}
                      <div>
                        <h2 class="visually-hidden" id="HeaderLanguageMobileLabel">
                          {{ 'content.language' | t }}
                        </h2>
                        {%- render 'language-localization', localPosition: 'HeaderLanguageMobile' -%}
                      </div>
                    {%- endform -%}
                  </localization-form>
                {%- endif -%}
              </div>
            {%- endif -%}
            {%- if block.settings.mobile_show_social -%}
              {% render 'social-icons', class: 'list' %}
            {%- endif -%}
          </div> {% endcomment %}
        </div>
      </div>
    </div>
  </header-drawer>
</side-drawer>

{% stylesheet %}
  .drawer--menu .drawer__close {
    position: relative;
    right: 0;
    top: 0;
    z-index: var(--layer-heightened);
  }

  .menu-drawer__back-button {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: var(--padding-md) var(--minimum-touch-target) var(--padding-md) var(--padding-xl);
    border: none;
    color: var(--color-foreground);
    background-color: transparent;
    text-align: left;
    text-decoration: none;
    white-space: nowrap;
    overflow-x: hidden;
    line-height: 1.2;
    box-shadow: none;
    letter-spacing: normal;
  }

  .menu-drawer__back-button > .svg-wrapper {
    margin-right: var(--padding-md);
    width: var(--icon-size-xs);
    height: var(--icon-size-xs);
  }

  .menu-drawer {
    svg {
      width: var(--icon-size-xs);
      height: var(--icon-size-xs);
    }

    .disclosure__list-wrapper {
      opacity: var(--opacity-0);
      visibility: hidden;
      transform: translateY(0);
      transition-property: opacity, visibility, transform;
      transition-duration: var(--duration-medium);
      transition-timing-function: var(--cubic-smooth);
    }

    .selector__dropdown .disclosure__list-wrapper {
      transform: translate(-5%);
      border-radius: 0;
      border: none;
      z-index: var(--layer-raised);
    }

    .selector__dropdown.active .disclosure__list-wrapper {
      transform: translate(0);
      opacity: var(--opacity-100);
      visibility: visible;
    }

    .country-selector-form__wrapper .country-selector__list,
    .localization-form--language {
      padding-inline: var(--padding-xl);
    }

    .disclosure-has-popup[open] > summary::before {
      position: absolute;
    }

    .details--dropdown .details__list {
      top: unset;
      bottom: 100%;
    }

    .country-selector-form__wrapper .localization-form:only-child {
      padding: 0;
      width: 100%;
    }

    .country-filter,
    .language-filler {
      padding-inline: var(--padding-xl);
    }

    .language-selector localization-form {
      height: 100%;
      display: flex;
    }
  }
{% endstylesheet %}
