{% comment %}
  Renders a vertical menu for the header.

  Usage:
  {% render 'header-menu-vertical' %}
{% endcomment %}

<details class="header__vertical-menu relative lg:block w-fit">
  <summary>
    <span class="svg-wrapper">
      {{- 'icon-hamburger.svg' | inline_asset_content -}}
    </span>
    <span>{{ bl_stts.vertical_menu_title }}</span>
  </summary>

  <nav class="vertical-menu absolute top-full left-0 z-100 bg-white w-full details__list color-{{bl_stts.color_scheme_vertical_menu}} global-settings-popup">
    <ul
      class="list-unstyled relative"
      style="--p: 20px 0; "
    >
      {% for link in bl_stts.vertical_menu.links %}
        <li>
          {%- if link.links != blank -%}
            {%- liquid
              assign mega_menu_1 = blocks | where: 'type', 'mega_menu_1'
              assign mega_menu_2 = blocks | where: 'type', 'mega_menu_2'
              assign mega_menu_3 = blocks | where: 'type', 'mega_menu_3'

              assign check_mega_menu_1 = false
              assign check_mega_menu_2 = false
              assign check_mega_menu_3 = false

              assign has_mega_menu_1 = false
              assign has_mega_menu_2 = false
              assign has_mega_menu_3 = false

              assign menu_title = link.title | escape | downcase | handle

              if mega_menu_1.size > 0
                assign check_mega_menu_1 = true
              endif
              for block in mega_menu_1
                assign block_title = block.settings.menu_item | escape | downcase | handle
                if block_title == menu_title
                  assign block = block
                  assign has_mega_menu_1 = true
                endif
              endfor

              if mega_menu_2.size > 0
                assign check_mega_menu_2 = true
              endif
              for block in mega_menu_2
                assign block_title = block.settings.menu_item | escape | downcase | handle
                if block_title == menu_title
                  assign block = block
                  assign has_mega_menu_2 = true
                endif
              endfor

              if mega_menu_3.size > 0
                assign check_mega_menu_3 = true
              endif
              for block in mega_menu_3
                assign block_title = block.settings.menu_item | escape | downcase | handle
                if block_title == menu_title
                  assign block = block
                  assign has_mega_menu_3 = true
                endif
              endfor

              assign icon_type = section.settings.icon_type

              if check_mega_menu_1 and has_mega_menu_1
                render 'header-mega-menu-1', link: link, forloopIndex: forloop.index, block: block, icon_type: icon_type, keys: keys, settings: section.settings
              elsif check_mega_menu_2 and has_mega_menu_2
                render 'header-mega-menu-2', link: link, forloopIndex: forloop.index, block: block, icon_type: icon_type, keys: keys, settings: section.settings
              elsif check_mega_menu_3 and has_mega_menu_3
                render 'header-mega-menu-3', link: link, forloopIndex: forloop.index, block: block, icon_type: icon_type, keys: keys, settings: section.settings
              else
                render 'header-dropdown-menu', link: link, forloopIndex: forloop.index, icon_type: icon_type, settings: section.settings
              endif
            -%}
          {%- else -%}
            <a
              id="HeaderMenu-{{ link.handle }}"
              href="{{ link.url }}"
              class="verical-menu__item link link--text focus-inset"
              {% if link.current %}
                aria-current="page"
              {% endif %}
            >
              <span
                {%- if link.current %}
                  class="header__active-menu-item"
                {% endif %}
              >
                {{- link.title | escape -}}
              </span>
            </a>
          {%- endif -%}
        </li>
      {% endfor %}
    </ul>
  </nav>
</details>
