{% comment %}
  Renders a vertical menu for the header.

  Usage:
  {% render 'header-menu-vertical' %}
{% endcomment %}

<details class="header__vertical-menu relative lg:block w-fit">
  <summary>
    <span class="svg-wrapper">
      {{- 'icon-hamburger.svg' | inline_asset_content -}}
    </span>
    <span>{{ bl_stts.vertical_menu_title }}</span>
  </summary>

  <nav class="vertical-menu absolute top-full left-0 z-100 bg-white w-full details__list color-{{bl_stts.color_scheme_vertical_menu}} global-settings-popup">
    <ul
      class="list-unstyled relative"
      style="--p: 20px 0; "
    >
      {% for link in bl_stts.vertical_menu.links %}
        <li>
          {%- if link.links != blank -%}
            {%- liquid
              assign mega_menu = blocks | where: 'type', 'mega_menu'
              assign check_mega_menu = false
              if mega_menu.size > 0
                assign check_mega_menu = true
              endif

              assign has_mega_menu = false
              assign menu_title = link.title | escape | downcase | handle

              for block in mega_menu
                assign block_title = block.settings.menu_item | escape | downcase | handle
                if block_title == menu_title
                  assign block = block
                  assign has_mega_menu = true
                endif
              endfor

              if check_mega_menu and has_mega_menu
                render 'header-mega-menu', link: link, forloopIndex: forloop.index, block: block
              else
                render 'header-dropdown-menu', link: link, forloopIndex: forloop.index
              endif
            -%}
          {%- else -%}
            <a
              id="HeaderMenu-{{ link.handle }}"
              href="{{ link.url }}"
              class="verical-menu__item link link--text focus-inset"
              {% if link.current %}
                aria-current="page"
              {% endif %}
            >
              <span
                {%- if link.current %}
                  class="header__active-menu-item"
                {% endif %}
              >
                {{- link.title | escape -}}
              </span>
            </a>
          {%- endif -%}
        </li>
      {% endfor %}
    </ul>
  </nav>
</details>