{% comment %}
  Renders a mega_menu for the header.

  Usage:
  {% render 'header-menu' %}
{% endcomment %}

{%- liquid
  assign menu_tab = blocks | where: 'type', 'menu_tab'
  if menu_tab.size > 0
    assign has_menu_tab = true
  else
    assign has_menu_tab = false
  endif
-%}

<link rel="stylesheet" href="{{ 'component-list-menu.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-mega-menu.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>
  {{ 'component-list-menu.css' | asset_url | stylesheet_tag: preload: true }}
  {{ 'component-mega-menu.css' | asset_url | stylesheet_tag: preload: true }}
</noscript>

<div
  class="header-block header-menu grid__item flex items-center justify-center"
  style="--gap-x: {{ section.settings.gap_x }}px;"
>
  {%- liquid
    assign vertical_menu_blocks = blocks | where: 'type', 'vertical_menu'

    for block in vertical_menu_blocks
      assign bl_stts = block.settings
      assign vertical_menu_style = bl_stts.vertical_menu_style
    endfor

    if vertical_menu_style == 'style_1'
      render 'header-menu-vertical', blocks: blocks, bl_stts: bl_stts
    endif

    assign keys = 'highlighted_item_,new_label_,sale_label_'
  -%}
  <div class="header__menu-wrapper" data-main-menu>
    <nav class="header__inline-menu">
      <ul class="list-menu list-menu-desktop list-menu--inline{% if has_menu_tab %} hidden{% endif %}" role="list">
        {%- for link in header_settings.menu.links -%}
          <li>
            {%- if link.links != blank -%}
              {%- liquid
                assign mega_menu_1 = blocks | where: 'type', 'mega_menu_1'
                assign mega_menu_2 = blocks | where: 'type', 'mega_menu_2'
                assign mega_menu_3 = blocks | where: 'type', 'mega_menu_3'

                assign check_mega_menu_1 = false
                assign check_mega_menu_2 = false
                assign check_mega_menu_3 = false

                assign has_mega_menu_1 = false
                assign has_mega_menu_2 = false
                assign has_mega_menu_3 = false

                assign menu_title = link.title | escape | downcase | handle

                if mega_menu_1.size > 0
                  assign check_mega_menu_1 = true
                endif
                for block in mega_menu_1
                  assign block_title = block.settings.menu_item | escape | downcase | handle
                  if block_title == menu_title
                    assign block = block
                    assign has_mega_menu_1 = true
                  endif
                endfor

                if mega_menu_2.size > 0
                  assign check_mega_menu_2 = true
                endif
                for block in mega_menu_2
                  assign block_title = block.settings.menu_item | escape | downcase | handle
                  if block_title == menu_title
                    assign block = block
                    assign has_mega_menu_2 = true
                  endif
                endfor

                if mega_menu_3.size > 0
                  assign check_mega_menu_3 = true
                endif
                for block in mega_menu_3
                  assign block_title = block.settings.menu_item | escape | downcase | handle
                  if block_title == menu_title
                    assign block = block
                    assign has_mega_menu_3 = true
                  endif
                endfor

                assign icon_type = section.settings.icon_type

                if check_mega_menu_1 and has_mega_menu_1
                  render 'header-mega-menu-1', link: link, forloopIndex: forloop.index, block: block, icon_type: icon_type, keys: keys, settings: section.settings
                elsif check_mega_menu_2 and has_mega_menu_2
                  render 'header-mega-menu-2', link: link, forloopIndex: forloop.index, block: block, icon_type: icon_type, keys: keys, settings: section.settings
                elsif check_mega_menu_3 and has_mega_menu_3
                  render 'header-mega-menu-3', link: link, forloopIndex: forloop.index, block: block, icon_type: icon_type, keys: keys, settings: section.settings
                else
                  render 'header-dropdown-menu', link: link, forloopIndex: forloop.index, icon_type: icon_type, settings: section.settings
                endif
              -%}
            {%- else -%}
              <a
                id="HeaderMenu-{{ link.handle }}"
                href="{{ link.url }}"
                class="header__menu-item list-menu__item link link--text focus-inset link--hover-underline"
                {% if link.current %}
                  aria-current="page"
                {% endif %}
              >
                <span
                  class="text{% if link.current %} header__active-menu-item{% endif %}"
                >
                  {{- link.title | escape -}}
                </span>
              </a>
            {%- endif -%}
          </li>
        {%- endfor -%}
      </ul>
    </nav>
  </div>
</div>

{%- stylesheet -%}
  .mega-menu__content:has(.mega-menu__collage-wrapper) {
    padding-bottom: 0;

    .mega-menu__list {
      padding-bottom: 3rem;
    }
  }
  .mega-menu__collage-wrapper {
    padding-block: var(--padding-4xl);
  }

  .list-menu__item.highlighted-item {
    --color-foreground: var(--highlighted-color);
    --color-foreground-rgb: var(--highlighted-color-rgb);
  }

  .list-menu__item .label-wrapper {
    position: absolute;
    right: 7px;
    top: -9px;
  }

  .header__menu-item {
    position: relative;
  }

  .header__inline-menu .label-wrapper {
    display: inline-flex;
    align-items: center;
    gap: var(--gap-xs);
    font-size: 1.2rem;
    pointer-events: none;
  }

  .header__inline-menu .label {
    display: inline-block;
    height: 15px;
    text-transform: capitalize;
    text-align: center;
    border-radius: var(--badge-corner-radius);
    padding: 0 var(--padding-xs);
    position: relative;
    color: var(--color-foreground);
    background-color: var(--color-background);

    &::before {
      content: '';
      position: absolute;
      left: 50%;
      bottom: -9px;
      transform: translate(-50%) rotate(180deg);
      border: 5px solid transparent;
      border-bottom-color: var(--color-background);
    }

    &.new-label {
      --color-foreground: var(--new-color);
      --color-foreground-rgb: var(--new-color-rgb);
      --color-background: var(--new-bg);
      --color-background-rgb: var(--new-bg-rgb);
    }

    &.sale-label {
      --color-foreground: var(--sale-color);
      --color-foreground-rgb: var(--sale-color-rgb);
      --color-background: var(--sale-bg);
      --color-background-rgb: var(--sale-bg-rgb);
    }
  }

  .mega-menu__content .label-wrapper {
    margin-left: var(--margin-xs);
  }

  .mega-menu__content .label:before {
    left: -8px;
    top: 50%;
    bottom: auto;
    transform: translateY(-50%) rotate(270deg);
  }
{%- endstylesheet -%}
