{%- liquid
  assign sec_stts = section.settings

  assign use_inverse_logo = false

  if sec_stts.enable_transparent_header_home and template.name == 'index' and sec_stts.home_color_scheme == 'inverse'
    assign use_inverse_logo = true
  elsif sec_stts.enable_transparent_header_product and template.name == 'product' and sec_stts.product_color_scheme == 'inverse'
    assign use_inverse_logo = true
  elsif sec_stts.enable_transparent_header_collection and template.name == 'collection' and sec_stts.collection_color_scheme == 'inverse'
    assign use_inverse_logo = true
  endif

  if use_inverse_logo
    if settings.logo_inverse != blank
      assign inverse_logo = settings.logo_inverse
    else
      assign inverse_logo = settings.logo
    endif
  endif

  if sec_stts.logo_width == blank
    assign logo_width = settings.logo.width
    assign logo_width_mobile = settings.logo.width
    assign logo_height = settings.logo.height
    assign logo_height_mobile = settings.logo.height
  else
    assign logo_width = sec_stts.logo_width
    assign logo_width_mobile = sec_stts.logo_width_mobile
    assign logo_height = sec_stts.logo_width | divided_by: settings.logo.aspect_ratio | ceil
    assign logo_height_mobile = sec_stts.logo_width_mobile | divided_by: settings.logo.aspect_ratio | ceil
  endif

  assign logo_style = '--header-logo-image-width: ' | append: logo_width | append: 'px;' | append: '--header-logo-image-width-mobile: ' | append: logo_width_mobile | append: 'px; --header-logo-image-height: ' | append: logo_height | append: 'px; --header-logo-image-height-mobile: ' | append: logo_height_mobile | append: 'px;'

-%}
  {% comment %} assign inverse_logo_height = sec_stts.logo_width | divided_by: inverse_logo.aspect_ratio | ceil
  assign inverse_logo_height_mobile = sec_stts.logo_width_mobile | divided_by: inverse_logo.aspect_ratio | ceil {% endcomment %}
  {% comment %} assign inverse_logo_style = '--header-logo-inverse-image-width: ' | append: sec_stts.logo_width | append: 'px;' | append: '--header-logo-inverse-image-width-mobile: ' | append: sec_stts.logo_width_mobile | append: 'px; --header-logo-inverse-image-height: ' | append: inverse_logo_height | append: 'px; --header-logo-inverse-image-height-mobile: ' | append: inverse_logo_height_mobile | append: 'px;' {% endcomment %}
<div
  class="
    header-block header-logo grid__item block {{ class }}
  "
>
  {%- if request.page_type == 'index' -%}
    <h1 class="header__heading">
  {%- endif -%}
  <a href="{{ routes.root_url }}" class="header__heading-link link--text focus-inset" data-logo-page arial-label="{{ shop.name }}">
    <div class="header__heading-logo-wrapper w-full inline-block">
      {%- capture text_fallback -%}
        <span class="h2">{{ shop.name }}</span>
      {%- endcapture -%}

      <span
        class="header-logo__image-container header-logo__image-container--original relative{% if use_inverse_logo %} header-logo__image-container--inverse{% endif %}"
        data-testid="header-logo"
        style="
            --url-image: url({{ settings.logo | image_url: width: section.settings.logo_width }});
          {% if use_inverse_logo %}
            --url-image-inverse: url({{ inverse_logo | image_url: width: section.settings.logo_width }});
          {% endif %}
          {{ logo_style }}
        "
      >
      </span>

      {% if preload_screen %}
        <div class="loading-bar overflow-hidden"></div>
      {% endif %}
    </div>
  </a>
  {%- if request.page_type == 'index' -%}
    </h1>
  {%- endif -%}
</div>

{%- stylesheet -%}

  .header-logo__image-container {
    width: var(--header-logo-image-width);
    height: var(--header-logo-image-height);
    display: block;

    @media screen and (max-width: 749px) {
      width: var(--header-logo-image-width-mobile);
      height: var(--header-logo-image-height-mobile);
    }

    @media screen and (max-width: 375px) {
      width: calc(var(--header-logo-image-width-mobile) * 0.5);
      height: calc(var(--header-logo-image-height-mobile) * 0.5);
    }

    &::after, &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        display: block;
        transition: opacity var(--animation-speed-slowest);
    }

    &:before {
      background: var(--url-image) no-repeat center center / contain;
      opacity: var(--header-logo-opacity);
    }
    &:after {
      background: var(--url-image-inverse) no-repeat center center / contain;
      opacity: var(--header-logo-inverse-opacity);
    }
  }

  /* .header-logo:has(.header-logo__image-container--inverse) .header-logo__image-container--original {
    --header-logo-opacity: 1;
  }

  .header-logo__image-container--inverse {
    --header-logo-inverse-opacity: 0;
  }

  .header-logo:not(:has(.header-logo__image-container--inverse)) .header-logo__image-container--original {
    --header-logo-opacity: 0;
    --header-logo-inverse-opacity: 1;
  } */

  /* mint update */
  /* .header[transparent]:has(.details--dropdown:is(:hover)) .header-logo:has(.header-logo__image-container--inverse) .header-logo__image-container--original,
  .header[data-sticky-state="active"] .header-logo:has(.header-logo__image-container--inverse) .header-logo__image-container--original {
    --header-logo-opacity: 0;
    --header-logo-inverse-opacity: 1;
  } */
{%- endstylesheet -%}
