{% comment %}
  Renders a megamenu for the header.

  Usage:
  {% render 'header-mega-menu' %}
{% endcomment %}

{%- liquid
  assign bl_stts = block.settings
  assign banner_row = bl_stts.banner_row
  assign has_mega_menu_images = false
  if bl_stts.show_promotion_banner
    if bl_stts.image_1 != blank
      assign has_mega_menu_images = true
      assign mega_menu_images_size = 0
    endif
  endif
-%}

{%- capture banner -%}
  {%- if has_mega_menu_images == true -%}
    {%- liquid
      assign image = bl_stts.image_1
      assign link_url = bl_stts.link_url_1
    -%}
    {%- if image != blank -%}
      <div class="collage__item collage__item--2 overflow-hidden">
        <a
          class="block relative h-full"
          {% if link_url != blank %}
            href="{{ link_url }}"
          {% else %}
            role="link" aria-disabled="true"
          {% endif %}
        >
          {%- if settings.animations_reveal_on_scroll -%}
            <div data-animate="zoom-fade-in" class="theme-animate block overflow-hidden relative h-full">
          {%- endif -%}
          {%- liquid
            assign ratio = image.aspect_ratio | default: 1
            assign image_alt = image.alt | default: shop.name | escape
            assign widths = '300, 450, 600, 750, 900, 1050, 1200, 1350, 1500, 1650, 1800, 1950, 2000, 2500, 3000, 3500, 4000, 5000'
            assign sizes = 'auto, (min-width: 750px) 50vw, 100vw'
          -%}
          <div
            class="media media--transparent media--adapt"
            style="--media-adapt-ratio: {{ ratio }};"
          >
            {{
              image
              | image_url: width: 1950
              | image_tag:
                loading: 'lazy',
                widths: widths,
                sizes: sizes,
                alt: image_alt,
                class: 'motion-reduce'
            }}
          </div>
          {%- if settings.animations_reveal_on_scroll -%}
            </div>
          {%- endif -%}
        </a>
      </div>
    {%- endif -%}
  {%- endif -%}
{%- endcapture -%}

<header-menu class="{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
  <details
    id="Details-HeaderMenu-{{ forloopIndex }}"
    class="details--dropdown mega-menu mega-menu-style-3"
    is="dropdown-details"
    activate-event="hover"
    check-shopify-design-mode
    {{ block.shopify_attributes }}
  >
    <summary
      id="HeaderMenu-{{ link.handle }}"
      class="details__summary list-menu__item menu__link--level-1 header__menu-item list-menu__item link focus-inset link--hover-underline"
      {%- if link.links != blank -%}
        aria-controls="submenu-{{ forloop.index }}"
        aria-haspopup="true"
        aria-expanded="false"
      {%- endif -%}
    >
      <span
        {%- if link.child_active %}
          class="header__active-menu-item"
        {% endif %}
      >
        {{- link.title | escape -}}
      </span>
      {% if icon_type == 'caret' %}
        <span class="svg-wrapper">
            {{- 'icon-caret.svg' | inline_asset_content -}}
          </span>
      {% endif %}
    </summary>
    <div
      id="MegaMenu-Content-{{ forloopIndex }}"
      class="details__list list-menu--wrapper mega-menu__content z-1 color-{{ section.settings.menu_color_scheme }} motion-reduce global-settings-popup"
      tabindex="-1"
      style="--columns-count: {{ bl_stts.grid }}; --gap-x: 1.6rem; --gap-y: 1.6rem"
    >
      <div class="page-width page-width--{{ bl_stts.width }}">
        {%- if banner_row == 'top' -%}
          <div class="collage collage-2-columns">
        {%- endif -%}

        <ul
          class="
            mega-menu__list header__mega-submenu
            {% if banner_row == 'top' %} collage__item collage__item--1{% endif %}
            {% if link.levels == 1 %} mega-menu__list--condensed{% endif %}
          "
          role="list"
        >
          {% if bl_stts.megamenu_submenu != blank %}
            <li class="mega-menu__submenu" role="list">
              <ul class="list-unstyled" role="list">
                {% for link in bl_stts.megamenu_submenu.links %}
                  <li>
                    <a
                      href="{{ link.url }}"
                      title="{{ link.title | escape }}"
                      class="header__menu-item mega-menu__link mega-menu__link--level-2 link"
                    >
                      {{ link.title | escape }}
                    </a>
                  </li>
                {% endfor %}
              </ul>
            </li>
          {% endif %}
          {%- for childlink in link.links -%}
            <li>
              <a
                id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}"
                href="{{ childlink.url }}"
                class="header__menu-item mega-menu__link mega-menu__link--level-2 link{% if childlink.current %} list-menu__item--active{% endif %}"
                {% if childlink.current %}
                  aria-current="page"
                {% endif %}
              >
                {{ childlink.title | escape }}
              </a>
              {%- if childlink.links != blank -%}
                <ul class="list-unstyled" role="list">
                  {%- for grandchildlink in childlink.links -%}
                    <li>
                      <a
                        id="HeaderMenu-{{ link.handle }}-{{ childlink.handle }}-{{ grandchildlink.handle }}"
                        href="{{ grandchildlink.url }}"
                        class="header__menu-item mega-menu__link link link--hover-underline{% if grandchildlink.current %} list-menu__item--active{% endif %}"
                        {% if grandchildlink.current %}
                          aria-current="page"
                        {% endif %}
                      >
                        {{ grandchildlink.title | escape }}
                      </a>
                    </li>
                  {%- endfor -%}
                </ul>
              {%- endif -%}
            </li>
          {%- endfor -%}
        </ul>

        {%- if banner_row == 'top' -%}
          {{ banner }}
          </div>
        {%- endif -%}
      </div>

      <div class="mega-menu__collage-wrapper{% if bl_stts.inherit_color_scheme == false %} color-{{ bl_stts.color_scheme }}{% endif %}">
        <div class="page-width page-width--{{ bl_stts.width }}">
          <div
            class="mega-menu__collage{% if banner_row == 'bottom' %} collage collage-2-columns collage--{{ mega_menu_images_size }}-items{% endif %}"
            style="
              --border-radius: {{ bl_stts.image_corner_radius | divided_by: 10.0 }}rem;
              --border-width: {{ bl_stts.image_border_thickness | divided_by: 10.0 }}rem;
              --gap-x: 1rem;
              --gap-y: 1rem;
            "
          >
            {% if bl_stts.product_collection != blank %}
              {%- liquid
                assign collection = bl_stts.product_collection
                assign max_items = bl_stts.product_limit
                assign columns_desktop = max_items
                assign columns_tablet = 2
                if columns_desktop == 1
                  assign columns_tablet = 1
                elsif columns_desktop == 4
                  assign columns_tablet = 3
                endif
                assign columns_mobile = 1
                assign columns_gap = 30
                assign product_direction = bl_stts.product_direction
                if product_direction == 'column'
                  assign vertical_alignment = bl_stts.vertical_alignment_flex_direction_column
                else
                  assign horizontal_alignment = bl_stts.horizontal_alignment
                endif
              -%}
              {%- capture breakpoints -%}
                {
                  "768": { "slidesPerView": {{ columns_tablet }} },
                  "1024": { "slidesPerView": {{ columns_tablet }} },
                  "1400": { "slidesPerView": {{ columns_desktop }} }
                }
              {%- endcapture -%}
              <swiper-component
                class="mega-menu__collection{% if banner_row == 'bottom' %} collage__item collage__item--1{% endif %}"
                {%- render 'swiper-data',
                  settings: bl_stts,
                  slides_per_view: columns_mobile,
                  space_between: columns_gap,
                  watch_slides_progress: true,
                  breakpoints: breakpoints
                -%}
                style="
                  {% render 'swiper-style',
                    columns_mobile: columns_mobile,
                    columns_tablet: columns_tablet,
                    columns_desktop: columns_desktop,
                    columns_gap: columns_gap,
                  %}
                "
              >
                <div class="swiper h-full">
                  <ul
                    class="swiper-wrapper grid-layout-no-js list-unstyled lg:grid-layout--{{ columns_desktop }} md:grid-layout--3 grid--{{ columns_mobile }}-col-mobile"
                    id="Slider-{{ block.id }}"
                    data-id="{{ block.id }}"
                  >
                    {% for product in collection.products limit: max_items %}
                      <li
                        id="Slide-{{ block.id }}-{{ product.id }}-{{ forloop.index }}"
                        class="mega-menu__collection--item grid__item swiper-slide"
                      >
                        {% render 'resource-card',
                          resource_type: 'product',
                          resource_direction: product_direction,
                          horizontal_alignment: horizontal_alignment,
                          vertical_alignment: vertical_alignment,
                          resource: product,
                          image_width: 500,
                          image_hover: true,
                          image_aspect_ratio: '4 / 5',
                          show_variant_swatches: true
                        %}
                      </li>
                    {% endfor %}
                  </ul>
                </div>
              </swiper-component>

              {%- if banner_row == 'bottom' -%}
                {{ banner }}
              {%- endif -%}
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </details>
</header-menu>

{%- stylesheet -%}
  @media screen and (min-width: 750px) {
    .mega-menu-style-3 .collage__item--1 {
      grid-row: span 1;
    }

    .mega-menu-style-3 .resource-card  {
      grid-template-columns: 11.5rem 1fr;
    }
  }

{%- endstylesheet -%}
