{%- comment -%}
  Renders the country picker for the localization form

  Accepts:
    - localPosition: pass in the position in which the form is coming up to create specific IDs
{%- endcomment -%}

{%- liquid
  assign currencies = localization.available_countries | map: 'currency' | map: 'iso_code' | uniq
  assign popular_countries = localization.available_countries | where: 'popular?' | sort: 'name'

  assign show_country_filter = false
  if localization.available_countries.size > 9
    assign show_country_filter = true
  endif

  assign show_popular_countries = false
  if localization.available_countries.size > 9 and popular_countries.size > 1
    assign show_popular_countries = true
  endif

  assign show_currencies = false
  if currencies.size > 1
    assign show_currencies = true
  endif

  assign localization_font = '--menu-localization-font: var(--font-[localization_font]--family); ' | replace: '[localization_font]', section.settings.localization_font
  assign localization_font_size = '--menu-localization-font-size: [localization_font_size]; ' | replace: '[localization_font_size]', section.settings.localization_font_size
  assign color_shadow = '--color-shadow: rgb(var(--color-foreground-rgb) / var(--opacity-10-25));'
  assign form_style = localization_font | append: localization_font_size | append: color_shadow
%}

<div class="disclosure">
  <button
    type="button"
    class="
      disclosure__button
      localization-form__select
      localization-form__select--icon
      localization-selector
      t-button
      header__icon
      button
      svg-slide-up
    "
    aria-expanded="false"
    aria-controls="{{ localPosition }}List"
    aria-describedby="{{ localPosition }}Label"
  >
    {% comment %} <span class="icon-flag icon-flag--{{ localization.language.iso_code }}"></span> {% endcomment %}
    {% comment %}
      {% if country_style == true %}
        <span class="icon-flag icon-flag--{{ localization.language.iso_code }}"></span>
      {% endif %}
      <span>{{ localization.language.endonym_name | capitalize }}</span>
    {% endcomment %}
    {% comment %} {{ 'icon-caret.svg' | inline_asset_content }} {% endcomment %}
    <span class="svg-wrapper">
      {{ icon_globe }}
      {{ icon_globe }}
    </span>
  </button>
  <div class="selector__dropdown color-{{ settings.popover_color_scheme }}" style="{{ form_style }}" element-s-up>
    <div id="Selector-Overlay" class="slide__overlay--mb"></div>
    <div
      class="slide__inner--mb disclosure__list-wrapper disclosure-selector"
      role="dialog"
      aria-modal="true"
      aria-labelledby="LanguageLocalization"
      aria-label="Language Localization"
      tabindex="-1"
    >
      <div class="country-filter flex items-center justify-end{% unless show_country_filter %} country-filter--no-padding{% endunless %}">
        {% if show_country_filter %}
          <div class="field">
            <input
              class="country-filter__input field__input"
              id="country-filter-input"
              type="search"
              name="country_filter"
              value=""
              placeholder=""
              role="combobox"
              aria-owns="country-results"
              aria-controls="country-results"
              aria-haspopup="listbox"
              aria-autocomplete="list"
              autocorrect="off"
              autocomplete="off"
              autocapitalize="off"
              spellcheck="false"
            >
            <label class="field__label" for="country-filter-input">{{ 'content.search' | t }}</label>
            <button
              type="reset"
              class="country-filter__reset-button field__button hidden"
              aria-label="{{ 'actions.reset' | t }}"
            >
              {{- 'icon-reset.svg' | inline_asset_content -}}
            </button>
            <div class="country-filter__search-icon field__button motion-reduce">
              {{- 'icon-search.svg' | inline_asset_content -}}
            </div>
          </div>
        {% endif %}
        <button
          class="selector__close-button button--small link"
          type="button"
          onclick="this.closest('localization-form').hidePanel()"
          aria-label="{{ 'accessibility.close' | t }}"
        >
          {{- 'icon-close.svg' | inline_asset_content -}}
        </button>
      </div>
      <div class="country-selector-form__wrapper">
        <div id="sr-country-search-results" class="visually-hidden" aria-live="polite"></div>
        <div
          class="disclosure__list country-selector__list{% if show_currencies %} country-selector__list--with-multiple-currencies{% endif %} cus-scrollbar"
          id="{{ localPosition }}-country-results"
          style="{{ localization_font }} {{ localization_font_size }}"
        >
          {% if show_popular_countries %}
            <ul
              role="list"
              class="list-unstyled popular-countries"
              aria-label="{{ 'content.popular_countries_regions' | t }}"
            >
              {%- for country in popular_countries -%}
                <li class="disclosure__item {{ country.iso_code }}" tabindex="-1">
                  <a
                    class="disclosure__link caption-large focus-inset"
                    href="#"
                    {% if country.iso_code == localization.country.iso_code %}
                      aria-current="true"
                    {% endif %}
                    data-value="{{ country.iso_code }}"
                    id="{{ country.name }}"
                  >
                    {% if country_style == true %}
                      <span class="icon-flag icon-flag--{{ country.iso_code }}"></span>
                    {% endif %}
                    <span class="country">
                      {{- country.name }} ({{ country.currency.symbol -}}
                      {{ country.currency.iso_code }})</span
                    >
                  </a>
                </li>
              {%- endfor -%}
            </ul>
          {% endif %}
          <ul role="list" class="list-unstyled countries">
            {%- for country in localization.available_countries -%}
              <li class="disclosure__item" tabindex="-1">
                <a
                  class="disclosure__link caption-large focus-inset"
                  href="#"
                  {% if country.iso_code == localization.country.iso_code %}
                    aria-current="true"
                  {% endif %}
                  data-value="{{ country.iso_code }}"
                  id="{{ country.name }}"
                >
                  {% if country_style == true %}
                    <span class="icon-flag icon-flag--{{ country.iso_code }}"></span>
                  {% endif %}
                  <span class="country">
                    {{- country.name }} ({{ country.currency.symbol -}}
                    {{ country.currency.iso_code }})</span
                  >
                </a>
              </li>
            {%- endfor -%}
          </ul>
        </div>
      </div>
      <div class="language-selector flex items-center justify-between top-shadow relative">
        {% comment %}
          <div class="language-filler flex items-center justify-end p-0">
            <button
              class="selector__close-button button--small link"
              type="button"
              onclick="this.closest('localization-form').hidePanel()"
              aria-label="{{ 'accessibility.close' | t }}"
            >
              {{- 'icon-close.svg' | inline_asset_content -}}
            </button>
          </div>
          <ul
            id="{{ localPosition }}List"
            role="list"
            class="disclosure__list language-selector__list list-unstyled cus-scrollbar"
            style="{{ localization_font }} {{ localization_font_size }}"
          >
            {%- for language in localization.available_languages -%}
              <li class="disclosure__item" tabindex="-1">
                <a
                  class="disclosure__link caption-large focus-inset"
                  href="#"
                  hreflang="{{ language.iso_code }}"
                  lang="{{ language.iso_code }}"
                  {% if language.iso_code == localization.language.iso_code %}
                    aria-current="true"
                  {% endif %}
                  data-value="{{ language.iso_code }}"
                >
                  {% if country_style == true %}
                    <span class="icon-flag icon-flag--{{ language.iso_code }}"></span>
                  {% endif %}
                  <span>
                    {{ language.endonym_name | capitalize }}
                  </span>
                </a>
              </li>
            {%- endfor -%}
          </ul>
        {% endcomment %}
        <h2
          class="visually-hidden"
          id="{{ localization_style }}-LanguageLabel"
        >
          {{ 'content.language' | t }}
        </h2>
        {% if show_country == true %}
          <span class="language-selector__label">{{ 'content.language' | t }}</span>
        {% endif %}
        <details class="details--dropdown disclosure-has-popup relative" is="dropdown-details" data-index="0">
          <summary class="details__summary">
            <span>{{ localization.language.endonym_name | capitalize }}</span>
          </summary>
          <div class="details__list absolute top-full right-0 z-1 global-settings-popup">
            <ul
              id="{{ localPosition }}List"
              role="list"
              class="disclosure__list language-selector__list list-unstyled cus-scrollbar"
              style="{{ localization_font }} {{ localization_font_size }}"
            >
              {%- for language in localization.available_languages -%}
                <li class="disclosure__item" tabindex="-1">
                  <a
                    class="disclosure__link caption-large focus-inset"
                    href="#"
                    hreflang="{{ language.iso_code }}"
                    lang="{{ language.iso_code }}"
                    {% if language.iso_code == localization.language.iso_code %}
                      aria-current="true"
                    {% endif %}
                    data-value="{{ language.iso_code }}"
                  >
                    {% if country_style == true %}
                      <span class="icon-flag icon-flag--{{ language.iso_code }}"></span>
                    {% endif %}
                    <span>
                      {{ language.endonym_name | capitalize }}
                    </span>
                  </a>
                </li>
              {%- endfor -%}
            </ul>
          </div>
        </details>
      </div>
    </div>
  </div>
</div>
<input type="hidden" name="locale_code" value="{{ localization.language.iso_code }}">

{%- stylesheet -%}
  .country-language-localization .disclosure__list-wrapper {
    max-height: initial;
    overflow: visible;
  }

  .country-language-localization .language-selector .language-selector__select {
    width: max-content;
    height: var(--size-38);
  }

  .country-language-localization .language-selector {
    padding: 10px 8px 10px 16px;
    gap: var(--gap-xs);
  }

  .country-language-localization .language-selector .details--dropdown {
    width: max-content;
    font-size: var(--menu-localization-font-size);
    font-family: var(--menu-localization-font);
  }

  .language-selector__label {
    flex-shrink: 0;
    color: rgb(var(--color-foreground-rgb) / var(--opacity-subdued-text));
    font-size: var(--menu-localization-font-size);
    font-family: var(--menu-localization-font);
  }

{%- endstylesheet -%}
