<a
  {% if link == blank %}
    role="link" aria-disabled="true"
  {% else %}
    href="{{ link }}"
  {% endif %}
  class="{% if button_style != 'link' %}button button--{{ button_style }}{% else %}link center{% endif %}{% if width_option == 'custom' %} size-style{% endif %}{% if width_option_mobile == 'custom' %} size-style-mobile{% endif %}"
  style="{%- if width_option == 'custom' -%} --size-style-width: {{ custom_width }}%;{%- endif -%}{%- if width_option_mobile == 'custom' -%} --size-style-width-mobile: {{ custom_width_mobile }}%;{%- endif -%}"
>
  {{ text }}
</a>