{% comment %}
  Renders a set of links for paginated results. Must be used within paginate tags.

  Usage:
  {% paginate results by 2 %}
    {% render 'pagination', paginate: paginate, anchor: '#yourID' %}
  {% endpaginate %}

  Accepts:
  - paginate: {Object}
  - anchor: {String} (optional) This can be added so that on page reload it takes you to wherever you've placed your anchor tag.
{% endcomment %}

{% capture list_class %}
  pagination__list list-unstyled flex flex-wrap justify-center
{% endcapture %}

{% capture item_class %}
  pagination__item inline-flex items-center justify-center relative w-full p-0 decoration-none color-foreground
{% endcapture %}

{%- if paginate.parts.size > 0 -%}
  <div class="pagination-wrapper">
    <nav class="pagination" role="navigation" aria-label="{{ 'general.pagination.label' | t }}">
      <ul class="{{ list_class }}" role="list">
        {%- if paginate.previous -%}
          <li>
            <a
              href="{{ paginate.previous.url }}{{ anchor }}"
              class="{{ item_class }} pagination__item--next pagination__item-arrow link motion-reduce"
              aria-label="{{ 'general.pagination.previous' | t }}"
            >
              <span class="visually-hidden">{{ 'general.pagination.button_previous' | t }}</span>
              <span class="svg-wrapper">
                {{- 'icon-arrow.svg' | inline_asset_content -}}
              </span>
            </a>
          </li>
        {%- endif -%}

        {%- for part in paginate.parts -%}
          <li>
            {%- if part.is_link -%}
              <a
                href="{{ part.url }}{{ anchor }}"
                class="{{ item_class }} link"
                aria-label="{{ 'general.pagination.page' | t: number: part.title }}"
              >
                {{- part.title -}}
              </a>
            {%- else -%}
              {%- if part.title == paginate.current_page -%}
                <a
                  role="link"
                  aria-disabled="true"
                  class="{{ item_class }} pagination__item--current light"
                  aria-current="page"
                  aria-label="{{ 'general.pagination.page' | t: number: part.title }}"
                >
                  {{- part.title -}}
                </a>
              {%- else -%}
                <span class="pagination__item">{{ part.title }}</span>
              {%- endif -%}
            {%- endif -%}
          </li>
        {%- endfor -%}

        {%- if paginate.next -%}
          <li>
            <a
              href="{{ paginate.next.url }}{{ anchor }}"
              class="{{ item_class }} pagination__item--prev pagination__item-arrow link motion-reduce"
              aria-label="{{ 'general.pagination.next' | t }}"
            >
              <span class="visually-hidden">{{ 'general.pagination.button_next' | t }}</span>
              <span class="svg-wrapper">
                {{- 'icon-arrow.svg' | inline_asset_content -}}
              </span>
            </a>
          </li>
        {%- endif -%}
      </ul>
    </nav>
  </div>
{%- endif -%}

{% stylesheet %}
  .pagination__list > li {
    min-width: 4rem;
  }
  .pagination__list > li:not(:last-child) {
    margin-right: 1.6rem;
  }
  .pagination__item {
    height: 4rem;
    background-color: rgba(var(--color-foreground-rgb) / 0.05);
    border-radius: var(--style-border-radius-buttons-secondary);
    font-size: var(--body-s-font-size);
    box-shadow: rgba(var(--color-foreground-rgb) / 0) 0rem 0rem 0rem 0rem;
    transition: background-color var(--animation-speed) var(--ease-out-smooth),
      box-shadow var(--animation-speed) var(--ease-out-smooth);
    padding: 0 1.4rem;
  }
  .pagination__item {
    display: inline-flex;
    border: var(--style-border-width) solid transparent;
  }
  .pagination__item--current {
    border-color: rgba(var(--color-foreground-rgb) / 0.05);
  }
  .pagination__item--current,
  a.pagination__item:hover {
    background: transparent;
  }
  a.pagination__item:hover {
    box-shadow: rgba(var(--color-foreground-rgb) / 0.25) 0 4px 4px 0;
  }
  .pagination__item--next,
  .pagination__item--prev {
    transition: transform var(--animation-speed) var(--ease-out-smooth);

    &:hover {
      border-color: rgba(var(--color-foreground-rgb) / 1);
    }
  }
  .pagination__list > li:has(.pagination__item--next) {
    margin-right: 2rem;
  }
  .pagination__list > li:has(.pagination__item--prev) {
    margin-left: .4rem;
  }
  .pagination__item--next .icon {
    margin-left: -0.2rem;
    transform: rotate(180deg);
  }
  .pagination__item--next:hover .icon {
    transform: rotate(180deg) scale(1.07);
  }
  .pagination__item--prev .icon {
    margin-right: -0.2rem;
  }
  .pagination__item--prev:hover .icon {
    transform: scale(1.07);
  }
{% endstylesheet %}
