{%- capture styles -%}
    --bg-color: {{ settings.countdown_background_color }}; --fg-color: {{ settings.countdown_text_color }};--p: .8rem 1.2rem;
{%- endcapture -%}
{%- capture number_html -%}
    <span class="num animated-loading">
        <span>151<span>D</span></span>
    </span>
    <span class="num animated-loading">
        <span>8<span>H</span></span>
    </span>
    <span class="num animated-loading">
        <span>23<span>M</span></span>
    </span>
    <span class="num animated-loading">
        <span>0<span>S</span></span>
    </span>
{%- endcapture -%}
<div class="card-countDown-wrapper body-s-font-size" style="{{ styles }}">
    {%- if countdown_type == 'all_product' -%}
        <div class="card-countDown countdown_{{ product.id }} style-{{ countdown_style }} w-max m-x-auto" data-countdown-id="{{ product.id }}" data-countdown="{{ countdown_time }}">
            {{ number_html }}
        </div>
    {%- elsif countdown_type == 'collection_product' -%}
        {%- liquid
            assign hasCountdown = false
            if countdown_collection != blank
                for collection in product.collections
                    assign collection_handle = collection.handle
                    if collection_handle == countdown_collection
                        assign hasCountdown = true
                    endif
                endfor
            endif
        -%}
        {%- if hasCountdown -%}
            <div class="card-countDown countdown_{{ product.id }} style-{{ countdown_style }} w-fit m-x-auto" data-countdown-id="{{ product.id }}" data-countdown="{{ countdown_time }}">
                {{ number_html }}
            </div>
        {%- endif -%}
    {%- else -%}
        {%- if product.metafields.c_f.countdown -%}
            {% assign countdown_type = product.metafields.c_f.countdown %}
            <div class="card-countDown countdown_{{ product.id }} style-{{ countdown_style }} w-fit m-x-auto" data-countdown-id="{{ product.id }}" data-countdown="{{ countdown_type }}">
                {{ number_html }}
            </div>
        {%- endif -%}
    {%- endif -%}
</div>