{%- liquid
    assign variant_selected = variant_selected | handleize
    assign variantCount = product.variants | size
    assign swatch_type = settings.swatch_type
    assign colorList = '|'
    assign color = ''
    assign count = 0
    if settings.enable_custom_position_swatch_layout_card_1
        assign number_limit = 5
    else
        assign number_limit = 4
    endif

    if settings.card_text_alignment == 'left'
        assign sw_alignment = 'j-c-start'
    elsif settings.card_text_alignment == 'center'
        assign sw_alignment = 'j-c-center'
    elsif settings.card_text_alignment == 'right'
        assign sw_alignment = 'j-c-end'
    endif
-%}
{%- if variantCount > 0 and product.variants.first.title != 'Default Title' -%}
    <div class="card__swatch pos-relative z-index-2" id="product-swatch-{{ product.id }}">
        <ul class="swatch-list list-unstyled dis-flex a-i-center {{ sw_alignment }}" style="--c-gap-a: 0.5rem;">
            {%- for variant in product.variants -%}
                {%- assign color = variant.options[index] -%}
                {%- assign color_check = color | prepend: "|" | append: "|" -%}
                {%- unless colorList contains color_check -%}
                    {%- liquid
                        assign text = color | handleize  
                        assign enable_variant_image = false
                        case swatch_type
                        when 'variant_image'
                            assign background_image = variant.image.src | product_img_url: '40x'
                            if variant.image
                                assign enable_variant_image = true
                            endif
                        when 'color'
                            assign background_image = color | handle | append: '.png' | file_url
                            assign enable_variant_image = true
                        when 'metaobjects'
                            assign metaobject_color = color.swatch.color
                            assign metaobject_image = color.swatch.image
                            assign has_metaobject = false
                            assign has_image = false
                            if metaobject_image != blank
                                assign background_image = metaobject_image | product_img_url: '120x'
                                assign enable_variant_image = true
                                assign has_metaobject = true
                                assign has_image = true
                            elsif metaobject_color != blank
                                assign background_color = metaobject_color
                                assign enable_variant_image = true
                                assign has_metaobject = true
                                assign background_image = ''
                            elsif variant.image
                                assign background_image = variant.image.src | product_img_url: '120x'
                                assign enable_variant_image = true
                            endif
                    endcase
                    -%}
                    {%- if count < number_limit -%}
                        <li class="swatch-item">
                            <div class="swatch-wrapper">
                                <span
                                    {% if enable_variant_image %}
                                      class="swatch color-swacth-color--{{ color | handle }}"
                                      style="{%- if swatch_type == 'color' -%}--swatch--background-color: {{ color | split: ' ' | last | handle }};{%- endif -%}
                                        {%- if has_metaobject and metaobject_color != blank -%}--swatch--background-color: {{ background_color }};{%- endif -%}
                                        {%- if background_image != blank -%}--swatch--background: url({{ background_image }});{%- endif -%}"
                                        data-title="{{ color | handle }}"
                                    {% else %}
                                      class="swatch color-swacth-color--{{ color | handle }} swatch--unavailable"
                                    {% endif %}
                                ></span>
                                <span class="tooltip visually-hidden">{{ color | escape }}</span>
                            </div>
                        </li>
                    {%- else -%}
                        {%- if count == number_limit -%}
                            <li class="group-swatch" style="--c-gap-a: 0.5rem; display: none">
                        {%- endif -%}
                            <div class="swatch-wrapper">
                                <span
                                    {% if enable_variant_image %}
                                      class="swatch color-swacth-color--{{ color | handle }}"
                                      style="{%- if swatch_type == 'color' -%}--swatch--background-color: {{ color | split: ' ' | last | handle }};{%- endif -%}
                                        {%- if has_metaobject and metaobject_color != blank -%}--swatch--background-color: {{ background_color }};{%- endif -%}
                                        {%- if background_image != blank -%}--swatch--background: url({{ background_image }});{%- endif -%}"
                                    {% else %}
                                      class="swatch color-swacth-color--{{ color | handle }} swatch--unavailable"
                                    {% endif %}
                                ></span>
                                <span class="tooltip visually-hidden">{{ color | escape }}</span>
                            </div>
                        {%- if forloop.last -%}
                            </li>
                        {%- endif -%}
                    {%- endif -%}
                    {%- assign count = count | plus : 1 -%}
                    {%- capture tempList -%}
                        {{- colorList | append: color | append: '|' -}}
                    {%- endcapture -%}
                    {%- assign colorList = tempList -%}
                {%- endunless -%}
            {%- endfor -%}
            {%- if count > number_limit -%}
                <li class="item-swatch-more item"><button type="button" class="number-showmore t-button c-pointer" title="More Color"><span>+</span> <span class="text-number">{{ count | minus : number_limit }}</span></button></li>
            {%- endif -%}
        </ul>
    </div>
{%- endif -%}