<div class="card-product__group-item card-wishlist">
    <wisht-list>
        <button type="button" title="{{ 'wishlist.general.add' | t }}" class="{{ class_button }} wishlist-button " data-wishlist data-wishlist-handle="{{ card_product.handle }}" data-product-id="{{ card_product.id }}">
            <span class="{{ class_text }}">
                <span class="{{ class_text_inner }}">{{ 'wishlist.general.add' | t }}</span>
            </span>
            {% render 'icon', icon: 'heart' %}
        </button>
    </wisht-list>
</div>