<side-drawer-opener
    class="product-popup-modal__opener quick-add-hidden no-js-hidden"
    data-side-drawer="#PopupModal-{{ block.id }}"
    {{ block.shopify_attributes }}
>
    <button
        id="ProductPopup-{{ block.id }}"
        class="product-popup-modal__button link"
        type="button"
        aria-haspopup="dialog"
    >
        {{ block.settings.text | default: block.settings.page.title | escape }}
    </button>
</side-drawer-opener>

<side-drawer
    class="product-popup-modal drawer pos-fixed top-0 left-0 z-index-9 wid-100v hei-100 dis-flex j-c-center no-js-hidden"
    element-s-popup
    id="PopupModal-{{ block.id }}"
>
    <div id="Drawer-Overlay-Product-Popup" class="drawer__overlay pos-fixed inset-0 c-pointer"></div>
    <div
        class="popup__inner product-popup-modal__content wid-auto hei-100 hei-auto-md pos-absolute-c-c dis-flex f-column global-settings-popup gradient"
        role="dialog"
        aria-modal="true"
        aria-label="{{ block.settings.text }}"
        tabindex="-1"
        style="--popup-max-height: 85%;"
    >
        <div class="wid-100 hei-100 over-a cus-scrollbar" style="--pad-a-a: 0 1rem;">
            <div class="drawer__header dis-flex j-c-end a-i-center pos-relative"
                style="--c-gap-a: 2rem; --pad-a-a: 1.5rem 0;"
            >
                <button class="drawer__close dis-block t-button bor-none bor-circle c-pointer" type="button" onclick="this.closest('side-drawer').close()" aria-label="{{ 'accessibility.close' | t }}">
                    {{- 'icon-close.svg' | inline_asset_content -}}
                </button>
            </div>
            <div class="product-popup-modal__content-info">
                <h1 class="h2">{{ block.settings.page.title | escape }}</h1>
                {{ block.settings.page.content }}
            </div>
        </div>
    </div>
</side-drawer>