{%- liquid
    assign has_size_chart = false
    assign size_chart_type = block.settings.size_chart_type

    if size_chart_type == 'metafield'
        if product.metafields.custom.size_chart
            assign has_size_chart = true
            assign size_chart_details = product.metafields.custom.size_chart
        endif
    elsif size_chart_type == 'page'
        if block.settings.size_chart_page != blank
            assign has_size_chart = true
            assign size_chart_heading = block.settings.size_chart_page.title
            assign size_chart_details = block.settings.size_chart_page.content
        endif
    endif
-%}

{%- if has_size_chart -%}
    <div
        class="product__size-chart color-{{ block.settings.color_size_chart_scheme }} gradient element-spacing-all no-js-hidden{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}"
        {{ block.shopify_attributes }}
        style="
            --padding-top: {{ block.settings.padding_top }}px;
            --padding-bottom: {{ block.settings.padding_bottom }}px;
        "
    >
        <side-drawer-opener
            class="product-popup-modal__opener product-sizechar-popup-modal__opener inline-block"
            data-side-drawer="#PopupModal-{{ block.id }}"
        >
            <button
                id="ProductPopup-{{ block.id }}"
                class="product-popup-modal__button link"
                type="button"
                aria-haspopup="dialog"
            >
                {{- 'icon-size-chart.svg' | inline_asset_content -}}
                <span class="text">
                    {{ 'products.product.size_chart.name' | t }}
                </span>
            </button>
        </side-drawer-opener>
    </div>

    <side-drawer
        class="size-chart-popup-modal drawer fixed top-0 left-0 z-9 w-screen h-full flex justify-center no-js-hidden"
        element-s-popup
        id="PopupModal-{{ block.id }}"
    >
        <div id="Drawer-Overlay-Size-Chart" class="drawer__overlay fixed inset-0 cursor-pointer"></div>
        <div
            class="popup__inner w-auto h-fullv absolute-c-c flex flex-column global-settings-popup gradient color-{{ block.settings.color_size_chart_scheme }}"
            role="dialog"
            aria-modal="true"
            aria-label="Size chart"
            tabindex="-1"
            style="--popup-max-height: 85%;"
        >
            <div class="w-full h-full overflow-auto cus-scrollbar" style="--p: 0 1rem;">
                <div class="drawer__header flex justify-between items-center relative center"
                    style="--gap-x: 2rem; --p: 1.5rem 0; --mb: 2.5rem;"
                >
                    <h2 class="drawer__heading break m-0">
                        {{ size_chart_heading | default: 'products.product.size_chart.name_popup' }}
                    </h2>
                    <button class="drawer__close block t-button bor-none rounded-full cursor-pointer" type="button" onclick="this.closest('side-drawer').close()" aria-label="{{ 'accessibility.close' | t }}">
                        {{- 'icon-close.svg' | inline_asset_content -}}
                    </button>
                </div>
                <div class="size-chart-popup-modal__content-info m-auto">
                    <picture class="size-chart-details center">
                        {%- if size_chart_details != '' -%}
                            {%- if size_chart_type == 'metafield' -%}
                                <img
                                    srcset="{{ size_chart_details }}"
                                    src="{{ size_chart_details }}"
                                    alt="{{ shop.name | escape }}"
                                    loading="lazy"
                                >
                            {%- elsif size_chart_type == 'page' -%}
                                {{ size_chart_details }}
                            {%- endif -%}
                        {%- endif -%}
                    </picture>
                </div>
            </div>
        </div>
    </side-drawer>
{%- endif -%}