{%- liquid
    assign has_size_chart = false
    assign size_chart_type = block.settings.size_chart_type

    if size_chart_type == 'metafield'
        if product.metafields.custom.size_chart
            assign has_size_chart = true
            assign size_chart_details = product.metafields.custom.size_chart
        endif
    elsif size_chart_type == 'page'
        if block.settings.size_chart_page != blank
            assign has_size_chart = true
            assign size_chart_heading = block.settings.size_chart_page.title
            assign size_chart_details = block.settings.size_chart_page.content
        endif
    endif
-%}

{%- if has_size_chart -%}
    <div
        class="product__size-chart color-{{ block.settings.color_size_chart_scheme }} gradient element-spacing-all quick-add-hidden no-js-hidden{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}"
        {{ block.shopify_attributes }}
        style="
            --padding-top: {{ block.settings.padding_top }}px;
            --padding-bottom: {{ block.settings.padding_bottom }}px;
        "
    >
        <side-drawer-opener
            class="product-popup-modal__opener dis-i-block"
            data-side-drawer="#PopupModal-{{ block.id }}"
        >
            <button
                id="ProductPopup-{{ block.id }}"
                class="product-popup-modal__button link"
                type="button"
                aria-haspopup="dialog"
            >
                {{- 'icon-size-chart.svg' | inline_asset_content -}}
                <span class="text">
                    {{ 'products.product.size_chart.name' | t }}
                </span>
            </button>
        </side-drawer-opener>
    </div>

    <side-drawer
        class="size-chart-popup-modal drawer pos-fixed top-0 left-0 z-index-9 wid-100v hei-100 dis-flex j-c-center no-js-hidden"
        element-s-popup
        id="PopupModal-{{ block.id }}"
    >
        <div id="Drawer-Overlay-Size-Chart" class="drawer__overlay pos-fixed inset-0 c-pointer"></div>
        <div
            class="popup__inner wid-auto hei-100v pos-absolute-c-c dis-flex f-column global-settings-popup gradient color-{{ block.settings.color_size_chart_scheme }}"
            role="dialog"
            aria-modal="true"
            aria-label="Size chart"
            tabindex="-1"
            style="--popup-max-height: 85%;"
        >
            <div class="wid-100 hei-100 over-a cus-scrollbar" style="--pad-a-a: 0 1rem;">
                <div class="drawer__header dis-flex j-c-between a-i-center pos-relative center"
                    style="--c-gap-a: 2rem; --pad-a-a: 1.5rem 0; --mar-b-a: 2.5rem;"
                >
                    <h2 class="drawer__heading break mar-0">
                        {{ size_chart_heading | default: 'products.product.size_chart.name_popup' }}
                    </h2>
                    <button class="drawer__close dis-block t-button bor-none bor-circle c-pointer" type="button" onclick="this.closest('side-drawer').close()" aria-label="{{ 'accessibility.close' | t }}">
                        {{- 'icon-close.svg' | inline_asset_content -}}
                    </button>
                </div>
                <div class="size-chart-popup-modal__content-info mar-a">
                    <picture class="size-chart-details center">
                        {%- if size_chart_details != '' -%}
                            {%- if size_chart_type == 'metafield' -%}
                                <img
                                    srcset="{{ size_chart_details }}"
                                    src="{{ size_chart_details }}"
                                    alt="{{ shop.name | escape }}"
                                    loading="lazy"
                                >
                            {%- elsif size_chart_type == 'page' -%}
                                {{ size_chart_details }}
                            {%- endif -%}
                        {%- endif -%}
                    </picture>
                </div>
            </div>
        </div>
    </side-drawer>
{%- endif -%}