{%- assign labels = labels | split: ',' -%}

{%- for label in labels -%}
  {%- capture class_default -%}
    {{ class }} tabs-component-panel-trigger
    {% if forloop.first %} --active{% endif %}
  {%- endcapture -%}

  {%- capture link -%}#tabs-{{ id }}-{{ forloop.index }}{%- endcapture -%}

  {%- if settings.style_class == 'link' -%}
    {%- capture style_tabs_header_item -%}
      {%- if settings.button_type_size_link != blank -%}
        --button-font-size-link: {{ settings.button_type_size_link }};
      {%- endif -%}
      {%- if settings.button_font_weight_link != blank and settings.button_font_weight_link != 'default' -%}
        --button-font-weight-link: {{ settings.button_font_weight_link }};
      {%- endif -%}
      --text-transform: {{ settings.case }};
      --text-wrap: {{ settings.wrap }};
      --font-style: {{ settings.font_style }};
    {%- endcapture -%}
  {%- endif-%}

  {% render 'button',
    link: link,
    label: label,
    class: class_default,
    style: style_tabs_header_item,
    style_class: settings.style_class,
    button_style: settings.button_style,
    link_underline: settings.link_underline,
  %}
{%- endfor -%}

{%- if settings.style_class == 'button' -%}
  <span class="mask-background absolute top-0 left-0 whitespace-nowrap flex-center"></span>
{%- endif -%}

{%- stylesheet -%}
  .tabs-component-panel-trigger.button:hover,
  .tabs-component-panel-trigger.button.--active {
    --button-color: var(--color-primary-button-hover-text);
    --button-background-color: var(--color-primary-button-hover-background);
    --color-border: var(--color-primary-button-hover-border);
  }

  .tabs-component-panel-trigger.button-secondary:hover,
  .tabs-component-panel-trigger.button-secondary.--active {
    --button-color: var(--color-secondary-button-hover-text);
    --button-background-color: var(--color-secondary-button-hover-background);
    --color-border: var(--color-secondary-button-hover-border);
  }

{%- endstylesheet -%}
