{%- doc -%}
  Intended for use in a block similar to the text block.

  @param {string} [class] - custom class to define in addition to text-block classes
  @param {string} [fallback_text] - fallback text if settings.text does not exist
  @param {string} [width] - width of the text block
  @param {object} block - block object
{%- enddoc -%}

{% liquid
  assign bl_stts = block.settings
  assign plain_text = bl_stts.text | strip_newlines | strip_html | strip
  assign text_width = width | default: bl_stts.width

  assign text = bl_stts.text

  if bl_stts.font_size contains 'heading-lg' or bl_stts.font_size contains 'heading-xl'
    assign type = 'display'
  elsif bl_stts.font_size contains 'heading'
    assign type = 'heading'
  else
    assign type = 'body'
  endif
  if bl_stts.type_preset == 'rte' or bl_stts.type_preset == 'paragraph'
    assign is_rte = true
  endif

  assign border = bl_stts.border
  if border == 'solid' and text_width == '100%' and class_heading == 'section-header'
    assign has_heading_border = true
    assign heading_border_classes = 'heading-border--solid relative justify-center'
  elsif bl_stts.enable_border == true
    assign has_border = true
  elsif bl_stts.enable_border_bottom == true
    assign enable_border_bottom = true
  endif

  assign highlight_text = bl_stts.highlight_text
  assign highlight_content = bl_stts.highlight_text_content | split: ','
  assign highlight_color = bl_stts.highlight_text_color

  if highlight_content != blank and highlight_text == true
    for highlight in highlight_content
      assign highlight_text_code = highlight | prepend: '<span class="highlight_text--content" style="color: [highlight_color];">' | append: '</span>' | replace: '[highlight_color]', highlight_color
      assign text = text | replace: highlight, highlight_text_code
    endfor
  endif

  assign spacing_text = bl_stts.spacing_text
  assign spacing_content = bl_stts.spacing_text_content | split: ','
  assign spacing_left = bl_stts.spacing_text_left
  assign spacing_right = bl_stts.spacing_text_right

  if spacing_content != blank and spacing_text == true
    for spacing in spacing_content
      assign spacing_text_code = spacing | prepend: '<span class="spacing_text--content" style="margin-left: [spacing_left]ch; margin-right: [spacing_right]ch;">' | append: '</span>' | replace: '[spacing_left]', spacing_left | replace: '[spacing_right]', spacing_right
      assign text = text | replace: spacing, spacing_text_code
    endfor
  endif

  assign stroke_text = bl_stts.stroke_text
  assign stroke_content = bl_stts.stroke_text_content | split: ','
  if stroke_content != blank and stroke_text == true
    for stroke in stroke_content
      assign stroke_text_code = stroke | prepend: '<stroke-text class="stoke_text--content">' | append: '</stroke-text>'
      assign text = text | replace: stroke, stroke_text_code
    endfor
  endif

  capture text_block_classes
    if text_width == '100%'
      echo 'text-block--align-' | append: bl_stts.alignment
      echo ' text-block--full-width '
    endif
    if bl_stts.type_preset == 'custom'
      echo ' custom-typography '
      if bl_stts.font_size != ''
        echo ' custom-font-size '
      endif
      if bl_stts.color != ''
        echo ' custom-color '
      endif
    endif
    if bl_stts.background
      echo ' text-block--background '
    endif
    if is_rte
      echo ' rte '
    endif
  endcapture
%}

{% if bl_stts.typing_text %}
  {% assign class = class | append: ' typing-text' %}
  {%- capture text -%}
    <span class="typing-text__content">{{ bl_stts.primary_text }}</span>
  {%- endcapture -%}
{% endif %}

{% capture attributes %}
  class="
    size-style spacing-style text-block max-w-full flex {% if class == 'card--block-details' %}flex-row{% else %}flex-column{% endif %} text-block--{{ block.id }}
    {{ bl_stts.type_preset }} {{ class }} {{ text_block_classes }}
    {% if has_heading_border %} {{ heading_border_classes }}{% endif %}
    {% if enable_border_bottom %} border-style text-border-style-bottom{% endif %}
    {% if has_border %} border-style{% endif %}
  "
  style="
    {% render 'size-style', settings: bl_stts %}
    {% render 'spacing-padding', settings: bl_stts %}
    {% render 'typography-style', settings: bl_stts %}
    --width: {{ text_width }};
    {% if text_width == "100%" %}
      --text-align: {{ bl_stts.alignment }};
    {% endif %}
    {% if bl_stts.background %}
      --text-background-color: {{ bl_stts.background_color | default: 'rgb(255 255 255 / var(--opacity-100))' }};
      --text-corner-radius: {{ bl_stts.corner_radius }}px;
      --text-padding: max(var(--padding-2xs), calc((var(--text-corner-radius) + var(--padding-xs)) * (1 - cos(45deg))));
    {% endif %}
    {% if has_heading_border or enable_border_bottom or has_border %}
      {%- render 'border-override', settings: bl_stts -%}
    {% endif %}
  "
  {% if bl_stts.typing_text %}data-texts='["{{ bl_stts.primary_text }}", "{{ bl_stts.secondary_text }}", "{{ bl_stts.third_text }}"]'{% endif %}

  {{ block.shopify_attributes }}
{% endcapture %}
{% liquid
  # {{ attributes }} must be on the immediate HTML parent of the text to preserve
  # the click-to-edit connection in the theme editor. Any break between the text,
  # including if-statements, will break the connection.

  assign element = 'div'
  if is_rte
    assign element = 'rte-formatter'
  endif

  if bl_stts.text_effect == 'blur' or bl_stts.text_effect == 'reveal'
    assign text_element = 'text-animation'
  endif

  assign text_class = 'inline-block relative z-1 w-auto max-w-full'
%}
{% if text_element %}
  <{{ text_element }}
    {{ attributes }}
    data-text-effect="{{ bl_stts.text_effect }}"
    data-animation-repeat="{{ bl_stts.animation_repeat }}"
  >
{% endif %}
{% if fallback_text != blank and plain_text == blank %}
  <div {{ attributes }}>
    {%- if has_heading_border or is_card_heading -%}
    <div class="text{% if has_heading_border %} {{ text_class }}{% endif %}">
    {%- endif -%}
      {{ fallback_text }}
    {%- if has_heading_border or is_card_heading -%}
    </div>
    {%- endif -%}
  </div>
{% elsif plain_text != blank %}
  <{{ element }} {{ attributes }}>
    {%- if has_heading_border or is_card_heading or text_element -%}
      <div class="{% if has_heading_border or is_card_heading %}text {{ text_class }}{% endif %}{% if text_element %} text-animation-line{% endif %}">
    {%- endif -%}
      {{ text }}
    {%- if has_heading_border or is_card_heading or text_element -%}
      </div>
    {%- endif -%}
  </{{ element }}>
{% endif %}
{% if text_element %}
  </{{ text_element }}>
{% endif %}

<script
  src="{{ 'text-animation.js' | asset_url }}"
  type="module"
  fetchpriority="low"
></script>

{% stylesheet %}
  :root {
    --text-align-default: left;
  }

  [style*='--horizontal-alignment: center'] .text-block {
    --text-align-default: center;
  }

  [style*='--horizontal-alignment: flex-end'] .text-block {
    --text-align-default: right;
  }

  [style*='--horizontal-alignment: flex-start'] > .text-block {
    --text-align-default: left;
  }

  [style*='--horizontal-alignment: center'] > .text-block {
    --text-align-default: center;
  }

  [style*='--horizontal-alignment: flex-end'] > .text-block {
    --text-align-default: right;
  }

  @media screen and (max-width: 749px) {
    [style*='--horizontal-alignment-mobile: center'] .text-block {
      --text-align-default: center;
    }

    [style*='--horizontal-alignment-mobile: flex-end'] .text-block {
      --text-align-default: right;
    }

    [style*='--horizontal-alignment-mobile: flex-start'] > .text-block {
      --text-align-default: left;
    }

    [style*='--horizontal-alignment-mobile: center'] > .text-block {
      --text-align-default: center;
    }

    [style*='--horizontal-alignment-mobile: flex-end'] > .text-block {
      --text-align-default: right;
    }
  }

  .text-border-style-bottom {
    --border-style: solid;
    position: relative;
    border: none;
    &::before {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: var(--width-custom, 100%);
      height: var(--border-width);
      background: var(--border-color);
    }
  }

  .heading-border--solid {
    .text {
      width: auto;
    }

    &.text-block--align-left {
      --padding-inline: 0 2rem;
    }
    &.text-block--align-right {
      --padding-inline: 2rem 0;
    }
    &.text-block--align-center {
      --padding-inline: 2rem;
    }

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: calc(50% - var(--border-width));
      left: 0;
      width: 100%;
      height: var(--border-width);
      background: var(--border-color);
    }

    .text {
      padding-inline: var(--padding-inline);
      background: var(--color-background);

      @media screen and (min-width: 1025px) {
        min-width: 42rem;
      }
    }
  }

  .text-block {
    align-items: var(--horizontal-alignment);
  }

  .text-block > * {
    text-align: var(--text-align, var(--text-align-default));
    text-wrap: var(--text-wrap);
  }

  .text-block:not(.text-block--full-width).rte,
  .text-block:not(.text-block--full-width).paragraph {
    /* Safari doesn't support pretty, so fallback to balance */
    text-wrap: balance;
    text-wrap: pretty;
  }

  .text-block:not(.text-block--full-width):is(.h1, .h2, .h3, .h4, .h5, .h6) {
    text-wrap: balance;
  }

  /* Hide underline unless text is using paragraph styles. */
  .text-block:is(.h1, .h2, .h3, .h4, .h5, .h6) a {
    text-decoration-color: transparent;
  }

  .text-block h1,
  .text-block.h1 > * {
    margin-block: var(--font-h1--spacing);
  }

  .text-block h2,
  .text-block.h2 > * {
    margin-block: var(--font-h2--spacing);
  }

  .text-block h3,
  .text-block.h3 > * {
    margin-block: var(--font-h3--spacing);
  }

  .text-block h4,
  .text-block.h4 > * {
    margin-block: var(--font-h4--spacing);
  }

  .text-block h5,
  .text-block.h5 > * {
    margin-block: var(--font-h5--spacing);
  }

  .text-block h6,
  .text-block.h6 > * {
    margin-block: var(--font-h6--spacing);
  }

  .text-block p,
  .text-block.p > * {
    margin-block: var(--font-paragraph--spacing);
  }

  .text-block .text > *:first-child,
  .text-block > *:first-child {
    margin-block-start: 0;
  }

  .text-block .text > *:last-child,
  .text-block > *:last-child {
    margin-block-end: 0;
  }

  .text-block--align-left,
  .text-block--align-left > * {
    margin-inline-end: auto;
  }

  .text-block--align-center,
  .text-block--align-center > * {
    margin-inline: auto;
  }

  .text-block--align-right,
  .text-block--align-right > * {
    margin-inline-start: auto;
  }

  .text-block--background {
    background-color: var(--text-background-color);
    border-radius: var(--text-corner-radius);

    /* To avoid text being cropped when using a border radius we add a minimum padding. */
    padding-block-start: max(var(--text-padding), var(--padding-block-start, 0));
    padding-block-end: max(var(--text-padding), var(--padding-block-end, 0));
    padding-inline-start: max(var(--text-padding), var(--padding-inline-start, 0));
    padding-inline-end: max(var(--text-padding), var(--padding-inline-end, 0));
  }

  .custom-color,
  .custom-color > :is(h1, h2, h3, h4, h5, h6, p, *) {
    color: var(--color);
  }

  .stoke_text--content {
     --fill-color: var(--color-foreground);
      position: relative;
      display: inline-block;
      text-decoration: none;
      text-transform: uppercase;
      -webkit-text-stroke: 1px var(--fill-color);
      background: linear-gradient(var(--fill-color) 0 100%) left / 0 no-repeat;
      color: transparent;
      background-clip: text;
      transition: background-size var(--animation-slowest-smooth);

      /* &:hover {
        background-size: 100%;
      } */
  }

  @media (prefers-reduced-motion: no-preference) {
    /* Blur effect */
    [data-text-effect='blur'] {
      filter: blur(20px);
      opacity: 0.5;
      scale: 1.05;
      transition: filter 1.6s var(--animation-timing-fade-in), opacity 1.3s var(--animation-timing-fade-in),
        scale 1.6s var(--animation-timing-fade-in);
    }

    .text-animation-visible[data-text-effect='blur'] {
      filter: blur(0);
      opacity: 1;
      scale: 1;
    }

    /* Reveal effect */
    [data-text-effect='reveal'],
    [data-text-effect='reveal'] .text-animation-line {
      overflow: hidden;
    }

    [data-text-effect='reveal'] .text-animation-line * {
      transform: translateY(100%);
    }

    .text-animation-visible[data-text-effect='reveal'],
    .text-animation-visible[data-text-effect='reveal'] .text-animation-line {
      overflow: visible;
      transition: overflow 0s linear 0.75s;
    }

    .text-animation-visible[data-text-effect='reveal'] .text-animation-line * {
      transition: transform 0.5s var(--animation-timing-fade-in) 0.05s;
      transform: translateY(0);
    }
  }
{% endstylesheet %}