{% comment %} [START block.markup] {% endcomment %}
<div
  class="slideshow__slide slider__slide grid__item grid--1-col"
  id="Slide-{{ block.id }}"
  {{ block.shopify_attributes }}
  role="group"
  aria-roledescription="{{ 'content.announcement' | t }}"
  aria-label="{{ 'content.announcement' | t }}"
  tabindex="-1"
>
  <div
    class="announcement-bar__announcement"
    role="region"
    aria-label="{{ 'content.announcement' | t }}"
    {{ block.shopify_attributes }}
  >
    <p class="announcement-bar__message">
      <span>{{ block.settings.text | escape }}</span>
    </p>
  </div>
</div>
{% comment %} [END block.markup] {% endcomment %}

{% comment %} [START block.preset] {% endcomment %}
{% schema %}
{
  "name": "t:names.announcement_text",
  "tag": null,
  "settings": [
    {
      "type": "inline_richtext",
      "id": "text",
      "label": "t:options.text",
      "default": "Share information about your brand with your customers."
    }
  ],
  "presets": [
    { "name": "t:names.announcement_text" }
  ]
}
{% endschema %}
{% comment %} [END block.preset {% endcomment %}