{%- liquid
  assign media_aspect_ratio = block.settings.image_ratio
  assign ratio = 1
  if image and media_aspect_ratio == 'portrait'
    assign ratio = 0.8
  elsif image and media_aspect_ratio == 'adapt'
    assign ratio = image.aspect_ratio
  endif
  if ratio == 0 or ratio == null
    assign ratio = 1
  endif
-%}

{% stylesheet %}
  .blog-post-block__image-container img {
    height: 100%;
    object-fit: cover;
    object-position: center center;
    width: 100%;
    transition-property: opacity, transform;
    transition-duration: var(--duration-long);
    transition-timing-function: var(--cubic-fast);
  }
  .blog-post-block__image-container .ratio img {
    position: absolute;
    bottom: 0;
    top: 0;
  }
  .featured-article-block .placeholder{
    height: clamp(500px, 100vw, 1100px)!important;
  }
{% endstylesheet %}
{% if image != blank %}
<div class="ratio" style="--ratio-percent: {{ 1 | divided_by: ratio | times: 100 }}%;">
  <img
    srcset="
      {% if image.width >= 350 %}{{ image | image_url: width: 350 }} 350w,{% endif %}
      {% if image.width >= 750 %}{{ image | image_url: width: 750 }} 750w,{% endif %}
      {% if image.width >= 1100 %}{{ image | image_url: width: 1100 }} 1100w,{% endif %}
      {% if image.width >= 1500 %}{{ image | image_url: width: 1500 }} 1500w,{% endif %}
      {{ image | image_url }} {{ image.width }}w
    "
    src="{{ image | image_url: width: 1100 }}"
    loading="eager"
    fetchpriority="high"
    width="{{ image.width }}"
    height="{{ image.height }}"
    alt="{{ image.alt | escape }}"
    class="
      border-style
      blog-post-card__image
      blog-post-card__image--{{ block.settings.height }}
    "
    style="{% render 'border-override', settings: block.settings %}"
  >
</div>
{% else %}
<div class="placeholder" style="height: 500px;">
  {{ 'blog-apparel-3' | placeholder_svg_tag: 'placeholder-svg placeholder' }}
</div>
{% endif %}

{% schema %}
{
  "name": "Image",
  "blocks": [],
  "settings": [
    {
    "type": "select",
    "id": "image_ratio",
    "options": [
        {
        "value": "adapt",
        "label": "t:sections.featured-collection.settings.image_ratio.options__1.label"
        },
        {
        "value": "portrait",
        "label": "t:sections.featured-collection.settings.image_ratio.options__2.label"
        },
        {
        "value": "square",
        "label": "t:sections.featured-collection.settings.image_ratio.options__3.label"
        }
    ],
    "default": "adapt",
    "label": "t:sections.featured-collection.settings.image_ratio.label"
    },
    {
      "type": "select",
      "id": "border",
      "label": "t:settings.border",
      "options": [
        {
          "value": "none",
          "label": "t:options.none"
        },
        {
          "value": "solid",
          "label": "t:options.solid"
        }
      ],
      "default": "none"
    },
    {
      "type": "range",
      "id": "border_width",
      "min": 0,
      "max": 10,
      "step": 0.5,
      "unit": "px",
      "label": "t:settings.border_width",
      "default": 1,
      "visible_if": "{{ block.settings.border != 'none' }}"
    },
    {
      "type": "range",
      "id": "border_radius",
      "label": "t:settings.corner_radius",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    }
  ]
}
{% endschema %}
