{%- liquid
  assign article = block.settings.article
  assign truncatewords = block.settings.truncatewords
  assign content = article.excerpt | default: article.content
-%}

{% stylesheet %}
  .blog-post-description {
    display: flex;
    gap: var(--gap-sm);
    font-size: var(--font-size--paragraph);
    color: rgb(from var(--color-foreground) r g b / var(--opacity-subdued-text));
  }
  .blog-post-description > span {
    text-overflow: clip;
    overflow: hidden;
  }
{% endstylesheet %}

<div
  class="
    blog-post-description
    spacing-style
    {% if block.settings.type_preset != '' %}{{ block.settings.type_preset }}{% endif%}
  "
  style="{% render 'spacing-style', settings: block.settings %}"
>
  {% if content %}
      {{ content | strip_html | truncatewords: truncatewords }}
  {% endif %}
</div>

{% schema %}
{
  "name": "Article description",
  "settings": [
    {
      "type": "article",
      "id": "article",
      "label": "Article"
    },
    {
      "type": "range",
      "id": "truncatewords",
      "min": 10,
      "max": 200,
      "step": 2,
      "default": 90,
      "label": "Truncatewords"
    },
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "select",
      "id": "width",
      "label": "t:settings.width",
      "options": [
        {
          "value": "fit-content",
          "label": "t:options.fit"
        },
        {
          "value": "100%",
          "label": "t:options.fill"
        }
      ],
      "default": "fit-content"
    },
    {
      "type": "text_alignment",
      "id": "alignment",
      "label": "t:settings.alignment",
      "default": "left",
      "visible_if": "{{ block.settings.width == '100%' }}"
    },
    {
      "type": "header",
      "content": "t:content.typography"
    },
    {
      "type": "select",
      "id": "type_preset",
      "label": "t:settings.preset",
      "options": [
        {
          "value": "rte",
          "label": "t:options.default"
        },
        {
          "value": "paragraph",
          "label": "t:options.paragraph"
        },
        {
          "value": "h1",
          "label": "t:options.h1"
        },
        {
          "value": "h2",
          "label": "t:options.h2"
        },
        {
          "value": "h3",
          "label": "t:options.h3"
        },
        {
          "value": "h4",
          "label": "t:options.h4"
        },
        {
          "value": "h5",
          "label": "t:options.h5"
        },
        {
          "value": "h6",
          "label": "t:options.h6"
        },
        {
          "value": "custom",
          "label": "t:options.custom"
        }
      ],
      "default": "rte",
      "info": "t:info.edit_presets_in_theme_settings"
    },
    {
      "type": "select",
      "id": "font",
      "label": "t:settings.font",
      "options": [
        {
          "value": "var(--font-body--family)",
          "label": "t:options.body"
        },
        {
          "value": "var(--font-heading--family)",
          "label": "t:options.heading"
        }
      ],
      "default": "var(--font-body--family)",
      "visible_if": "{{ block.settings.type_preset == 'custom' }}"
    },
    {
      "type": "select",
      "id": "font_size",
      "label": "t:settings.size",
      "options": [
        {
          "value": "18.4rem",
          "label": "184px"
        },
        {
          "value": "15.2rem",
          "label": "152px"
        },
        {
          "value": "12rem",
          "label": "120px"
        },
        {
          "value": "8.8rem",
          "label": "88px"
        },
        {
          "value": "8rem",
          "label": "80px"
        },
        {
          "value": "7.2rem",
          "label": "72px"
        },
        {
          "value": "6.4rem",
          "label": "64px"
        },
        {
          "value": "5.6rem",
          "label": "56px"
        },
        {
          "value": "5rem",
          "label": "50px"
        },
        {
          "value": "4.8rem",
          "label": "48px"
        },
        {
          "value": "4rem",
          "label": "40px"
        },
        {
          "value": "3.2rem",
          "label": "32px"
        },
        {
          "value": "2.4rem",
          "label": "24px"
        },
        {
          "value": "2.0rem",
          "label": "20px"
        },
        {
          "value": "1.8rem",
          "label": "18px"
        },
        {
          "value": "1.6rem",
          "label": "16px"
        },
        {
          "value": "1.4rem",
          "label": "14px"
        },
        {
          "value": "1.2rem",
          "label": "12px"
        },
        {
          "value": "1rem",
          "label": "10px"
        },
        {
          "value": "",
          "label": "t:options.default"
        }
      ],
      "default": "1.6rem",
      "visible_if": "{{ block.settings.type_preset == 'custom' }}"
    },
    {
      "type": "select",
      "id": "letter_spacing",
      "label": "t:settings.letter_spacing",
      "options": [
        {
          "value": "tight",
          "label": "t:options.tight"
        },
        {
          "value": "normal",
          "label": "t:options.normal"
        },
        {
          "value": "loose",
          "label": "t:options.loose"
        }
      ],
      "default": "normal",
      "visible_if": "{{ block.settings.type_preset == 'custom' }}"
    },
    {
      "type": "select",
      "id": "case",
      "label": "t:settings.case",
      "options": [
        {
          "value": "none",
          "label": "t:options.default"
        },
        {
          "value": "uppercase",
          "label": "t:options.uppercase"
        }
      ],
      "default": "none",
      "visible_if": "{{ block.settings.type_preset == 'custom' }}"
    },
    {
      "type": "select",
      "id": "wrap",
      "label": "t:settings.wrap",
      "options": [
        {
          "value": "pretty",
          "label": "t:options.pretty"
        },
        {
          "value": "balance",
          "label": "t:options.balance"
        },
        {
          "value": "nowrap",
          "label": "t:options.none"
        }
      ],
      "visible_if": "{{ block.settings.type_preset == 'custom' }}"
    },
    {
      "type": "header",
      "content": "Padding"
    },
    {
      "type": "range",
      "id": "padding-block-start",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 0,
      "label": "t:settings_schema.global.settings.spacing.spacing_top.label"
    },
    {
      "type": "range",
      "id": "padding-inline-end",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 0,
      "label": "t:settings_schema.global.settings.spacing.spacing_right.label"
    },
    {
      "type": "range",
      "id": "padding-block-end",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 0,
      "label": "t:settings_schema.global.settings.spacing.spacing_bottom.label"
    },
    {
      "type": "range",
      "id": "padding-inline-start",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 0,
      "label": "t:settings_schema.global.settings.spacing.spacing_left.label"
    }
  ],
  "presets": [
    {
      "name": "Article description"
    }
  ]
}
{% endschema %}
