{% liquid
  assign block_settings = block.settings
  assign product_resource = closest.product
  assign make_collapsible_row = block_settings.make_collapsible_row
  assign enable_quick_add = block_settings.enable_quick_add
  assign product_list_limit = block_settings.product_list_limit
  assign products_per_page = block_settings.products_per_page
  assign pagination_type = block_settings.pagination_type
  assign navigation = block_settings.navigation
  assign dots_top_offset = block_settings.dots_top_offset
  assign progress_top_offset = block_settings.progress_top_offset
  assign image_ratio = block_settings.image_ratio
  assign icon = block_settings.icon
  assign block_heading = block_settings.block_heading
%}

{% liquid
  assign columns_gap = 16
  assign rows_gap = 16

  assign products = recommendations.products
  assign products_count = recommendations.products_count
  assign columns_desktop = products_count | plus: 0.0 | divided_by: products_per_page | ceil
  assign columns_tablet = products_count | plus: 0.0 | divided_by: products_per_page | ceil
  assign columns_mobile = products_count | plus: 0.0 | divided_by: products_per_page | ceil
  assign slides_per_view = columns_mobile
%}

<product-recommendations
  class="complementary-products-component quick-add-hidden{% if make_collapsible_row %} is-accordion{% endif %}{% if enable_quick_add %} complementary-products-contains-quick-add{% endif %}"
  data-url="{{ routes.product_recommendations_url }}?limit={{ product_list_limit }}&intent=complementary"
  data-section-id="{{ section.id }}"
  data-product-id="{{ product_resource.id }}"
>
  {%- if recommendations.performed and products_count > 0 -%}
    <aside
      aria-label="{{ 'accessibility.complementary_products' | t }}"
      {{ block.shopify_attributes -}}
      {% if make_collapsible_row %}
        class="product__accordion accordion"
      {% endif %}
    >
      <div class="complementary-products__container">
        {%- if make_collapsible_row -%}
          <details id="Details-{{ block.id }}-{{ section.id }}" open>
            <summary>
        {%- endif %}
        <div class="summary__title">
          {%- if make_collapsible_row -%}
            {% render 'icon-accordion', icon: icon %}
            <h2 class="h4 accordion__title">{{ block_heading }}</h2>
          {%- else -%}
            <h2 class="h3 accordion__title">{{ block_heading }}</h2>
          {%- endif -%}
        </div>
        {%- if make_collapsible_row -%}
          {{- 'icon-caret.svg' | inline_asset_content -}}
          </summary>
        {%- endif -%}
        <div class="complementary-products__slider-container">
          {%- capture breakpoints -%}
            {
              "768": { "slidesPerView": {{ columns_tablet }} },
              "1400": { "slidesPerView": {{ columns_desktop }} }
            }
          {%- endcapture -%}
          <swiper-component
            class="complementary-products-swiper w-full block"
            {%- render 'swiper-data',
              slides_per_view: slides_per_view,
              space_between: columns_gap,
              watch_slides_progress: true,
              breakpoints: breakpoints
            -%}
            style="
              {% render 'swiper-style',
                columns_mobile: columns_mobile,
                columns_tablet: columns_tablet,
                columns_desktop: columns_desktop,
                columns_gap: columns_gap,
              %}
            "
          >
            <div class="swiper w-full" 
              style="
                {% if pagination_type == 'bullets' and navigation == 'pagination' or navigation == 'arrows-pagination' %}
                  --dots-top-offset: {{ dots_top_offset }}px;
                {% elsif pagination_type == 'progressbar' and navigation == 'pagination' or navigation == 'arrows-pagination' %}
                  --progress-top-offset: {{ progress_top_offset }}px;
                {% endif %}
              "
            >
              <ul
                id="ComplementaryGrid-{{ block.id }}"
                class="grid grid-layout contains-card contains-card--product complementary-slider list-unstyled swiper-wrapper"
                style="--grid-desktop-horizontal-spacing: {{ columns_gap }}px; --grid-desktop-vertical-spacing: {{ rows_gap }}px;"
                role="list"
                aria-label="{{ 'content.grid.name' | t }}"
              >
                {%- for product in products -%}
                  <li class="complementary-slide complementary-slide--{{ settings.card_style }} grid__item swiper-slide">
                    {% content_for 'block', type: 'card-product-flex', id: 'product-complementary-item', closest.product: product %}
                  </li>
                {%- endfor -%}
              </ul>
              <div class="swiper-btns-wrap">
                {%- render 'swiper-button' -%}
              </div>
              <div class="swiper-pagination"></div>
            </div>
          </swiper-component>
        </div>
        {%- if make_collapsible_row -%}
          </details>
        {%- endif -%}
      </div>
    </aside>
  {%- endif -%}
  {{ 'component-card.css' | asset_url | stylesheet_tag }}
  {{ 'component-complementary-products.css' | asset_url | stylesheet_tag }}
  {%- if enable_quick_add -%}
    {{ 'quick-add.css' | asset_url | stylesheet_tag }}
    <script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>
  {%- endif -%}
</product-recommendations>

{% schema %}
  {
    "name": "Complementary products",
    "settings": [
      {
        "type": "paragraph",
        "content": "Manage complementary products in the [Search & Discovery app](https://help.shopify.com/manual/online-store/search-and-discovery/product-recommendations)"
      },
      {
        "type": "text",
        "id": "block_heading",
        "default": "Pairs well with",
        "label": "t:settings.heading"
      },
      {
        "type": "checkbox",
        "id": "make_collapsible_row",
        "default": false,
        "label": "Collapsible row"
      },
      {
        "type": "select",
        "id": "icon",
        "options": [
          {
            "value": "none",
            "label": "t:options.none"
          },
          {
            "value": "security",
            "label": "t:options.security"
          },
          {
            "value": "alert",
            "label": "t:options.alert"
          },
          {
            "value": "shopping-bag",
            "label": "t:options.shopping_bag"
          },
          {
            "value": "cart",
            "label": "t:options.cart"
          },
          {
            "value": "apple",
            "label": "t:options.apple"
          },
          {
            "value": "arrow",
            "label": "t:options.arrow"
          },
          {
            "value": "banana",
            "label": "t:options.banana"
          },
          {
            "value": "bottle",
            "label": "t:options.bottle"
          },
          {
            "value": "box",
            "label": "t:options.box"
          },
          {
            "value": "carrot",
            "label": "t:options.carrot"
          },
          {
            "value": "circle",
            "label": "t:options.circle"
          },
          {
            "value": "chat_bubble",
            "label": "t:options.chat_bubble"
          },
          {
            "value": "check_mark",
            "label": "t:options.check_mark"
          },
          {
            "value": "clipboard",
            "label": "t:options.clipboard"
          },
          {
            "value": "dairy",
            "label": "t:options.dairy"
          },
          {
            "value": "dairy_free",
            "label": "t:options.dairy_free"
          },
          {
            "value": "dryer",
            "label": "t:options.dryer"
          },
          {
            "value": "eye",
            "label": "t:options.eye"  
          },
          {
            "value": "facebook",
            "label": "t:options.facebook"
          },
          {
            "value": "fire",
            "label": "t:options.fire"
          },
          {
            "value": "gluten_free",
            "label": "t:options.gluten_free"
          },
          {
            "value": "heart",
            "label": "t:options.heart"
          },
          {
            "value": "instagram",
            "label": "t:options.instagram"
          },
          {
            "value": "iron",
            "label": "t:options.iron"
          },
          {
            "value": "leaf",
            "label": "t:options.leaf"
          },
          {
            "value": "leather",
            "label": "t:options.leather"
          },
          {
            "value": "lightning_bolt",
            "label": "t:options.lightning_bolt"
          },
          {
            "value": "lipstick",
            "label": "t:options.lipstick"
          },
          {
            "value": "lock",
            "label": "t:options.lock"
          },
          {
            "value": "map_pin",
            "label": "t:options.map_pin"
          },
          {
            "value": "nut_free",
            "label": "t:options.nut_free"
          },
          {
            "value": "pants",
            "label": "t:options.pants"
          },
          {
            "value": "paw_print",
            "label": "t:options.paw_print"
          },
          {
            "value": "pepper",
            "label": "t:options.pepper"
          },
          {
            "value": "perfume",
            "label": "t:options.perfume"
          },
          {
            "value": "pinterest",
            "label": "t:options.pinterest"
          },
          {
            "value": "plane",
            "label": "t:options.plane"
          },
          {
            "value": "plant",
            "label": "t:options.plant"
          },
          {
            "value": "price_tag",
            "label": "t:options.price_tag"
          },
          {
            "value": "question_mark",
            "label": "t:options.question_mark"
          },
          {
            "value": "recycle",
            "label": "t:options.recycle"
          },
          {
            "value": "return",
            "label": "t:options.return"
          },
          {
            "value": "ruler",
            "label": "t:options.ruler"
          },
          {
            "value": "serving_dish",
            "label": "t:options.serving_dish"
          },
          {
            "value": "shirt",
            "label": "t:options.shirt"
          },
          {
            "value": "shoe",
            "label": "t:options.shoe"
          },
          {
            "value": "silhouette",
            "label": "t:options.silhouette"
          },
          {
            "value": "snapchat",
            "label": "t:options.snapchat"
          },
          {
            "value": "snowflake",
            "label": "t:options.snowflake"
          },
          {
            "value": "star",
            "label": "t:options.star"
          },
          {
            "value": "stopwatch",
            "label": "t:options.stopwatch"
          },
          {
            "value": "tiktok",
            "label": "t:options.tiktok"
          },
          {
            "value": "truck",
            "label": "t:options.truck"
          },
          {
            "value": "tumblr",
            "label": "t:options.tumblr"
          },
          {
            "value": "twitter",
            "label": "t:options.twitter"
          },
          {
            "value": "vimeo",
            "label": "t:options.vimeo"
          },
          {
            "value": "washing",
            "label": "t:options.washing"
          }
        ],
        "default": "price_tag",
        "info": "Shown when collapsible row is selected",
        "label": "Icon"
      },
      {
        "type": "range",
        "id": "product_list_limit",
        "min": 1,
        "max": 10,
        "step": 1,
        "default": 10,
        "label": "t:settings.product_count"
      },
      {
        "type": "range",
        "id": "products_per_page",
        "min": 1,
        "max": 4,
        "step": 1,
        "default": 3,
        "label": "t:settings.products_per_page"
      },
      {
        "type": "header",
        "content": "t:content.carousel"
      },
      {
        "type": "checkbox",
        "id": "loop",
        "label": "t:settings.loop",
        "default": false
      },
      {
        "type": "select",
        "id": "navigation",
        "label": "t:settings.navigation",
        "options": [
          {
            "value": "none",
            "label": "t:options.none"
          },
          {
            "value": "arrows",
            "label": "t:options.arrows"
          },
          {
            "value": "pagination",
            "label": "t:options.pagination"
          },
          {
            "value": "arrows-pagination",
            "label": "t:settings.arrows_and_pagination"
          }
        ],
        "default": "arrows"
      },
      {
        "type": "select",
        "id": "pagination_type",
        "label": "t:settings.pagination_type",
        "visible_if": "{{ block.settings.navigation == 'pagination' or block.settings.navigation == 'arrows-pagination' }}",
        "options": [
          {
            "value": "bullets",
            "label": "t:options.dots"
          },
          {
            "value": "dynamic",
            "label": "t:options.dynamic"
          },
          {
            "value": "progressbar",
            "label": "t:options.progress"
          },
          {
            "value": "fraction",
            "label": "t:options.counter"
          }
        ],
        "default": "fraction"
      },
      {
        "type": "range",
        "id": "dots_top_offset",
        "label": "t:settings.dots_top_offset",
        "min": 20,
        "max": 100,
        "step": 1,
        "unit": "px",
        "default": 40,
        "visible_if": "{{ block.settings.pagination_type == 'bullets' and block.settings.navigation == 'pagination' or block.settings.navigation == 'arrows-pagination' }}"
      },
      {
        "type": "range",
        "id": "progress_top_offset",
        "label": "t:settings.progress_top_offset",
        "min": 20,
        "max": 100,
        "step": 1,
        "unit": "px",
        "default": 40,
        "visible_if": "{{ block.settings.pagination_type == 'progressbar' and block.settings.navigation == 'pagination' or block.settings.navigation == 'arrows-pagination' }}"
      },
      {
        "type": "header",
        "content": "t:content.product_card"
      },
      {
        "type": "select",
        "id": "image_ratio",
        "options": [
          {
            "value": "portrait",
            "label": "t:options.portrait"
          },
          {
            "value": "square",
            "label": "t:options.square"
          }
        ],
        "label": "t:settings.image_ratio",
        "default": "square"
      },
      {
        "type": "checkbox",
        "id": "enable_quick_add",
        "default": true,
        "label": "t:settings.enable_quick_add_button"
      }
    ],
    "presets": [
      {
        "name": "Complementary products",
        "category": "t:categories.product"
      }
    ]
  }
{% endschema %}