{% comment %} add liquid code to change position of icon and button  {% endcomment %}

{% liquid
  assign ratio = 1

  case block.settings.image_ratio
    when 'landscape'
      assign ratio = '16 / 9'
    when 'portrait'
      assign ratio = '4 / 5'
    when 'adapt'
      assign ratio = block.settings.background_image.aspect_ratio
  endcase

  if ratio == 0 or ratio == null
    assign ratio = 1
  endif

  assign image = block.settings.background_image
  assign image_height = image.height
  assign image_width = image.width

  assign dots_style_type = block.settings.dots_style_type
  assign show_products_button = block.settings.show_products_button
  assign products_button_text = block.settings.products_button_text
  assign products_button_text_hide = block.settings.products_button_text_hide
%}

{% capture class %}
  image-block image-block--{{ block.id }} image-block--height-{{ block.settings.height }} spacing-style border-style{% if block.settings.hover_overlay == true %} image-overlay{% endif %}{% if block.settings.hover_zoomIn == true %} image-zoomIn{% endif %}{% if block.settings.hide_on_mobile %} max-sm:hidden{% endif %}
{% endcapture %}

{% capture style %}
  --ratio: {{ ratio }};
  {% render 'size-style', settings: block.settings %}
  {% render 'spacing-style', settings: block.settings %}
  {% render 'border-override', settings: block.settings %}
{% endcapture %}

{% liquid
  assign media_width_desktop = '100vw'
  assign media_width_mobile = '100vw'
  assign sizes = 'auto, (min-width: 750px) ' | append: media_width_desktop | append: ', ' | append: media_width_mobile
  assign widths = '300, 450, 600, 750, 900, 1050, 1200, 1350, 1500, 1650, 1800, 1950, 2000, 2500, 3000, 3500, 4000, 5000'

  assign element = 'div'
  if block.settings.enable_fancybox and image != blank
    assign element = 'a'
  elsif block.settings.enable_parallax
    assign element = 'parallax-image'
  endif
%}

{%- if block.settings.enable_fancybox -%}
  {%- render 'fancybox_lib' -%}
{%- endif -%}

{% capture class_img %}
  image-block__image {% if block.settings.enable_parallax %} image-parallax--target{% endif %}
{% endcapture %}

{% capture attributes_fancybox %}
  href="{{ image | image_url: width: 1200 }}"
  data-fancybox="{{ section.id }}-instagram-gallery"
  data-caption="{{ image.alt | default: 'Instagram Image' }}"
  data-fancybox-width="{{ image_width | default: 1200 }}"
  data-fancybox-height="{{ image_height | default: 800 }}"
{% endcapture %}

{% capture attributes_parllax %}
  data-parallax="true"
  data-speed="{{ block.settings.parallax_speed }}"
{% endcapture %}

{% capture attributes %}
  {{ block.shopify_attributes }}
  {% if block.settings.enable_fancybox and image != blank %}
      {{ attributes_fancybox }}
  {% endif %}
  {% if block.settings.enable_parallax %}
    {{ attributes_parllax }}
  {% endif %}
{% endcapture %}

<div class="lookbook-item relative size-style dots-style-{{ dots_style_type }}" style="{{ style }}">
  <div class="lookbook-item__image relative">
    <{{ element }}
      class="{{ class }}"
      {{ attributes }}
    >
    {%- if image != blank -%}
      {%- render 'image',
        image: image,
        class: class_img,
        height: image.height,
        sizes: sizes,
        widths: widths
      -%}
    {%- else -%}
      {{ 'hero-apparel-1' | placeholder_svg_tag: 'image-block__image placeholder-svg' }}
    {%- endif -%}
    </{{ element }}>
  </div>
  <div class="lookbook-item__content">
    {%- content_for 'blocks' -%}
  </div>

  {%- if show_products_button -%}
    <div class="lookBook__btnShowProducts">
      <span class="icon_plus_2"></span>
      <a class="show_products" href="#" aria-label="Show Products" tabindex="0">{{ products_button_text }}</a>
      <a class="hide_products" href="#" aria-label="Hide Products" tabindex="0">{{ products_button_text_hide }}</a>
    </div>
  {%- endif -%}
</div>

{%- stylesheet -%}
  .image-block {
    display: flex;
    justify-content: var(--horizontal-alignment, 'inline-start');
  }

  .image-block--height-fill .image-block__image{
    height: 100%;
  }

  .image-block__image{
    object-fit: cover;
    aspect-ratio: var(--ratio);
  }

  .lookBook__btnShowProducts {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 1.5rem;
    left: 1.5rem;
    z-index: 5;
    font-size: 1.4rem;
    font-weight: 400;
    height: 3rem;
    min-width: 14rem;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 0.5rem;

    & a {
      color: #ffffff;
      text-decoration: none;
    }
  }

  @media screen and (min-width: 1025px) {
    .lookBook__btnShowProducts {
      bottom: 2.5rem;
      left: 4rem;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.3s ease-in-out;
    }

    .lookbook-item:hover .lookBook__btnShowProducts {
      opacity: 1;
      visibility: visible;
    }
  }

  .dots-style-dots .lookbook-dot__icon .icon-plus-wrapper,
  .dots-style-number .lookbook-dot__icon .icon-plus-wrapper {
    display: none;
  }

  .dots-style-plus .lookbook-dot__icon {
    width: 3rem;
    height: 3rem;
    background-color: transparent;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    &:before {
      top: 0;
      left: 0;
      width: 3rem;
      height: 3rem;
    }

    & .icon-plus-wrapper {
      transition: transform 0.3s ease;
    }
  }

  .dots-style-plus .lookbook-dot.is-active .icon-plus-wrapper {
    transform: rotate(45deg);
  }

  .lookBook__btnShowProducts .icon_plus_2 {
    position: relative;
    font-size: 0px;
    width: 11px;
    height: 30px;
    padding: 0px 15px;
    transition: transform 0.3s, -webkit-transform 0.3s;
  }

  .lookBook__btnShowProducts .icon_plus_2::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 2px;
    height: 12px;
    background: #ffffff;
  }

  .lookBook__btnShowProducts .icon_plus_2::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 12px;
    height: 2px;
    background: #ffffff;
  }

  .lookBook__btnShowProducts.is-open .icon_plus_2 {
    transform: rotate(45deg);
  }
{%- endstylesheet -%}

{% schema %}
{
  "name": "Lookbook banner",
  "tag": null,
  "blocks": [
    {
      "type": "@theme"
    },
    {
      "type": "@app"
    },
    {
      "type": "_heading"
    },
    {
      "type": "text"
    },
    {
      "type": "button"
    },
    {
      "type": "spacer"
    },
    {
      "type": "_divider"
    },
    {
      "type": "_lookbook-dot"
    },
    {
      "type": "_lookbook-circle-text"
    }
  ],
  "settings": [
    {
      "type": "header",
      "content": "Section Banner"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "t:settings.image"
    },
    {
      "type": "select",
      "id": "background_image_position",
      "label": "t:settings.image_position",
      "options": [
        {
          "value": "cover",
          "label": "t:options.cover"
        },
        {
          "value": "fit",
          "label": "t:options.fit"
        }
      ],
      "default": "cover"
    },
    {
      "type": "url",
      "id": "link",
      "label": "t:settings.link",
      "visible_if": "{{ block.settings.enable_fancybox == false }}"
    },
    {
      "type": "checkbox",
      "id": "hide_on_mobile",
      "label": "t:settings.hide_on_mobile",
      "default": false
    },
    {
      "type": "select",
      "id": "dots_style_type",
      "label": "t:settings.dot_style",
      "options": [
        {
          "value": "dots",
          "label": "t:options.dots"
        },
        {
          "value": "number",
          "label": "t:options.number"
        },
        {
          "value": "plus",
          "label": "t:options.plus"
        }
      ],
      "default": "dots"
    },
    {
      "type": "checkbox",
      "id": "show_products_button",
      "label": "t:settings.show_all_products_button",
      "default": false
    },
    {
      "type": "text",
      "id": "products_button_text",
      "label": "t:settings.products_button_text",
      "default": "Show Products",
      "visible_if": "{{ block.settings.show_products_button }}"
    },
    {
      "type": "text",
      "id": "products_button_text_hide",
      "label": "t:settings.products_button_text_hide",
      "default": "Hide Products",
      "visible_if": "{{ block.settings.show_products_button }}"
    },
    {
      "type": "header",
      "content": "t:content.size"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__3.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.main-collection-product-grid.settings.image_ratio.label"
    },
    {
      "type": "select",
      "id": "width",
      "label": "t:settings.width_desktop",
      "options": [
        {
          "value": "fit-content",
          "label": "t:options.fit_content"
        },
        {
          "value": "fill",
          "label": "t:options.fill"
        },
        {
          "value": "custom",
          "label": "t:options.custom"
        }
      ],
      "default": "custom"
    },
    {
      "type": "range",
      "id": "custom_width",
      "label": "t:settings.custom_width",
      "min": 1,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 100,
      "visible_if": "{{ block.settings.width == 'custom' }}"
    },
    {
      "type": "select",
      "id": "width_tablet",
      "label": "t:settings.width_tablet",
      "options": [
        {
          "value": "fit-content",
          "label": "t:options.fit_content"
        },
        {
          "value": "fill",
          "label": "t:options.fill"
        },
        {
          "value": "custom",
          "label": "t:options.custom"
        }
      ],
      "default": "custom"
    },
    {
      "type": "range",
      "id": "custom_width_tablet",
      "label": "t:settings.custom_width",
      "min": 1,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 100,
      "visible_if": "{{ block.settings.width_tablet == 'custom' }}"
    },
    {
      "type": "select",
      "id": "width_mobile",
      "label": "t:settings.width_mobile",
      "options": [
        {
          "value": "fit-content",
          "label": "t:options.fit_content"
        },
        {
          "value": "fill",
          "label": "t:options.fill"
        },
        {
          "value": "custom",
          "label": "t:options.custom"
        }
      ],
      "default": "custom"
    },
    {
      "type": "range",
      "id": "custom_width_mobile",
      "label": "t:settings.custom_width",
      "min": 1,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 100,
      "visible_if": "{{ block.settings.width_mobile == 'custom' }}"
    },
    {
      "type": "select",
      "id": "height",
      "label": "t:settings.height",
      "options": [
        {
          "value": "fit",
          "label": "t:options.fit_content"
        },
        {
          "value": "fill",
          "label": "t:options.fill"
        }
      ],
      "default": "fit",
      "visible_if": "{{ block.settings.image_ratio == 'adapt' }}"
    },
    {
      "type": "header",
      "content": "t:content.border"
    },
    {
      "type": "select",
      "id": "border",
      "label": "t:settings.style",
      "options": [
        {
          "value": "none",
          "label": "t:options.none"
        },
        {
          "value": "solid",
          "label": "t:options.solid"
        }
      ],
      "default": "none"
    },
    {
      "type": "range",
      "id": "border_width",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:settings.thickness",
      "default": 1,
      "visible_if": "{{ block.settings.border != 'none' }}"
    },
    {
      "type": "range",
      "id": "border_opacity",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "t:settings.opacity",
      "default": 100,
      "visible_if": "{{ block.settings.border != 'none' }}"
    },
    {
      "type": "range",
      "id": "border_radius",
      "label": "t:settings.corner_radius",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "header",
      "content": "Animation"
    },
    {
      "type": "checkbox",
      "id": "enable_fancybox",
      "label": "t:settings.enable_lightbox",
      "default": true,
      "info": "t:info.enable_fancybox_info",
      "visible_if": "{{ block.settings.enable_parallax == false }}"
    },
    {
      "type": "checkbox",
      "id": "enable_parallax",
      "label": "t:settings.enable_parallax_scroll",
      "default": false,
      "visible_if": "{{ block.settings.enable_fancybox == false }}"
    },
    {
      "type": "range",
      "id": "parallax_speed",
      "label": "t:settings.parallax_speed",
      "min": 0,
      "max": 4,
      "step": 0.5,
      "default": 0.5,
      "visible_if": "{{ block.settings.enable_fancybox == false and block.settings.enable_parallax }}"
    },
    {
      "type": "header",
      "content": "t:content.padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 0,
      "label": "t:settings.top"
    },
    {
      "type": "range",
      "id": "padding_right",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 0,
      "label": "t:settings.right"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 0,
      "label": "t:settings.bottom"
    },
    {
      "type": "range",
      "id": "padding_left",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 0,
      "label": "t:settings.left"
    }
  ],
  "presets": [
    {
      "name": "Lookbook banner"
    }
  ]
}
{% endschema %}