{% liquid
  assign columns_mobile = 1
  assign columns_tablet = 1
  assign columns_desktop = 1
  assign columns_gap = 0

  assign enable_navigation = false
  if block.settings.navigation == 'arrows-pagination' or block.settings.navigation == 'arrows'
    assign enable_navigation = true
  endif

  assign enable_pagination = false
  if block.settings.navigation == 'pagination' or block.settings.navigation == 'arrows-pagination'
    assign enable_pagination = true
  endif
%}

{% capture list_items %}
  {% for product in block.settings.product_list %}
    <li
      id="Slide-{{ block.id }}-{{ product.id }}-{{ forloop.index }}"
      class="grid__item swiper-slide{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
      {% if settings.animations_reveal_on_scroll %}
        style="--animation-order: {{ forloop.index }};"
      {% endif %}
    >
      {% content_for 'block',
        type: 'card-product-flex',
        id: 'product-slide-item',
        closest.product: product
      %}
    </li>

    {% unless forloop.last %}
      <!--@list/split-->
    {% endunless %}
  {% endfor %}
{% endcapture %}

<div
  class="lookbook-item-all relative size-style"
  style="{% render 'size-style', settings: block.settings %}"
  {{ block.shopify_attributes }}
>
  <div
    class="section-resource-list__content gap-style"
    style="--horizontal-alignment: {{ section.settings.horizontal_alignment }};{%  render 'gap-style', value: block.settings.gap %}"
  >
    {%- content_for 'blocks' -%}
  </div>

  {%- assign slides_per_view = columns_mobile -%}
  {%- capture breakpoints -%}
    {
      "768": { "slidesPerView": {{ columns_tablet }} },
      "1024": { "slidesPerView": {{ columns_tablet }} },
      "1400": { "slidesPerView": {{ columns_desktop }} }
    }
  {%- endcapture -%}
  <swiper-component
    class="lookbook-item-all-swiper-component full-width"
    {%- render 'swiper-data',
      settings: block.settings,
      slides_per_view: slides_per_view,
      space_between: columns_gap,
      watch_slides_progress: true,
      breakpoints: breakpoints
    -%}
    style="
      {% render 'swiper-style',
        columns_mobile: columns_mobile,
        columns_tablet: columns_tablet,
        columns_desktop: columns_desktop,
        columns_gap: columns_gap,
      %}"
  >
    <div class="swiper w-full">
      <ul
        id="Slider-{{ block.id }}"
        data-id="{{ block.id }}"
        class="swiper-wrapper grid-layout-no-js list-unstyled lg:grid-layout--{{ columns_desktop }} md:grid-layout--3 grid--{{ columns_mobile }}-col-mobile"
      >
        {{ list_items }}
      </ul>

      {%- if enable_pagination -%}
        <div class="swiper-pagination"></div>
      {%- endif -%}
      {%- if enable_navigation -%}
        <div class="swiper-btns-wrap small-hide swiper-btns-wrap--{{ block.settings.arrows_position }}">
          {%- render 'swiper-button' -%}
        </div>
      {%- endif -%}
    </div>
  </swiper-component>
</div>

{% schema %}
{
  "name": "Lookbook item all",
  "tag": null,
  "blocks": [
    {
      "type": "@theme"
    },
    {
      "type": "@app"
    },
    {
      "type": "_heading"
    },
    {
      "type": "text"
    },
    {
      "type": "button"
    },
    {
      "type": "spacer"
    },
    {
      "type": "_divider"
    }
  ],
  "settings": [
    {
      "type": "product_list",
      "id": "product_list",
      "label": "Product list",
      "limit": 10
    },
    {
      "type": "range",
      "id": "gap",
      "label": "t:settings.gap",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 12
    },
    {
      "type": "header",
      "content": "Carousel layout"
    },
    {
      "type": "checkbox",
      "id": "loop",
      "label": "Loop",
      "default": false
    },
    {
      "type": "select",
      "id": "navigation",
      "label": "Navigation",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "arrows",
          "label": "t:options.arrows"
        },
        {
          "value": "pagination",
          "label": "Pagination"
        },
        {
          "value": "arrows-pagination",
          "label": "Arrows & Pagination"
        }
      ],
      "default": "arrows"
    },
    {
      "type": "select",
      "id": "arrows_position",
      "label": "Arrows position",
      "options": [
        {
          "value": "inside",
          "label": "Inside slide"
        },
        {
          "value": "bottom",
          "label": "Bottom slide"
        }
      ],
      "default": "inside",
      "visible_if": "{{ block.settings.navigation == 'arrows' or block.settings.navigation == 'arrows-pagination' }}"
    },
    {
      "type": "select",
      "id": "pagination_type",
      "label": "Pagination type",
      "visible_if": "{{ block.settings.navigation == 'pagination' or block.settings.navigation == 'arrows-pagination' }}",
      "options": [
        {
          "value": "bullets",
          "label": "t:options.dots"
        },
        {
          "value": "dynamic",
          "label": "Dynamic"
        },
        {
          "value": "progressbar",
          "label": "Progress"
        },
        {
          "value": "fraction",
          "label": "t:options.counter"
        }
      ],
      "default": "bullets"
    },
    {
      "type": "header",
      "content": "t:content.size"
    },
    {
      "type": "select",
      "id": "width",
      "label": "t:settings.width",
      "options": [
        {
          "value": "fit-content",
          "label": "t:options.fit_content"
        },
        {
          "value": "fill",
          "label": "t:options.fill"
        },
        {
          "value": "custom",
          "label": "t:options.custom"
        }
      ],
      "default": "fill"
    },
    {
      "type": "range",
      "id": "custom_width",
      "label": "t:settings.custom_width",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 100,
      "visible_if": "{{ block.settings.width == 'custom' }}"
    },
    {
      "type": "select",
      "id": "width_mobile",
      "label": "t:settings.width_mobile",
      "options": [
        {
          "value": "fit-content",
          "label": "t:options.fit_content"
        },
        {
          "value": "fill",
          "label": "t:options.fill"
        },
        {
          "value": "custom",
          "label": "t:options.custom"
        }
      ],
      "default": "fill"
    },
    {
      "type": "range",
      "id": "custom_width_mobile",
      "label": "t:settings.custom_width",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 100,
      "visible_if": "{{ block.settings.width_mobile == 'custom' }}"
    }
  ],
  "presets": [
    {
      "name": "Lookbook item all"
    }
  ]
}
{% endschema %}
