{%- liquid
  assign bl_stts = block.settings

  assign p_left = bl_stts.padding_left
  assign p_right = bl_stts.padding_right
  assign p_top = bl_stts.padding_top
  assign p_bottom = bl_stts.padding_bottom

  assign gap_x = bl_stts.gap_x
  assign gap_y = bl_stts.gap_y
-%}
{%- capture children -%}
  {%- content_for 'blocks' -%}
{%- endcapture -%}

{%- capture styles -%}
  style="{%- if p_left != 0 -%}--pl:{{ p_left }}px;{%- endif -%}
  {%- if p_top != 0 -%}--pt:{{ p_top }}px;{%- endif -%}
  {%- if p_bottom != 0 -%}--pb:{{ p_bottom }}px;{%- endif -%}
  {%- if p_right != 0 -%}--pr:{{ p_right }}px;{%- endif -%}
  {%- if gap_x != 0 -%}--gap-x: {{ gap_x }}px;{%- endif -%}
  {%- if gap_y != 0 -%}--gap-y: {{ gap_y }}px;{%- endif -%}
  "
{%- endcapture -%}

<div
  class="{{ bl_stts | class_list }} group-block group-block--{{block.id}} flex-section wid-100 dis-flex f-{{ bl_stts.direction }} f-{{ bl_stts.wrap }} a-i-{{ bl_stts.align_items}} j-c-{{ bl_stts.justify_content }} color-{{ bl_stts.color_scheme }}"
  {{ block.shopify_attributes }}
  {{ styles }}
>
  {{ children }}
</div>

{% schema %}
{
  "name": "Group: Section header",
  "blocks": [
    { "type": "@theme" },
    { "type": "@app" },
    { "type": "spacer" },
    { "type": "text" },
    { "type": "_collection_title" },
    { "type": "_view_all_button" },
    { "type": "button" }
  ],
  "settings": [
    {
      "type": "header",
      "content": "Size"
    },
    {
      "type": "select",
      "id": "width_option",
      "label": "Width Option",
      "options": [
        {
          "value": "full",
          "label": "Full width"
        },
        {
          "value": "custom",
          "label": "Custom"
        }
      ],
      "default": "custom"
    },
    {
      "type": "range",
      "id": "custom_width",
      "label": "Custom (%)",
      "min": 1,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 80,
      "visible_if": "{{ block.settings.width_option == 'custom' }}"
    },
    {
      "type": "header",
      "content": "Padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 0,
      "label": "t:settings_schema.global.settings.spacing.spacing_top.label"
    },
    {
      "type": "range",
      "id": "padding_right",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 0,
      "label": "t:settings_schema.global.settings.spacing.spacing_right.label"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 0,
      "label": "t:settings_schema.global.settings.spacing.spacing_bottom.label"
    },
    {
      "type": "range",
      "id": "padding_left",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 0,
      "label": "t:settings_schema.global.settings.spacing.spacing_left.label"
    },
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "select",
      "id": "direction",
      "label": "Direction",
      "default": "row",
      "options": [
        {
          "value": "row",
          "label": "⭢"
        },
        {
          "value": "column",
          "label": "⭣"
        }
      ]
    },
    {
      "type": "select",
      "id": "wrap",
      "label": "Wrap",
      "default": "wrap",
      "options": [
        {
          "value": "no-wrap",
          "label": "No"
        },
        {
          "value": "wrap",
          "label": "Yes"
        }
      ]
    },
    {
      "type": "select",
      "id": "align_items",
      "options": [
        {
          "value": "stretch",
          "label": "Default"
        },
        {
          "value": "start",
          "label": "⤒"
        },
        {
          "value": "center",
          "label": "⮃"
        },
        {
          "value": "end",
          "label": "⤓"
        }
      ],
      "default": "stretch",
      "label": "Align items"
    },
    {
      "type": "select",
      "id": "justify_content",
      "options": [
        {
          "value": "start",
          "label": "Start"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "end",
          "label": "End"
        },
        {
          "value": "between",
          "label": "Space Between"
        },
        {
          "value": "around",
          "label": "Space Around"
        },
        {
          "value": "evenly",
          "label": "Space Evenly"
        }
      ],
      "default": "start",
      "label": "Justify"
    },
    {
      "type": "range",
      "id": "gap_x",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 10,
      "label": "Column Gap"
    },
    {
      "type": "range",
      "id": "gap_y",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 10,
      "label": "Row Gap"
    }
  ],
  "presets": [
    {
      "name": "Group: Section header"
    }
  ]
}
{% endschema %}
