{%- liquid
  assign sec_stts = section.settings
  assign block_stts = block.settings

  assign blockIndex = 0
  for sectionBlock in section.blocks
    assign blockIndex = blockIndex | plus: 1
    if block.id == sectionBlock.id
      break
    endif
  endfor

  assign media_count = 0

  assign has_image_1 = false
  assign has_image_2 = false
  assign has_video_1 = false
  assign has_video_2 = false
  assign has_image = false
  assign has_video = false
  assign has_video_multiple = false
  assign has_media = false
  assign media_type_1 = block_stts.media_type_1
  assign media_type_2 = block_stts.media_type_2
  if block_stts.image_1 != blank and media_type_1 == 'image'
    assign has_image_1 = true
  endif
  if block_stts.image_2 != blank and media_type_2 == 'image'
    assign has_image_2 = true
  endif

  if block_stts.image_mb_1 != blank and media_type_1 == 'image'
    assign has_image_mb_1 = true
  endif
  if block_stts.image_mb_2 != blank and media_type_2 == 'image'
    assign has_image_mb_2 = true
  endif

  if has_image_1 or has_image_2
    assign has_image = true
  endif
  if has_video_1 or has_video_2
    assign has_video = true
  endif
  if has_image or has_video
    assign has_media = true
  endif

  if blockIndex == 1 and section.index == 1
    assign loading = 'eager'
    assign fetchpriority = 'high'
  else
    assign loading = 'lazy'
    assign fetchpriority = 'low'
  endif

  assign height_1 = block_stts.image_1.width | divided_by: block_stts.image_1.aspect_ratio | round
  assign height_2 = block_stts.image_2.width | divided_by: block_stts.image_2.aspect_ratio | round
  if block_stts.image_1 != blank and block_stts.image_2 != blank
    assign media_width_desktop = 100 | divided_by: 2 | append: 'vw'
  else
    assign media_width_desktop = '100vw'
  endif
  assign media_width_mobile = '100vw'
  assign sizes = '(min-width: 750px) ' | append: media_width_desktop | append: ', ' | append: media_width_mobile
  assign widths = '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840'
-%}

{% capture media %}
  {%- if has_image_1 or has_image_mb_1 -%}
    {% assign media_count = media_count | plus: 1 %}

    <picture
      class="media media--transparent h-full{% if sec_stts.image_behavior != 'none' %} animate--{{ sec_stts.image_behavior }}{% endif %}"
      data-swiper-parallax="35%"
    >
      {%- if has_image_mb_1 -%}
        <source
          media="(max-width: 1024px)"
          srcset="{{ block_stts.image_mb_1 | image_url: width: '400x' }} 400w, {{ block_stts.image_mb_1 | image_url: width: '600x' }} 600w, {{ block_stts.image_mb_1 | image_url: width: '800x' }} 800w, {{ block_stts.image_mb_1 | image_url: width: '1000x' }} 1000w"
          width="{{ block_stts.image_mb_1.width }}"
          height="{{ block_stts.image_mb_1.height }}"
        >
      {%- endif -%}

      {{
        block_stts.image_1
        | image_url: width: 3840
        | image_tag: height: height_1, sizes: sizes, widths: widths, loading: loading, fetchpriority: fetchpriority
      }}
    </picture>
  {%- endif -%}

  {%- if has_video_1 -%}
    {% assign media_count = media_count | plus: 1 %}
    {{
      section.settings.video_1
      | video_tag:
        image_size: '3840x',
        autoplay: true,
        loop: true,
        controls: false,
        muted: true,
        class: 'hero__video'
    }}
  {%- endif -%}

  {%- if has_image_2 or has_image_mb_2 -%}
    {% assign media_count = media_count | plus: 1 %}
    <picture
      class="media media--transparent h-full{% if sec_stts.image_behavior != 'none' %} animate--{{ sec_stts.image_behavior }}{% endif %}"
      data-swiper-parallax="35%"
    >
      {%- if has_image_mb_2 -%}
        <source
          media="(max-width: 1024px)"
          srcset="{{ block_stts.image_mb_2 | image_url: width: '400x' }} 400w, {{ block_stts.image_mb_2 | image_url: width: '600x' }} 600w, {{ block_stts.image_mb_2 | image_url: width: '800x' }} 800w, {{ block_stts.image_mb_2 | image_url: width: '1000x' }} 1000w"
          width="{{ block_stts.image_mb_2.width }}"
          height="{{ block_stts.image_mb_2.height }}"
        >
      {%- endif -%}

      {{
        block_stts.image_2
        | image_url: width: 3840
        | image_tag: height: height_2, sizes: sizes, widths: widths, loading: loading, fetchpriority: fetchpriority
      }}
    </picture>
  {%- endif -%}

  {%- if has_video_2 -%}
    {% assign media_count = media_count | plus: 1 %}
    {{
      section.settings.video_2
      | video_tag:
        image_size: '3840x',
        autoplay: true,
        loop: true,
        controls: false,
        muted: true,
        class: 'hero__video'
    }}
  {%- endif -%}

  {% if has_media == false %}
    {%- assign placeholder_slide = blockIndex | modulo: 2 -%}
    {%- if placeholder_slide == 1 -%}
      {{ 'hero-apparel-2' | placeholder_svg_tag: 'placeholder-svg' }}
    {%- else -%}
      {{ 'hero-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
    {%- endif -%}
  {%- endif -%}
{% endcapture %}

{%- capture class_slide_item -%}
  slideshow__slide flex relative justify-center size-full
  {% if block.settings.inherit_color_scheme == false %}color-scheme-custom{% endif %}
{%- endcapture -%}

<slideshow-animated
  id="slide-{{ block.id }}"
  class="{{ class_slide_item }}"
  aria-hidden="{% if blockIndex == 1 %}false{% else %}true{% endif %}"
  {{ block.shopify_attributes }}
>
  {% style %}
    {%- if sec_stts.slide_height == 'adapt_image' and blockIndex == 1 and block_stts.image_1 != blank or block_stts.image_2 != blank -%}
      {%- liquid
        if block_stts.image_1 != blank and block_stts.image_2 == blank
          assign ratio = block_stts.image_1.aspect_ratio
          assign ratio_mb = block_stts.image_mb_1.aspect_ratio
        elsif block_stts.image_2 != blank and block_stts.image_1 == blank
          assign ratio = block_stts.image_2.aspect_ratio
          assign ratio_mb = block_stts.image_mb_2.aspect_ratio
        elsif block_stts.image_1 != blank and block_stts.image_2 != blank
          if block_stts.image_1.aspect_ratio > block_stts.image_2.aspect_ratio
            assign ratio = block_stts.image_1.aspect_ratio | times: 2
            assign ratio_mb = block_stts.image_mb_1.aspect_ratio | times: 2
          else
            assign ratio = block_stts.image_2.aspect_ratio | times: 2
            assign ratio_mb = block_stts.image_mb_2.aspect_ratio | times: 2
          endif
        else
          assign ratio = 1
          assign ratio_mb = 1
        endif
      -%}
      #slideshow-{{ section.id }}.slideshow--has-right-banner .slideshow__slides {
        aspect-ratio: {{ ratio }};
      }

      #slideshow-{{ section.id }}:not(.slideshow--has-right-banner, .slideshow--has-left-banner) .slideshow__slides {
        aspect-ratio: {{ ratio }};
      }

      @media screen and (max-width: 749px){
      {%- if has_image_mb_1 or has_image_mb_2 -%}
        #slideshow-{{ section.id }}.slideshow--has-right-banner.slideshow.slideshow--stack-mobile .slideshow__slides,
        #slideshow-{{ section.id }}.slideshow.slideshow--stack-mobile:not(.slideshow--has-right-banner, .slideshow--has-left-banner) .slideshow__slides {
          aspect-ratio: auto;
        }

        #slideshow-{{ section.id }}.slideshow.slideshow--stack-mobile .slideshow__slide#slide-{{ block.id }} .media {
          /* aspect-ratio: {{ ratio_mb | divided_by: 2 }}; */
          aspect-ratio: {{ ratio_mb }}; /* ryu change */
        }

        #slideshow-{{ section.id }}.slideshow--has-right-banner:not(.slideshow.slideshow--stack-mobile) .slideshow__slides {
          aspect-ratio: {{ ratio_mb }};
        }

        #slideshow-{{ section.id }}:not(.slideshow--has-right-banner, .slideshow--has-left-banner, .slideshow.slideshow--stack-mobile) .slideshow__slides {
          aspect-ratio: {{ ratio_mb }};
        }
      {%- endif -%}
      }
    {%- endif -%}
    {% if block.settings.inherit_color_scheme == false %}
      {% render 'color-scheme-style', settings: block.settings %}
    {% endif %}
  {% endstyle %}

  {%- if block.settings.slide_background %}
    <div class="slide__image-container flex size-full overflow-hidden absolute" data-image-trans>
      <div
        class="slide__img-wrapper grid w-full"
        {%- if block_stts.image_1 != blank -%}
          style="--slide-media-count: {{ media_count }};"
        {%- endif -%}
      >
        {{ media }}
      </div>
    </div>
  {% endif -%}

  <div class="{{ block_stts.container }} h-{{ block_stts.height }}">
    <div
      class="
        relative size-full
        slide__content
        {% if settings.animations_reveal_on_scroll %} slide__content--animate{% endif %}
      "
    >
      {% content_for 'blocks' %}
    </div>
  </div>
</slideshow-animated>

{%- stylesheet -%}
  slideshow-animated .slide__image-container {
    height: 140%;
  }

  .slide__img-wrapper {
    grid-template-columns: repeat(var(--slide-media-count, 1), 1fr);
  }

  .slide__content--animate {
    .text-block {
      overflow: hidden;
      position: relative;

      > * {
        opacity: var(--opacity-0);
        transform: translateY(100%);
        transition: transform var(--animation-speed-slowest) var(--ease-out-cubic),
          opacity var(--animation-speed-slowest) var(--ease-out-cubic);
        transition-delay: var(--swiper-speed);
      }
    }

    .link {
      --animation-delay: var(--swiper-speed);
      opacity: var(--opacity-0);
    }
  }

  .swiper-slide-active .slide__content--animate {
    .text-block > * {
      opacity: var(--opacity-100);
      transform: translateY(0);
    }

    .link {
      opacity: var(--opacity-100);
    }
  }
{%- endstylesheet -%}

{% schema %}
{
  "name": "t:names.slide",
  "blocks": [
    { "type": "@theme" },
    { "type": "@app" },
    { "type": "group" },
    { "type": "_scrolling-text" },
    { "type": "_marquee" }
  ],
  "class": "swiper-slide",
  "settings": [
    {
      "type": "header",
      "content": "t:content.layout"
    },
    {
      "type": "checkbox",
      "id": "slide_background",
      "label": "t:settings.background",
      "default": true
    },
    {
      "type": "select",
      "id": "container",
      "label": "t:content.width",
      "default": "page-width",
      "options": [
        {
          "value": "page-width",
          "label": "t:options.page"
        },
        {
          "value": "page-width page-width--full",
          "label": "t:options.full"
        }
      ]
    },
    {
      "type": "select",
      "id": "height",
      "label": "t:settings.height",
      "options": [
        {
          "value": "fit",
          "label": "t:options.fit_content"
        },
        {
          "value": "full",
          "label": "t:options.fill"
        }
      ],
      "default": "fit"
    },
    {
      "type": "header",
      "content": "t:content.media"
    },
    {
      "type": "select",
      "id": "media_type_1",
      "label": "t:settings.type",
      "options": [
        {
          "value": "image",
          "label": "t:options.image"
        },
        {
          "value": "video",
          "label": "t:options.video"
        }
      ],
      "default": "image"
    },
    {
      "type": "image_picker",
      "id": "image_1",
      "label": "t:settings.default_image",
      "visible_if": "{{ block.settings.slide_background }}"
    },
    {
      "type": "image_picker",
      "id": "image_mb_1",
      "label": "t:settings.mobile_image",
      "visible_if": "{{ block.settings.slide_background }}"
    },
    {
      "type": "header",
      "content": "t:content.media_2"
    },
    {
      "type": "select",
      "id": "media_type_2",
      "label": "t:settings.type",
      "options": [
        {
          "value": "image",
          "label": "t:options.image"
        },
        {
          "value": "video",
          "label": "t:options.video"
        }
      ],
      "default": "image"
    },
    {
      "type": "image_picker",
      "id": "image_2",
      "label": "t:settings.default_image",
      "visible_if": "{{ block.settings.slide_background }}"
    },
    {
      "type": "image_picker",
      "id": "image_mb_2",
      "label": "t:settings.mobile_image",
      "visible_if": "{{ block.settings.slide_background }}"
    },
    {
      "type": "header",
      "content": "t:settings.color"
    },
    {
      "type": "checkbox",
      "id": "inherit_color_scheme",
      "label": "t:settings.inherit_color_scheme",
      "default": true
    },
    {
      "type": "color",
      "id": "scheme_background",
      "label": "t:settings.background",
      "default": "#FFFFFF",
      "alpha": true,
      "visible_if": "{{ block.settings.inherit_color_scheme == false }}"
    },
    {
      "type": "color_background",
      "id": "scheme_background_gradient",
      "label": "t:content.background_gradient",
      "info": "t:info.background_gradient_info",
      "visible_if": "{{ block.settings.inherit_color_scheme == false }}"
    },
    {
      "type": "color",
      "id": "scheme_foreground_heading",
      "label": "t:settings.headings",
      "default": "#000000",
      "alpha": true,
      "visible_if": "{{ block.settings.inherit_color_scheme == false }}"
    },
    {
      "type": "color",
      "id": "scheme_foreground",
      "label": "t:settings.text",
      "default": "#000000",
      "alpha": true,
      "visible_if": "{{ block.settings.inherit_color_scheme == false }}"
    },
    {
      "type": "color",
      "id": "scheme_primary",
      "label": "t:settings.primary_color",
      "default": "#000F9F",
      "alpha": true,
      "visible_if": "{{ block.settings.inherit_color_scheme == false }}"
    },
    {
      "type": "color",
      "id": "scheme_primary_hover",
      "label": "t:settings.primary_hover_color",
      "default": "#000000",
      "alpha": true,
      "visible_if": "{{ block.settings.inherit_color_scheme == false }}"
    },
    {
      "type": "color",
      "id": "scheme_border",
      "label": "t:settings.borders",
      "default": "#E6E6E6",
      "alpha": true,
      "visible_if": "{{ block.settings.inherit_color_scheme == false }}"
    },
    {
      "type": "color",
      "id": "scheme_shadow",
      "label": "t:settings.shadow_color",
      "default": "#000000",
      "alpha": true,
      "visible_if": "{{ block.settings.inherit_color_scheme == false }}"
    }
  ],
  "presets": [
    {
      "name": "t:names.slide",
      "category": "t:categories.banners"
    }
  ]
}
{% endschema %}
