{% comment %}
  Renders a product card

  Accepts:
  - card_product: {Object} Product Liquid object (optional)
  - media_aspect_ratio: {String} Size of the product image card. Values are "square" and "portrait". Default is "square" (optional)
  - image_shape: {String} Image mask to apply to the product image card. Values are "arch", "blob", "chevronleft", "chevronright", "diamond", "parallelogram", and "round". (optional)
  - show_secondary_image: {Boolean} Show the secondary image on hover. Default: false (optional)
  - show_vendor: {Boolean} Show the product vendor. Default: false
  - show_rating: {Boolean} Show the product rating. Default: false
  - extend_height: {Boolean} Card height extends to available container space. Default: true (optional)
  - lazy_load: {Boolean} Image should be lazy loaded. Default: true (optional)
  - skip_styles: {Boolean} Don't include component styles. Useful when rendering multiple product cards in a loop. Default: false (optional)
  - quick_add: {Boolean} Show the quick add button.
  - section_id: {String} The ID of the section that contains this card.
  - horizontal_class: {Boolean} Add a card--horizontal class if set to true. Default: false (optional)
  - horizontal_quick_add: {Boolean} Changes the quick add button styles when set to true. Default: false (optional)
  - placeholder_image: {String} The placeholder image to use when no product exists. Default: 'product-apparel-2' (optional)

  Usage:
  {% render 'card-product', show_vendor: section.settings.show_vendor %}
{% endcomment %}

{%- liquid
  assign card_product = block.settings.product
-%}

<div class="card--block card-wrapper product-card-wrapper underline-links-hover color-{{ block.settings.color_scheme }}">
  <div
    class="
      card card--{{ settings.card_style }} card--quickadd-type-{{ settings.quick_add_type }}
      {% if card_product.featured_media %} card--media{% else %} card--text{% endif %}
      {% if settings.card_style == 'card' %} color-{{ settings.card_color_scheme }}{% endif %}
      {% if image_shape and image_shape != 'default' %} card--shape{% endif %}
      {% if extend_height %} card--extend-height{% endif %}
      {% if card_product.featured_media == nil and settings.card_style == 'card' %} ratio{% endif %}
      {% if horizontal_class %} card--horizontal{% endif %}
      flex-{{ block.settings.content_direction }} flex-{{ block.settings.wrap }} items-{{ block.settings.align_items}} justify-{{ block.settings.justify_content }}
    "
  >
    <template>
      <div
        data-json-product='{"id": {{card_product.id}},"handle": "{{card_product.handle}}","media": {{product.media | json | escape}},"variants": {{ card_product.variants | json | escape}}}'
      ></div>
    </template>
    {% content_for 'blocks' %}
  </div>
</div>

{% schema %}
{
  "name": "Product card",
  "tag": null,
  "blocks": [
    { "type": "@app" },
    { "type": "spacer" },
    { "type": "icon" },
    { "type": "_card-product-information" },
    { "type": "_card-product-media-flex" },
    { "type": "_card-product-button-flex" },
    { "type": "_card-product-vendor-flex" },
    { "type": "_card-product-title-flex" },
    { "type": "_card-product-price-flex" },
    { "type": "_card-product-variant-flex" },
    { "type": "_card-product-marquee-flex" },
    { "type": "_card-product-countdown-flex" }
  ],
  "settings": [
    {
      "type": "product",
      "id": "product",
      "label": "t:sections.collage.blocks.product.settings.product.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "info": "t:sections.all.colors.has_cards_info",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "select",
      "id": "content_direction",
      "label": "t:settings.direction",
      "options": [
        {
          "value": "column",
          "label": "t:options.vertical"
        },
        {
          "value": "row",
          "label": "t:options.horizontal"
        }
      ],
      "default": "column"
    },
    {
      "type": "select",
      "id": "wrap",
      "label": "Wrap",
      "default": "no-wrap",
      "options": [
        {
          "value": "no-wrap",
          "label": "No"
        },
        {
          "value": "wrap",
          "label": "Yes"
        }
      ]
    },
    {
      "type": "select",
      "id": "align_items",
      "options": [
        {
          "value": "stretch",
          "label": "Default"
        },
        {
          "value": "start",
          "label": "⤒"
        },
        {
          "value": "center",
          "label": "⮃"
        },
        {
          "value": "end",
          "label": "⤓"
        }
      ],
      "default": "stretch",
      "label": "Align items"
    },
    {
      "type": "select",
      "id": "justify_content",
      "options": [
        {
          "value": "start",
          "label": "Start"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "end",
          "label": "End"
        },
        {
          "value": "between",
          "label": "Space Between"
        },
        {
          "value": "around",
          "label": "Space Around"
        },
        {
          "value": "evenly",
          "label": "Space Evenly"
        }
      ],
      "default": "start",
      "label": "Justify"
    }
  ],
  "presets": [
    {
      "name": "Product card",
      "blocks": [
        {
          "type": "_card-product-media-flex",
          "settings": {
            "product": "{{ closest.product }}"
          }
        },
        {
          "type": "spacer",
          "settings": {
            "spacer_height": 6
          }
        },
        {
          "type": "_card-product-button-flex",
          "settings": {
            "product": "{{ closest.product }}"
          }
        },
        {
          "type": "_card-product-vendor-flex",
          "settings": {
            "product": "{{ closest.product }}"
          }
        },
        {
          "type": "_card-product-title-flex",
          "settings": {
            "product": "{{ closest.product }}"
          }
        },
        {
          "type": "_card-product-price-flex",
          "settings": {
            "product": "{{ closest.product }}"
          }
        },
        {
          "type": "_card-product-variant-flex",
          "settings": {
            "product": "{{ closest.product }}"
          }
        }
      ]
    }
  ]
}
{% endschema %}
