{%- liquid
    assign section_id = section.id
    assign card_product = block.settings.product
    assign enable_quick_view = settings.enable_quick_view
    assign enable_price_wishlist = settings.enable_price_wishlist
    assign enable_price_compare = settings.enable_price_compare
-%}

{%- if card_product and card_product != empty -%}
    <div class="card-product__group-wrapper">
        <div class="card--block-group card-product__group pos-absolute top-0 right-0 z-index-2 dis-flex f-column" style="--gap-y: 1rem; --pad-a-a: .5rem; --pad-a-a-md: 1rem; --pad-a-a-lg: 1.6rem;">
            {%- assign class_button = 'card-product__group-btn bor-circle bor-none center c-pointer dis-flex a-i-center j-c-center pos-relative' -%}
            {% comment %} ------ Wishlist ------ {% endcomment %}
            {%- if enable_price_wishlist -%}
                <div class="card-product__group-item card-wishlist">
                    <wisht-list>
                        <button type="button" title="{{ 'wishlist.general.add' | t }}" class="{{ class_button }} wishlist-button " data-wishlist data-wishlist-handle="{{ card_product.handle }}" data-product-id="{{ card_product.id }}">
                            <span class="text pointer-e-none pos-absolute-c-y z-index--1">
                                <span class="text-inner">{{ 'wishlist.general.add' | t }}</span>
                            </span>
                            {% render 'icon', icon: 'heart' %}
                        </button>
                    </wisht-list>
                </div>
            {%- endif -%}
    
            {% comment %} ------ Quick view ------ {% endcomment %}
             {%- if enable_quick_view -%}
                 <div class="card-product__group-item card-quickview ">
                     <button type="button" title="{{ 'products.product.quick_view' | t }}" class="{{ class_button }} quickview-button" data-product-id="{{ card_product.id }}" data-open-quick-view-popup data-product-handle="{{ card_product.handle }}">
                         <span class="text pointer-e-none pos-absolute-c-y z-index--1">
                             <span class="text-inner">{{ 'products.product.quick_view' | t }}</span>
                         </span>
                         {% render 'icon', icon: 'eye' %}
                     </button>
                 </div>
             {%- endif -%}
    
            {% comment %} ------ Compare ------ {% endcomment %}
             {%- if enable_price_compare -%}
                 <div class="card-product__group-item card-compare dis-none-mb">
                     <button type="button" title="{{ 'products.product.compare' | t }}" class="{{ class_button }} compare-button" data-compare data-compare-handle="{{ card_product.handle }}" data-product-id="{{ card_product.id }}">
                         <span class="text pointer-e-none pos-absolute-c-y z-index--1">
                             <span class="text-inner">{{ 'products.product.compare' | t }}</span>
                         </span>
                         {% render 'icon', icon: 'compare' %}
                     </button>
                 </div>
             {%- endif -%}
    
        </div>

        {% content_for 'blocks' %}
    </div>
{%- endif -%}


{% schema %}
    {
        "name": "Group: Product buttons",
        "tag": null,
        "blocks": [{ "type": "card-product-button-flex" }],
        "settings": [
            {
                "type": "product",
                "id": "product",
                "label": "t:sections.collage.blocks.product.settings.product.label"
            },
        ],
        "presets": [
            {
                "name": "Group: Product buttons",
                "settings": {
                    "product": "{{ closest.product }}"
                }
            }
        ]
    }
{% endschema %}