{%- liquid
    assign card_product = block.settings.product
-%}
<div class="card--block-title">
    {%- if card_product and card_product != empty -%}
        {%- render 'card-product-heading', card_product: card_product -%}
    {%- else -%}
        <h3 class="title-block {{ block.settings | class_list }} card__heading card__heading--placeholder typography-font-body {{ settings.card_heading_size | replace: 'body-xl', 'body-xl body-md-mb' }} f-w-{{ settings.card_heading_font_weight }}{% if index == 1 %} focus-within-inset{% else %} focus-within{% endif %}" {{ block.shopify_attributes }}>
            <a role="link" aria-disabled="true" class="full-unstyled-link">{{ 'onboarding.product_title' | t }}</a>
        </h3>
    {%- endif -%}
</div>
{% schema %}
    {
        "name": "Product title",
        "tag": null,
        "settings": [
            {
                "type": "product",
                "id": "product",
                "label": "t:sections.collage.blocks.product.settings.product.label"
            }
        ],
        "presets": [
            {
                "name": "Product title",
                "settings": {
                    "product": "{{ closest.product }}"
                }
            }
        ]
    }
{% endschema %}