{% comment %}
  Renders a product card

  Accepts:
  - card_product: {Object} Product Liquid object (optional)
  - media_aspect_ratio: {String} Size of the product image card. Values are "square" and "portrait". Default is "square" (optional)
  - image_shape: {String} Image mask to apply to the product image card. Values are "arch", "blob", "chevronleft", "chevronright", "diamond", "parallelogram", and "round". (optional)
  - show_secondary_image: {Boolean} Show the secondary image on hover. Default: false (optional)
  - show_vendor: {Boolean} Show the product vendor. Default: false
  - show_rating: {Boolean} Show the product rating. Default: false
  - extend_height: {Boolean} Card height extends to available container space. Default: true (optional)
  - lazy_load: {Boolean} Image should be lazy loaded. Default: true (optional)
  - skip_styles: {Boolean} Don't include component styles. Useful when rendering multiple product cards in a loop. Default: false (optional)
  - quick_add: {Boolean} Show the quick add button.
  - section_id: {String} The ID of the section that contains this card.
  - horizontal_class: {Boolean} Add a card--horizontal class if set to true. Default: false (optional)
  - horizontal_quick_add: {Boolean} Changes the quick add button styles when set to true. Default: false (optional)
  - placeholder_image: {String} The placeholder image to use when no product exists. Default: 'product-apparel-2' (optional)

  Usage:
  {% render 'card-product', show_vendor: section.settings.show_vendor %}
{% endcomment %}

{%- liquid
  assign card_product = block.settings.product
-%}

<div
  class="card--block card-wrapper product-card-wrapper{% if block.settings.inherit_color_scheme == false %} color-scheme-custom{% endif %} size-style"
  style="
    {% render 'size-style', settings: block.settings %}
    {% if block.settings.inherit_color_scheme == false %}
      {% render 'color-scheme-style', settings: block.settings %}
    {% endif %}
  "
>
  <div
    class="
      card
      card--quickadd-type-{{ settings.quick_add_type }}
      {% if card_product.featured_media %} card--media{% else %} card--text{% endif %}
      flex-{{ block.settings.content_direction }}
      flex-{{ block.settings.wrap }}
      items-{{ block.settings.align_items}}
      justify-{{ block.settings.justify_content }}
      gap-style
    "
    style="{% render 'gap-style', value: block.settings.gap %}"
  >
    <template>
      <div
        data-json-product='{"id": {{card_product.id}},"handle": "{{card_product.handle}}","media": {{product.media | json | escape}},"variants": {{ card_product.variants | json | escape}}}'
      ></div>
    </template>
    {% content_for 'blocks' %}
  </div>
</div>

{% schema %}
{
  "name": "Product card",
  "tag": null,
  "blocks": [
    { "type": "@app" },
    { "type": "spacer" },
    { "type": "_card-product-information" },
    { "type": "_card-product-media-flex" },
    { "type": "_card-product-vendor-flex" },
    { "type": "_card-product-title-flex" },
    { "type": "_card-product-price-flex" },
    { "type": "_card-product-variant-flex" },
    { "type": "_card-product-button-flex" }
  ],
  "settings": [
    {
      "type": "product",
      "id": "product",
      "label": "t:sections.collage.blocks.product.settings.product.label"
    },
    {
      "type": "checkbox",
      "id": "inherit_color_scheme",
      "label": "t:settings.inherit_color_scheme",
      "default": true
    },
    {
      "type": "color",
      "id": "scheme_background",
      "label": "t:settings_schema.colors.settings.background.label",
      "default": "#FFFFFF",
      "alpha": true,
      "visible_if": "{{ block.settings.inherit_color_scheme == false }}"
    },
    {
      "type": "color_background",
      "id": "scheme_background_gradient",
      "label": "t:content.background_gradient",
      "info": "t:info.background_gradient_info",
      "visible_if": "{{ block.settings.inherit_color_scheme == false }}"
    },
    {
      "type": "color",
      "id": "scheme_foreground_heading",
      "label": "t:settings.headings",
      "default": "#000000",
      "alpha": true,
      "visible_if": "{{ block.settings.inherit_color_scheme == false }}"
    },
    {
      "type": "color",
      "id": "scheme_foreground",
      "label": "t:settings.text",
      "default": "#000000",
      "alpha": true,
      "visible_if": "{{ block.settings.inherit_color_scheme == false }}"
    },
    {
      "type": "color",
      "id": "scheme_primary",
      "label": "t:settings.primary_color",
      "default": "#000F9F",
      "alpha": true,
      "visible_if": "{{ block.settings.inherit_color_scheme == false }}"
    },
    {
      "type": "color",
      "id": "scheme_primary_hover",
      "label": "t:settings.primary_hover_color",
      "default": "#000000",
      "alpha": true,
      "visible_if": "{{ block.settings.inherit_color_scheme == false }}"
    },
    {
      "type": "color",
      "id": "scheme_border",
      "label": "t:settings.borders",
      "default": "#E6E6E6",
      "alpha": true,
      "visible_if": "{{ block.settings.inherit_color_scheme == false }}"
    },
    {
      "type": "color",
      "id": "scheme_shadow",
      "label": "t:settings_schema.colors.settings.shadow.label",
      "default": "#000000",
      "alpha": true,
      "visible_if": "{{ block.settings.inherit_color_scheme == false }}"
    },
    {
      "type": "paragraph",
      "content": "t:names.primary_button",
      "visible_if": "{{ block.settings.inherit_color_scheme == false }}"
    },
    {
      "type": "color",
      "id": "scheme_primary_button_background",
      "label": "t:settings.background",
      "default": "#000000",
      "alpha": true,
      "visible_if": "{{ block.settings.inherit_color_scheme == false }}"
    },
    {
      "type": "color_background",
      "id": "scheme_primary_button_background_gradient",
      "label": "t:content.background_gradient",
      "info": "t:info.background_gradient_info",
      "visible_if": "{{ block.settings.inherit_color_scheme == false }}"
    },
    {
      "type": "color",
      "id": "scheme_primary_button_text",
      "label": "t:settings.text",
      "default": "#FFFFFF",
      "alpha": true,
      "visible_if": "{{ block.settings.inherit_color_scheme == false }}"
    },
    {
      "type": "color",
      "id": "scheme_primary_button_border",
      "label": "t:settings.borders",
      "default": "#000000",
      "alpha": true,
      "visible_if": "{{ block.settings.inherit_color_scheme == false }}"
    },
    {
      "type": "color",
      "id": "scheme_primary_button_hover_background",
      "label": "t:settings.hover_background",
      "default": "#000000",
      "alpha": true,
      "visible_if": "{{ block.settings.inherit_color_scheme == false }}"
    },
    {
      "type": "color_background",
      "id": "scheme_primary_button_hover_background_gradient",
      "label": "t:settings.hover_background_gradient",
      "info": "t:info.background_gradient_info",
      "visible_if": "{{ block.settings.inherit_color_scheme == false }}"
    },
    {
      "type": "color",
      "id": "scheme_primary_button_hover_text",
      "label": "t:settings.hover_text",
      "default": "#FFFFFF",
      "alpha": true,
      "visible_if": "{{ block.settings.inherit_color_scheme == false }}"
    },
    {
      "type": "color",
      "id": "scheme_primary_button_hover_border",
      "label": "t:settings.hover_borders",
      "default": "#000000",
      "alpha": true,
      "visible_if": "{{ block.settings.inherit_color_scheme == false }}"
    },
    {
      "type": "paragraph",
      "content": "t:names.secondary_button",
      "visible_if": "{{ block.settings.inherit_color_scheme == false }}"
    },
    {
      "type": "color",
      "id": "scheme_secondary_button_background",
      "label": "t:settings.background",
      "default": "#FFFFFF",
      "alpha": true,
      "visible_if": "{{ block.settings.inherit_color_scheme == false }}"
    },
    {
      "type": "color_background",
      "id": "scheme_secondary_button_background_gradient",
      "label": "t:content.background_gradient",
      "info": "t:info.background_gradient_info",
      "visible_if": "{{ block.settings.inherit_color_scheme == false }}"
    },
    {
      "type": "color",
      "id": "scheme_secondary_button_text",
      "label": "t:settings.text",
      "default": "#000000",
      "alpha": true,
      "visible_if": "{{ block.settings.inherit_color_scheme == false }}"
    },
    {
      "type": "color",
      "id": "scheme_secondary_button_border",
      "label": "t:settings.borders",
      "default": "#000000",
      "alpha": true,
      "visible_if": "{{ block.settings.inherit_color_scheme == false }}"
    },
    {
      "type": "color",
      "id": "scheme_secondary_button_hover_background",
      "label": "t:settings.hover_background",
      "default": "#FFFFFF",
      "alpha": true,
      "visible_if": "{{ block.settings.inherit_color_scheme == false }}"
    },
    {
      "type": "color_background",
      "id": "scheme_secondary_button_hover_background_gradient",
      "label": "t:settings.hover_background_gradient",
      "info": "t:info.background_gradient_info",
      "visible_if": "{{ block.settings.inherit_color_scheme == false }}"
    },
    {
      "type": "color",
      "id": "scheme_secondary_button_hover_text",
      "label": "t:settings.hover_text",
      "default": "#000000",
      "alpha": true,
      "visible_if": "{{ block.settings.inherit_color_scheme == false }}"
    },
    {
      "type": "color",
      "id": "scheme_secondary_button_hover_border",
      "label": "t:settings.hover_borders",
      "default": "#000000",
      "alpha": true,
      "visible_if": "{{ block.settings.inherit_color_scheme == false }}"
    },
    {
      "type": "paragraph",
      "content": "t:names.inputs",
      "visible_if": "{{ block.settings.inherit_color_scheme == false }}"
    },
    {
      "type": "color",
      "id": "scheme_input_background",
      "label": "t:settings.background",
      "default": "#FFFFFF",
      "alpha": true,
      "visible_if": "{{ block.settings.inherit_color_scheme == false }}"
    },
    {
      "type": "color",
      "id": "scheme_input_text_color",
      "label": "t:settings.text",
      "default": "#000000",
      "alpha": true,
      "visible_if": "{{ block.settings.inherit_color_scheme == false }}"
    },
    {
      "type": "color",
      "id": "scheme_input_border_color",
      "label": "t:settings.borders",
      "default": "#000000",
      "alpha": true,
      "visible_if": "{{ block.settings.inherit_color_scheme == false }}"
    },
    {
      "type": "color",
      "id": "scheme_input_hover_background",
      "label": "t:settings.hover_background",
      "default": "#F5F5F5",
      "alpha": true,
      "visible_if": "{{ block.settings.inherit_color_scheme == false }}"
    },
    {
      "type": "paragraph",
      "content": "Carousel",
      "visible_if": "{{ block.settings.inherit_color_scheme == false }}"
    },
    {
      "type": "color",
      "id": "scheme_arrow_color",
      "label": "t:settings.arrow_color",
      "default": "#333333",
      "alpha": true,
      "visible_if": "{{ block.settings.inherit_color_scheme == false }}"
    },
    {
      "type": "color",
      "id": "scheme_arrow_background",
      "label": "t:settings.arrow_background",
      "default": "#ffffff",
      "alpha": true,
      "visible_if": "{{ block.settings.inherit_color_scheme == false }}"
    },
    {
      "type": "color",
      "id": "scheme_arrow_border",
      "label": "t:settings.arrow_border",
      "default": "#333333",
      "alpha": true,
      "visible_if": "{{ block.settings.inherit_color_scheme == false }}"
    },
    {
      "type": "color",
      "id": "scheme_pagination_color",
      "label": "t:settings.pagination_color",
      "default": "#cecece",
      "alpha": true,
      "visible_if": "{{ block.settings.inherit_color_scheme == false }}"
    },
    {
      "type": "color",
      "id": "scheme_pagination_active_color",
      "label": "t:settings.pagination_active_color",
      "default": "#333333",
      "alpha": true,
      "visible_if": "{{ block.settings.inherit_color_scheme == false }}"
    },
    {
      "type": "header",
      "content": "t:content.layout"
    },
    {
      "type": "select",
      "id": "content_direction",
      "label": "t:settings.direction",
      "options": [
        {
          "value": "column",
          "label": "t:options.vertical"
        },
        {
          "value": "row",
          "label": "t:options.horizontal"
        }
      ],
      "default": "column"
    },
    {
      "type": "select",
      "id": "wrap",
      "label": "t:settings.wrap",
      "default": "no-wrap",
      "options": [
        {
          "value": "no-wrap",
          "label": "No"
        },
        {
          "value": "wrap",
          "label": "Yes"
        }
      ]
    },
    {
      "type": "select",
      "id": "align_items",
      "options": [
        {
          "value": "stretch",
          "label": "Default"
        },
        {
          "value": "start",
          "label": "t:options.top"
        },
        {
          "value": "center",
          "label": "t:options.center"
        },
        {
          "value": "end",
          "label": "t:options.bottom"
        }
      ],
      "default": "stretch",
      "label": "t:settings.align_items"
    },
    {
      "type": "select",
      "id": "justify_content",
      "options": [
        {
          "value": "start",
          "label": "Start"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "end",
          "label": "t:options.end"  
        },
        {
          "value": "between",
          "label": "t:options.space_between"
        },
        {
          "value": "around",
          "label": "t:options.space_around"
        },
        {
          "value": "evenly",
          "label": "t:options.space_evenly"
        }
      ],
      "default": "start",
      "label": "t:settings.justify"
    },
    {
      "type": "range",
      "id": "gap",
      "label": "t:settings.gap",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 12
    },
    {
      "type": "header",
      "content": "t:content.size"
    },
    {
      "type": "select",
      "id": "width",
      "label": "t:settings.width",
      "options": [
        {
          "value": "fit-content",
          "label": "t:options.fit_content"
        },
        {
          "value": "fill",
          "label": "t:options.fill"
        },
        {
          "value": "custom",
          "label": "t:options.custom"
        }
      ],
      "default": "fill"
    },
    {
      "type": "range",
      "id": "custom_width",
      "label": "t:settings.custom_width",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 100,
      "visible_if": "{{ block.settings.width == 'custom' }}"
    }
  ],
  "presets": [
    {
      "name": "Product card",
      "category": "t:categories.product",
      "blocks": [
        {
          "type": "_card-product-media-flex",
          "settings": {
            "product": "{{ closest.product }}"
          }
        },
        {
          "type": "_card-product-information"
        }
      ]
    }
  ]
}
{% endschema %}
