{%- liquid
    assign section_id = section.id
    assign block_id = block.id
    assign card_product = block.settings.product
    assign quick_add = block.settings.quick_add
-%}

{%- if card_product and card_product != empty and block.settings.quick_add != 'none' -%}
    <div class="card--block-button {{ block.settings.quick_add }} pos-relative z-index-2">
        {% assign product_form_id = 'quick-add-' | append: section_id | append: card_product.id | append: block_id %}
        {% if quick_add == 'standard' %}
            <div class="quick-add">
            {%- liquid
                assign qty_rules = false
                if card_product.selected_or_first_available_variant.quantity_rule.min > 1 or card_product.selected_or_first_available_variant.quantity_rule.max != null or card_product.selected_or_first_available_variant.quantity_rule.increment > 1
                assign qty_rules = true
                endif
            -%}
            {%- if card_product.variants.size > 1 or qty_rules -%}
                <modal-opener data-modal="#QuickAddStandard">
                <button
                    id="{{ product_form_id }}-submit"
                    type="submit"
                    name="add"
                    class="quick-add__submit button button--full-width {% if horizontal_quick_add %} card--horizontal__quick-add animate-arrow{% endif %}"
                    aria-haspopup="dialog"
                    aria-labelledby="{{ product_form_id }}-submit title-{{ section_id }}-{{ card_product.id }}"
                    data-product-url="{{ card_product.url }}"
                >
                    {{ 'products.product.choose_options' | t }}
                    {%- if horizontal_quick_add -%}
                    <span class="icon-wrap">
                        {{- 'icon-arrow.svg' | inline_asset_content -}}
                    </span>
                    {%- endif -%}
                    {%- render 'loading-spinner' -%}
                </button>
                </modal-opener>
            {%- else -%}
                <product-form data-section-id="{{ section_id }}">
                {%- form 'product',
                    card_product,
                    id: product_form_id,
                    class: 'form',
                    novalidate: 'novalidate',
                    data-type: 'add-to-cart-form'
                -%}
                    <input
                    type="hidden"
                    name="id"
                    value="{{ card_product.selected_or_first_available_variant.id }}"
                    class="product-variant-id"
                    {% if card_product.selected_or_first_available_variant.available == false %}
                        disabled
                    {% endif %}
                    >
                    <button
                    id="{{ product_form_id }}-submit"
                    type="submit"
                    name="add"
                    class="quick-add__submit button button--full-width button--secondary{% if horizontal_quick_add %} card--horizontal__quick-add{% endif %}"
                    aria-haspopup="dialog"
                    aria-labelledby="{{ product_form_id }}-submit title-{{ section_id }}-{{ card_product.id }}"
                    aria-live="polite"
                    data-sold-out-message="true"
                    {% if card_product.selected_or_first_available_variant.available == false %}
                        disabled
                    {% endif %}
                    >
                    <span>
                        {%- if card_product.selected_or_first_available_variant.available -%}
                        {{ 'products.product.add_to_cart' | t }}
                        {%- else -%}
                        {{ 'products.product.sold_out' | t }}
                        {%- endif -%}
                    </span>
                    <span class="sold-out-message hidden">
                        {{ 'products.product.sold_out' | t }}
                    </span>
                    {%- if horizontal_quick_add -%}
                        <span class="icon-wrap">
                        {{- 'icon-plus.svg' | inline_asset_content -}}
                        </span>
                    {%- endif -%}
                    {%- render 'loading-spinner' -%}
                    </button>
                {%- endform -%}
                </product-form>
            {%- endif -%}
            </div>
        {% elsif quick_add == 'bulk' %}
            <div class="quick-add">
            {%- if card_product.variants.size > 1 -%}
                <modal-opener data-modal="#QuickAddBulk">
                <button
                    id="{{ product_form_id }}-submit"
                    type="submit"
                    name="add"
                    class="quick-add__submit button button--full-width button--secondary"
                    aria-haspopup="dialog"
                    aria-labelledby="{{ product_form_id }}-submit title-{{ section_id }}-{{ card_product.id }}"
                    data-product-url="{{ card_product.url }}"
                >
                    {{ 'products.product.choose_options' | t }}
                    {%- render 'loading-spinner' -%}
                </button>
                </modal-opener>
            {%- else -%}
                <quick-add-bulk
                data-min="{{ card_product.selected_or_first_available_variant.quantity_rule.min }}"
                class="quick-add-bulk no-js-hidden"
                id="quick-add-bulk-{{ card_product.selected_or_first_available_variant.id }}"
                data-index="{{ card_product.selected_or_first_available_variant.id }}"
                >
                {% if card_product.selected_or_first_available_variant.available == false %}
                    <button
                    id="{{ product_form_id }}-submit"
                    type="submit"
                    name="add"
                    class="quick-add__submit button button--full-width button--secondary"
                    aria-labelledby="{{ product_form_id }}-submit title-{{ section_id }}-{{ card_product.id }}"
                    data-sold-out-message="true"
                    disabled
                    >
                    <span>{{ 'products.product.sold_out' | t }}</span>
                    <span class="sold-out-message hidden">
                        {{ 'products.product.sold_out' | t }}
                    </span>
                    </button>
                {% else %}
                    {% render 'quantity-input', variant: card_product.selected_or_first_available_variant, min: 0 %}
                {% endif %}
                </quick-add-bulk>
                <noscript>
                <product-form data-section-id="{{ section_id }}">
                    {%- form 'product',
                    card_product,
                    id: product_form_id,
                    class: 'form',
                    novalidate: 'novalidate',
                    data-type: 'add-to-cart-form'
                    -%}
                    <input
                        type="hidden"
                        name="id"
                        value="{{ card_product.selected_or_first_available_variant.id }}"
                        class="product-variant-id"
                        {% if card_product.selected_or_first_available_variant.available == false %}
                        disabled
                        {% endif %}
                    >
                    <button
                        id="{{ product_form_id }}-submit"
                        type="submit"
                        name="add"
                        class="quick-add__submit button button--full-width button--secondary{% if horizontal_quick_add %} card--horizontal__quick-add{% endif %}"
                        aria-haspopup="dialog"
                        aria-labelledby="{{ product_form_id }}-submit title-{{ section_id }}-{{ card_product.id }}"
                        aria-live="polite"
                        data-sold-out-message="true"
                        {% if card_product.selected_or_first_available_variant.available == false %}
                        disabled
                        {% endif %}
                    >
                        <span>
                        {%- if card_product.selected_or_first_available_variant.available -%}
                            {{ 'products.product.add_to_cart' | t }}
                        {%- else -%}
                            {{ 'products.product.sold_out' | t }}
                        {%- endif -%}
                        </span>
                        <span class="sold-out-message hidden">
                        {{ 'products.product.sold_out' | t }}
                        </span>
                        {%- if horizontal_quick_add -%}
                        <span class="icon-wrap">
                            {{- 'icon-plus.svg' | inline_asset_content -}}
                        </span>
                        {%- endif -%}
                        {%- render 'loading-spinner' -%}
                    </button>
                    {%- endform -%}
                </product-form>
                </noscript>
            {%- endif -%}
            </div>
        {% endif %}
    </div>
{%- endif -%}



{%- if quick_add != 'none' -%}
    {%- liquid
      assign files = 'product-form.js'
  
      if quick_add == 'standard'
        assign files = files | append: ', quick-add.js'
      endif
  
      if quick_add == 'bulk'
        assign files = files | append: ', quick-add-bulk.js, quantity-popover.js, price-per-item.js, quick-order-list.js'
      endif
  
      assign files = files | split: ', '
      render 'theme-loader', files: files
    -%}
{%- endif -%}

{% schema %}
    {
        "name": "Product button",
        "tag": null,
        "settings": [
            {
                "type": "product",
                "id": "product",
                "label": "t:sections.collage.blocks.product.settings.product.label"
            },
            {
                "type": "select",
                "id": "quick_add",
                "default": "none",
                "label": "t:sections.main-collection-product-grid.settings.quick_add.label",
                "info": "t:sections.main-collection-product-grid.settings.quick_add.info",
                "options": [
                    {
                        "value": "none",
                        "label": "t:sections.main-collection-product-grid.settings.quick_add.options.option_1"
                    },
                    {
                        "value": "standard",
                        "label": "t:sections.main-collection-product-grid.settings.quick_add.options.option_2"
                    },
                    {
                        "value": "bulk",
                        "label": "t:sections.main-collection-product-grid.settings.quick_add.options.option_3"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "Product button",
                "settings": {
                    "product": "{{ closest.product }}"
                }
            }
        ]
    }
{% endschema %}
