{% comment %} [START nesting.block_render] {% endcomment %}
{%-liquid
  assign total_item = 20
  assign block_size = block.blocks.size

  if block_size < 2
    assign total_item = 100
  endif
  assign limit = total_item | divided_by: block_size

  assign highest_ratio = 0
  for block in block.blocks
    if block.settings.image.aspect_ratio > highest_ratio
      assign highest_ratio = block.settings.image.aspect_ratio
    endif
  endfor
-%}
{% stylesheet %}
  .group-block--{{ block.id }} {
    margin-top: {{ block.settings.margin_top | times: 0.5 | round: 0 }}px;
    margin-bottom: {{ block.settings.margin_bottom | times: 0.5 | round: 0 }}px;
  }
  @media screen and (min-width: 750px) and (max-width: 1024px) {
    .group-block--{{ block.id }} {
      margin-top: {{ block.settings.margin_top | times: 0.75 | round: 0 }}px;
      margin-bottom: {{ block.settings.margin_bottom | times: 0.75 | round: 0 }}px;
    }
  }
  @media screen and (min-width: 1025px) {
    .group-block--{{ block.id }} {
      margin-top: {{ block.settings.margin_top }}px;
      margin-bottom: {{ block.settings.margin_bottom }}px;
    }
  }
{% endstylesheet %}

{%- capture blocks_content -%}
  {% content_for 'blocks' %}
{%- endcapture -%}

<div
  class="{{ block.settings | class_list }} group-block group-block--{{ block.id }} gradient color-{{ block.settings.color_scheme }}"
  {{ block.shopify_attributes }}
>
  <marquee-element>
    <div class="marquee-element wid-100 over-h" style="--pad-t-a: .1rem;--hei-a-md: {{block.settings.height | append: 'px'}};--hei-a-lg: {{block.settings.height | append: 'px'}};--hei-a-md: {{block.settings.height | append: 'px'}};--hei-a-lg: {{block.settings.height | append: 'px'}};--pad-t-a-mb: 0.7rem;--pad-b-a-mb: 0.6rem;--pad-t-a-md: 1.9rem;--pad-b-a-md: 1.8rem;" data-height-sec="{{block.settings.height | append: 'px'}}">
      <div class="announcement-list marquee-list hei-100 dis-flex a-i-center j-c-around" style="--marquee-duration: {{block.settings.speed | append: 's'}};">
        {%- if block_size == 1 -%}
          <div class="marquee-scroll hei-100 dis-flex a-i-center j-c-around f-shrink{% if block.settings.reverse_direction %} marquee-animate{% else %} marquee-animate-rtl{% endif %}">
            {%- for i in (1..2) -%}
              {{ blocks_content }}
            {%- endfor -%}
          </div>
          <div class="marquee-scroll hei-100 dis-flex a-i-center j-c-around f-shrink{% if block.settings.reverse_direction %} marquee-animate{% else %} marquee-animate-rtl{% endif %}">
            {%- for i in (1..2) -%}
              {{ blocks_content }}
            {%- endfor -%}
          </div>
        {%- else -%}
          {%- for i in (1..limit) -%}
            <div class="marquee-scroll hei-100 dis-flex a-i-center j-c-around f-shrink{% if block.settings.reverse_direction %} marquee-animate{% else %} marquee-animate-rtl{% endif %}">
              {{ blocks_content }}
            </div>
          {%- endfor -%}
        {%- endif -%}
      </div>
    </div>
  </marquee-element>
</div>

<script>
  class MarqueeElement extends HTMLElement {
    constructor() {
      super();
    }
  }
  customElements.define('marquee-element', MarqueeElement);
</script>

{%- if request.design_mode -%}
  <script src="{{ 'theme-editor.js' | asset_url }}" defer="defer"></script>
{%- endif -%}
{% comment %} [END nesting.block_render] {% endcomment %}

{% comment %} [START nesting.block_schema] {% endcomment %}
{% schema %}
{
  "name": "Group: Marquee",
  "tag": null,
  "blocks": [
    { "type": "@app" },
    { "type": "marquee-text" }
  ],
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.colors.name"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "checkbox",
      "id": "reverse_direction",
      "label": "reverse",
      "default": false
    },
    {
      "type": "range",
      "id": "speed",
      "min": 5,
      "max": 50,
      "step": 5,
      "unit": "s",
      "label": "speed",
      "default": 15
    },
    {
      "type": "range",
      "id": "height",
      "min": 40,
      "max": 120,
      "step": 5,
      "unit": "px",
      "label": "height",
      "default": 70
    },
    {
      "type": "header",
      "content": "text"
    },
    {
      "type": "select",
      "id": "font_size",
      "label": "fontsize",
      "default": "medium",
      "options": [
        {
          "value": "small",
          "label": "1"
        },
        {
          "value": "medium",
          "label": "2"
        },
        {
          "value": "large",
          "label": "3"
        }
      ]
    },
    {
      "type": "select",
      "id": "font_weight",
      "options": [
        {
          "value": "normal",
          "label": "normal"
        },
        {
          "value": "medium",
          "label": "medium"
        },
        {
          "value": "semibold",
          "label": "semibold"
        },
        {
          "value": "bold",
          "label": "bold"
        }
      ],
      "default": "bold",
      "label": "bold"
    },
    {
      "type": "header",
      "content": "t:sections.all.margin.section_margin_heading"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 150,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.margin.margin_top",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 150,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.margin.margin_bottom",
      "default": 0
    }
  ],
  "presets": [
    {
      "name": "Group: Marquee",
      "settings": {
        "color_scheme": "scheme-3"
      }
    }
  ]
}
{% endschema %}
{% comment %} [END nesting.block_schema] {% endcomment %}