{% comment %} [START block.markup] {% endcomment %}
{% comment %} <div
  class="header-block header-block--{{ block.id }} grid__item dis-block{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}{% if block.settings.vertical_menu != 'none' %} dis-flex a-i-center j-c-center{% endif %}"
  style="--width-header-col: {{ block.settings.width_grid_item }}%;"
  {{ block.shopify_attributes }}
>
  {%- if block.settings.vertical_menu == 'style_1' -%}
    {% render 'header-menu-vertical' %}
  {%- endif -%}
  {% render 'header-menu' %}

  {%- for link in block.settings.menu.links -%}
    {% content_for 'block', type: 'mega-menu', id: 'mega-menu-list', closest.metaobject.link: link %}
  {%- endfor -%}
</div> {% endcomment %}

<link rel="stylesheet" href="{{ 'component-list-menu.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'component-mega-menu.css' | asset_url }}" media="print" onload="this.media='all'">
<noscript>
  {{ 'component-list-menu.css' | asset_url | stylesheet_tag }}
  {{ 'component-mega-menu.css' | asset_url | stylesheet_tag }}
</noscript>

<div class="header__menu-wrapper header__menu-multi-site-wrapper"></div>
<div class="header__menu-wrapper" data-main-menu>
  <nav class="header__inline-menu">
    <ul class="list-menu list-menu-desktop list-menu--inline {{block.settings.color_scheme}}" role="list">
      {%- for link in block.settings.menu.links -%}
        <li>
          {%- if link.links != blank -%}
            {% content_for 'block', type: 'mega-menu', id: 'mega-menu-list', closest.metaobject.link: link %}
          {%- else -%}
            <a
              id="HeaderMenu-{{ link.handle }}"
              href="{{ link.url }}"
              class="header__menu-item list-menu__item link link--text focus-inset"
              {% if link.current %}
                aria-current="page"
              {% endif %}
            >
              <span
                {%- if link.current %}
                  class="header__active-menu-item"
                {% endif %}
              >
                {{- link.title | escape -}}
              </span>
            </a>
          {%- endif -%}
        </li>
      {%- endfor -%}
    </ul>
  </nav>
</div>
{% comment %} [END block.markup] {% endcomment %}

{% comment %} [START block.preset] {% endcomment %}
{% schema %}
{
  "name": "Header menu",
  "tag": "section",
  "settings": [
    {
      "type": "range",
      "id": "width_grid_item",
      "min": 15,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "t:sections.header.settings.grid_item.label__1",
      "info": "t:sections.header.settings.grid_item.info",
      "default": 25
    },
    {
      "type": "header",
      "content": "Main menu"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.header.settings.menu.label"
    },
    {
      "type": "color_scheme",
      "id": "menu_color_scheme",
      "label": "t:sections.header.settings.menu_color_scheme.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.header.blocks.vertical_menu.label"
    },
    {
      "type": "select",
      "id": "vertical_menu",
      "options": [
        {
          "value": "none",
          "label": "t:sections.header.blocks.vertical_menu.options__none.label"
        },
        {
          "value": "style_1",
          "label": "t:sections.header.blocks.vertical_menu.options__1.label"
        }
      ],
      "default": "style_1",
      "label": "t:sections.header.blocks.vertical_menu.label"
    },
    {
      "type": "text",
      "label": "t:sections.header.blocks.vertical_menu.title",
      "id": "vertical_menu_title",
      "default": "Dropdown List"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme_vertical_menu",
      "label": "Vertical menu color scheme",
      "default": "scheme-1"
    }
  ],
  "blocks": [
    {"type": "@app"},
    {"type": "mega-menu"}
  ],
  "presets": [
    { "name": "Header menu",
      "blocks": [
        {
          "id": "mega-menu-list",
          "type": "mega-menu",
          "static": true,
          "settings": {
            "menu": "{{ closest.metaobject.link }}"
          }
        }
      ] 
    }
  ]
}
{% endschema %}
{% comment %} [END block.preset {% endcomment %}
