{% stylesheet %}
{% endstylesheet %}

{% comment %} [START block.markup] {% endcomment %}
<div
  class="{{ block.settings | class_list }} taulablocksize-{{block.blocks.size}}"
  {{ block.shopify_attributes }}
>
  <slideshow-component
    class="announcement-bar"
    role="region"
    aria-roledescription="{{ 'sections.announcements.carousel' | t }}"
    aria-label="{{ 'sections.announcements.announcement_bar' | t }}"
  >
    <div class="announcement-bar-slider slider-buttons">
      <button
        type="button"
        class="slider-button slider-button--prev"
        name="previous"
        aria-label="{{ 'sections.announcements.previous_announcement' | t }}"
        aria-controls="Slider-{{ block.id }}"
      >
        <span class="svg-wrapper">
          {{- 'icon-caret.svg' | inline_asset_content -}}
        </span>
      </button>
      <div
        class="grid grid--1-col slider slider--everywhere"
        id="Slider-{{ block.id }}"
        aria-live="polite"
        aria-atomic="true"
        data-autoplay="{{ block.settings.auto_rotate }}"
        data-speed="{{ block.settings.change_slides_speed }}"
      >
        {%- for block in block.blocks -%}
          <div
            class="slideshow__slide slider__slide grid__item grid--1-col"
            id="Slide-{{ block.id }}-{{ forloop.index }}"
            {{ block.shopify_attributes }}
            role="group"
            aria-roledescription="{{ 'sections.announcements.announcement' | t }}"
            aria-label="{{ forloop.index }} {{ 'general.slider.of' | t }} {{ forloop.length }}"
            tabindex="-1"
          >
            <div
              class="announcement-bar__announcement {{block.settings.text}}"
              role="region"
              aria-label="{{ 'sections.header.announcement' | t }}"
              {{ block.shopify_attributes }}
            >
              {% content_for 'blocks' %}
            </div>
          </div>
        {%- endfor -%}
      </div>
      <button
        type="button"
        class="slider-button slider-button--next"
        name="next"
        aria-label="{{ 'sections.announcements.next_announcement' | t }}"
        aria-controls="Slider-{{ block.id }}"
      >
        <span class="svg-wrapper">
          {{- 'icon-caret.svg' | inline_asset_content -}}
        </span>
      </button>
    </div>
  </slideshow-component>
  {%- if request.design_mode -%}
    <script src="{{ 'theme-editor.js' | asset_url }}" defer="defer"></script>
    <style>
      /* theme editor power preview fix */
      .announcement-bar-slider .slider__slide[aria-hidden='true'] {
        visibility: hidden;
      }
    </style>
  {%- endif -%}
</div>
{% comment %} [END block.markup] {% endcomment %}

{% comment %} [START block.preset] {% endcomment %}
{% schema %}
{
  "name": "Group: Announcement",
  "tag": null,
  "settings": [
    {
      "type": "header",
      "content": "t:sections.all.colors.name"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-4"
    },
    {
      "type": "header",
      "content": "t:sections.announcement-bar.settings.header__2.content"
    },
    {
      "type": "checkbox",
      "id": "auto_rotate",
      "label": "t:sections.announcement-bar.settings.auto_rotate.label",
      "default": false
    },
    {
      "type": "range",
      "id": "change_slides_speed",
      "min": 3,
      "max": 10,
      "step": 1,
      "unit": "s",
      "label": "t:sections.announcement-bar.settings.change_slides_speed.label",
      "default": 5
    }
  ],
  "blocks": [
    { "type": "text" }
  ],
  "presets": [
    { "name": "Group: Announcement" }
  ]
}
{% endschema %}
{% comment %} [END block.preset {% endcomment %}