{% comment %} <div
  class="{{ block.settings | class_list }}"
  {{ block.shopify_attributes }}
>
  {{ block.settings.menu_item }}
  {{- link.title | escape -}}
</div> {% endcomment %}

{%- liquid
  for link in block.settings.menu.links
    if link.links != blank
      assign has_megamenu = false
      assign menu_title = link.title | escape | downcase | handle

      assign block_title = block.settings.menu_item | escape | downcase | handle
      if block_title == menu_title
        assign block = block
        assign has_megamenu = true
      endif

      if has_megamenu
        render 'header-mega-menu', link: link, forloopIndex: forloop.index, block: block
      else
        render 'header-dropdown-menu', link: link, forloopIndex: forloop.index
      endif
    endif
  endfor
-%} 

{% schema %}
{
  "name": "Mega menu",
  "tag": null,
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "t:sections.header.settings.menu.label"
    },
    {
      "type": "text",
      "id": "menu_item",
      "label": "t:sections.header.blocks.mega_menu.settings.menu_name.label",
      "info": "t:sections.header.blocks.mega_menu.settings.menu_name.info"
    }
  ],
  "presets": [
    { 
      "name": "Mega menu",
      "settings": {
        "menu": "{{ closest.metaobject.link }}"
      }
    }
  ]
}
{% endschema %}
{% comment %} [END block.preset {% endcomment %}
