{% comment %} [START block.markup] {% endcomment %}
<div
  class="{{ block.settings | class_list }} text-block color-{{ block.settings.color_scheme }} gradient"
  {{ block.shopify_attributes }}
>
  {%- liquid
    assign page_handle = page.handle
    assign multi_site_handle = block.settings.link.object.handle
    assign multi_site_url = block.settings.link
    assign class = 'button-site'
    if page_handle == multi_site_handle
      assign class = 'button-site is-active'
    endif
    if multi_site_url != blank
      assign url = multi_site_url
    else
      assign url = routes.root_url
    endif
  -%}
  <a
    {% if url == blank %}
      role="link" aria-disabled="true"
    {% else %}
      href="{{ url }}"
    {% endif %}
    class="button h2{% if class != blank %} {{class}}{% endif %}"
    data-handle-page="{{ multi_site_handle }}"
  >
    {%- if block.settings.logo != blank -%}
      {%- assign logo_alt = settings.logo.alt| default: shop.name | escape -%}
      {%- assign image = block.settings.logo -%}
      {{ image | image_url: width: 600 | image_tag:
        class: 'header__heading-logo menu__tab-logo',
        width: settings.logo_width,
        alt: logo_alt,
        preload: true
      }}
    {%- elsif block.settings.logo_text != blank -%}
      {{ block.settings.logo_text }}
    {%- else -%}
      {{ shop.name }}
    {%- endif -%}
  </a>
</div>
<script type="text/javascript">
  window.page_active = '{{ page_handle }}';
</script>
{% comment %} [END block.markup] {% endcomment %}

{% comment %} [START block.preset] {% endcomment %}
{% schema %}
{
  "name": "Menu tab",
  "settings": [
    {
      "type": "text",
      "id": "logo_text",
      "label": "Logo text"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo image"
    },
    {
      "type": "url",
      "id": "link",
      "label": "t:settings_schema.global.settings.button_link.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-4"
    }
  ],
  "presets": [
    { "name": "Menu tab" }
  ]
}
{% endschema %}
{% comment %} [END block.preset {% endcomment %}