{%- liquid
  assign bl_id = block.id
  assign bl_stts = block.settings
  assign product_grid_type = bl_stts.product_grid_type
  if product_grid_type == 'carousel'
    assign columns_desktop = bl_stts.columns_desktop_carousel
  else
    assign columns_desktop = bl_stts.columns_desktop
  endif

  assign products = bl_stts.collection.products | default: (1..columns_desktop)

  assign products_to_display = bl_stts.collection.all_products_count
  assign max_tiems = bl_stts.products_to_show

  if bl_stts.collection.all_products_count > max_tiems
    assign products_to_display = max_tiems
    assign more_in_collection = true
  endif

  assign columns_mobile_int = bl_stts.columns_mobile | plus: 0

  assign columns_tablet = 2
  if columns_desktop == 1
    assign columns_tablet = 1
  elsif columns_desktop >= 4
    assign columns_tablet = 3
  endif

  assign columns_gap = bl_stts.columns_gap | append: 'px'
  assign rows_gap = bl_stts.rows_gap | append: 'px'

  assign is_carousel = false
  if product_grid_type == 'carousel'
    assign is_carousel = true

    assign enable_navigation = false
    if bl_stts.navigation == 'arrows-pagination' or bl_stts.navigation == 'arrows'
      assign enable_navigation = true
    endif

    assign enable_pagination = false
    if bl_stts.navigation == 'pagination' or bl_stts.navigation == 'arrows-pagination'
      assign enable_pagination = true
    endif
  endif
-%}

<div
  class="product-grid--block product-grid-{{ bl_id }} max-w-full size-style spacing-style"
  {{ block.shopify_attributes }}
  style="
    {% render 'size-style', settings: block.settings %}
    {% render 'spacing-style', settings: block.settings %}
  "
>
  {%- if is_carousel -%}
    {%- capture breakpoints -%}
      {
        "768": { "slidesPerView": {{ columns_tablet }} },
        "1024": { "slidesPerView": {{ columns_tablet }} },
        "1400": { "slidesPerView": {{ columns_desktop }} }
      }
    {%- endcapture -%}
    <swiper-component
      class="swiper-component-product-grid{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
      {%- render 'swiper-data',
        settings: bl_stts,
        slides_per_view: columns_mobile_int,
        space_between: columns_gap,
        breakpoints: breakpoints
      -%}
      style="
      {% render 'swiper-style',
        columns_mobile: columns_mobile_int,
        columns_tablet: columns_tablet,
        columns_desktop: columns_desktop,
        columns_gap: columns_gap,
      %}"
    >
      <div class="swiper">
  {%- endif -%}
  <ul
    id="Slider-{{ bl_id }}"
    data-id="{{ bl_id }}"
    class="list-unstyled{% if is_carousel %} swiper-wrapper{% else %} grid-layout grid-layout--{{ columns_mobile_int }} md:grid-layout--{{ columns_tablet }} lg:grid-layout--{{ columns_desktop }}{% endif %} grid-layout-no-js"
    role="list"
    aria-label="{{ 'general.slider.name' | t }}"
    style="{% unless is_carousel %}--grid-desktop-horizontal-spacing: {{ columns_gap }}; --grid-desktop-vertical-spacing: {{ rows_gap }};{% endunless %}"
  >
    {% for product in products limit: max_tiems %}
      <li
        id="Slide-{{ bl_id }}-{{ forloop.index }}"
        class="product-grid-item{% if is_carousel %} swiper-slide{% endif %}"
        {% if settings.animations_reveal_on_scroll %}
          data-cascade style="--animation-order: {{ forloop.index }};"
        {% endif %}
      >
        {% content_for 'block', type: 'card-product-flex', id: 'product-slide-item', closest.product: product %}
      </li>
    {% endfor %}
  </ul>
  {%- if enable_pagination -%}
    <div class="swiper-pagination"></div>
  {%- endif -%}
  {%- if enable_navigation -%}
    <div class="swiper-btns-wrap small-hide swiper-btns-wrap--{{ bl_stts.arrows_position }}">
      {%- render 'swiper-button' -%}
    </div>
  {%- endif -%}
  {%- if is_carousel -%}
    </div>
    </swiper-component>
  {%- endif -%}
</div>


{% schema %}
{
  "name": "Product grid",
  "tag": null,
  "blocks": [{ "type": "card-product-flex" }],
  "settings": [
    {
      "type": "header",
      "content": "Size"
    },
    {
      "type": "select",
      "id": "width",
      "label": "Desktop width",
      "options": [
        {
          "value": "fit-content",
          "label": "Fit"
        },
        {
          "value": "fill",
          "label": "Fill"
        },
        {
          "value": "custom",
          "label": "t:options.custom"
        }
      ],
      "default": "fit-content"
    },
    {
      "type": "range",
      "id": "custom_width",
      "label": "Custom (%)",
      "min": 1,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 100,
      "visible_if": "{{ block.settings.width == 'custom' }}"
    },
    {
      "type": "select",
      "id": "width_tablet",
      "label": "Tablet width",
      "options": [
        {
          "value": "fit-content",
          "label": "Fit"
        },
        {
          "value": "fill",
          "label": "Fill"
        },
        {
          "value": "custom",
          "label": "t:options.custom"
        }
      ],
      "default": "fit-content"
    },
    {
      "type": "range",
      "id": "custom_width_tablet",
      "label": "Custom (%)",
      "min": 1,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 100,
      "visible_if": "{{ block.settings.width_tablet == 'custom' }}"
    },
    {
      "type": "select",
      "id": "width_mobile",
      "label": "Mobile width",
      "options": [
        {
          "value": "fit-content",
          "label": "Fit"
        },
        {
          "value": "fill",
          "label": "Fill"
        },
        {
          "value": "custom",
          "label": "t:options.custom"
        }
      ],
      "default": "fit-content"
    },
    {
      "type": "range",
      "id": "custom_width_mobile",
      "label": "Custom (%)",
      "min": 1,
      "max": 100,
      "step": 1,
      "unit": "%",
      "default": 100,
      "visible_if": "{{ block.settings.width_mobile == 'custom' }}"
    },
    {
      "type": "header",
      "content": "Product grid"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "t:sections.featured-collection.settings.collection.label"
    },
    {
      "type": "range",
      "id": "products_to_show",
      "min": 2,
      "max": 25,
      "step": 1,
      "default": 4,
      "label": "t:sections.featured-collection.settings.products_to_show.label"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 5,
      "step": 1,
      "default": 4,
      "label": "t:sections.featured-collection.settings.columns_desktop.label",
      "visible_if": "{{ block.settings.product_grid_type == 'grid' }}"
    },
    {
      "type": "range",
      "id": "columns_desktop_carousel",
      "min": 1,
      "max": 5,
      "step": 0.5,
      "default": 4,
      "label": "t:sections.featured-collection.settings.columns_desktop.label",
      "visible_if": "{{ block.settings.product_grid_type == 'carousel' }}"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "default": "2",
      "label": "t:sections.featured-collection.settings.columns_mobile.label",
      "options": [
        {
          "value": "1",
          "label": "t:sections.featured-collection.settings.columns_mobile.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.featured-collection.settings.columns_mobile.options__2.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:settings_schema.layout.name"
    },
    {
      "type": "select",
      "id": "product_grid_type",
      "label": "t:settings.layout_type",
      "options": [
        {
          "value": "grid",
          "label": "t:options.grid"
        },
        {
          "value": "carousel",
          "label": "t:options.carousel"
        }
      ],
      "default": "grid"
    },
    {
      "type": "range",
      "id": "columns_gap",
      "label": "t:settings.horizontal_gap",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 8
    },
    {
      "type": "range",
      "id": "rows_gap",
      "label": "t:settings.vertical_gap",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 8
    },
    {
      "type": "header",
      "content": "t:content.carousel",
      "visible_if": "{{ block.settings.product_grid_type == 'carousel' }}"
    },
    {
      "type": "select",
      "id": "navigation",
      "label": "Navigation",
      "visible_if": "{{ block.settings.product_grid_type == 'carousel' }}",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "arrows",
          "label": "Arrows"
        },
        {
          "value": "pagination",
          "label": "Pagination"
        },
        {
          "value": "arrows-pagination",
          "label": "Arrows & Pagination"
        }
      ],
      "default": "arrows"
    },
    {
      "type": "select",
      "id": "arrows_position",
      "label": "Arrows position",
      "options": [
        {
          "value": "inside",
          "label": "Inside slide"
        },
        {
          "value": "bottom",
          "label": "Bottom slide"
        }
      ],
      "default": "inside",
      "visible_if": "{{ block.settings.navigation == 'arrows' or block.settings.navigation == 'arrows-pagination' and block.settings.product_grid_type == 'carousel' }}"
    },
    {
      "type": "select",
      "id": "pagination_type",
      "label": "Pagination type",
      "visible_if": "{{ block.settings.navigation == 'pagination' or block.settings.navigation == 'arrows-pagination' }}",
      "options": [
        {
          "value": "bullets",
          "label": "Dots"
        },
        {
          "value": "dynamic",
          "label": "Dynamic"
        },
        {
          "value": "progressbar",
          "label": "Progress"
        },
        {
          "value": "fraction",
          "label": "Fraction"
        }
      ],
      "default": "bullets"
    },
    {
      "type": "header",
      "content": "t:content.padding"
    },
    {
      "type": "range",
      "id": "padding-block-start",
      "label": "t:settings.top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-block-end",
      "label": "t:settings.bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-inline-start",
      "label": "t:settings.left",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-inline-end",
      "label": "t:settings.right",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    }
  ],
  "presets": [
    {
      "name": "Product grid",
      "category": "t:categories.product",
      "blocks": [
        {
          "id": "product-slide-item",
          "type": "card-product-flex",
          "static": true,
          "settings": {
            "product": "{{ closest.product }}"
          },
          "blocks": [
            {
              "type": "_card-product-media-flex",
              "settings": {
                "product": "{{ closest.product }}",
                "image_ratio": "adapt",
                "show_secondary_image": true,
                "enable_quick_add": true
              }
            },
            {
              "type": "spacer",
              "settings": {
                "spacer_height": 6
              }
            },
            {
              "type": "_card-product-information",
              "blocks": [
                {
                  "type": "_card-product-vendor-flex",
                  "settings": {
                    "product": "{{ closest.product }}"
                  }
                },
                {
                  "type": "_card-product-title-flex",
                  "settings": {
                    "product": "{{ closest.product }}"
                  }
                },
                {
                  "type": "_card-product-price-flex",
                  "settings": {
                    "product": "{{ closest.product }}"
                  }
                },
                {
                  "type": "_card-product-variant-flex",
                  "settings": {
                    "product": "{{ closest.product }}"
                  }
                }
              ]
            }
          ]
        }
      ]
    }
  ]
}
{% endschema %}
