<div
  class="{{ block.settings | class_list }} flex items-center text-block body-{{block.settings.text_size}}-font-size {%- if block.settings.reverse -%} flex-row-reverse justify-end {% else %} justify-start {%- endif -%}"
  style="--gap-x: {{ block.settings.gap }}px; --width: {{ block.settings.width }}px;"
  {{ block.shopify_attributes }}
>
  {% assign icon_block_class = 'icon-block__media icon-block-' | append: block.id %}

  {% capture icon %}
    {% render 'icon-or-image',
      icon: block.settings.icon,
      image_upload: block.settings.image_upload,
      width: block.settings.width,
      class_name: icon_block_class,
      attributes: block.shopify_attributes
    %}
  {% endcapture %}

  {%- if block.settings.link != blank -%}
    <a
      href="{{ block.settings.link }}"
      class="text-inherit"
      {% if block.settings.open_in_new_tab %}
        target="_blank" rel="noopener"
      {% endif %}
    >
      {{ icon }}
    </a>
  {%- else -%}
    {{ icon }}
  {%- endif -%}

  {{ block.settings.text }}
</div>

{% stylesheet %}
  .icon-block {
    display: flex;
    fill: currentcolor;
    flex-shrink: 0;
  }

  .icon-block > svg,
  .icon-block > img {
    height: auto;
  }

  .icon-block__icon {
    width: var(--width);
  }
{% endstylesheet %}

{% schema %}
{
  "name": "Text with icon",
  "tag": null,
  "settings": [
    {
      "type": "select",
      "id": "icon",
      "label": "Icon",
      "options": [
        {
          "value": "none",
          "label": "None"
        },
        {
          "value": "phone",
          "label": "Phone"
        },
        {
          "value": "letter",
          "label": "Letter"
        },
        {
          "value": "message",
          "label": "Message"
        },
        {
          "value": "right-arrow",
          "label": "Right Arrow"
        }
      ],
      "default": "phone"
    },
    {
      "type": "image_picker",
      "id": "image_upload",
      "label": "Custom icon"
    },
    {
      "type": "header",
      "content": "Size"
    },
    {
      "type": "range",
      "id": "width",
      "label": "Width",
      "min": 12,
      "max": 200,
      "step": 2,
      "unit": "px",
      "default": 20
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text",
      "default": "<p>Welcome to our store</p>"
    },
    {
      "type": "select",
      "id": "text_size",
      "label": "t:settings_schema.typography.settings.body_size.label",
      "info": "t:settings_schema.typography.settings.body_size.info",
      "options": [
        {
          "value": "default",
          "label": "Default"
        },
        {
          "value": "3xl",
          "label": "t:settings_schema.typography.settings.body_size.options__1.label"
        },
        {
          "value": "2xl",
          "label": "t:settings_schema.typography.settings.body_size.options__2.label"
        },
        {
          "value": "xl",
          "label": "t:settings_schema.typography.settings.body_size.options__3.label"
        },
        {
          "value": "l",
          "label": "t:settings_schema.typography.settings.body_size.options__4.label"
        },
        {
          "value": "m",
          "label": "t:settings_schema.typography.settings.body_size.options__5.label"
        },
        {
          "value": "s",
          "label": "t:settings_schema.typography.settings.body_size.options__6.label"
        },
        {
          "value": "xs",
          "label": "t:settings_schema.typography.settings.body_size.options__7.label"
        },
        {
          "value": "xxs",
          "label": "t:settings_schema.typography.settings.body_size.options__8.label"
        }
      ],
      "default": "default"
    },
    {
      "type": "range",
      "id": "gap",
      "label": "Gap",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 4
    },
    {
      "type": "checkbox",
      "id": "reverse",
      "label": "Reverse icon and text",
      "default": false,
      "info": "Reverses the icon and text position in the footer."
    }
  ],
  "presets": [{ "name": "Text with icon" }]
}
{% endschema %}
{% comment %} [END block.preset {% endcomment %}
