<before-you-leave
  data-expire="{{ section.settings.popup_expire }}"
  data-delay="{{ section.settings.popup_delay | times: 1000 }}"
>
  <div
    class="modal--popup fixed top-0 left-0 z-9 w-screen h-full flex-center no-js-hidden"
    id="before-you-leave-popup"
  >
    <div id="Modal-Overlay-{{ section.id }}" class="drawer__overlay fixed inset-0 cursor-pointer"></div>
    <div class="popup__inner w-auto absolute-c-c flex flex-column color-{{ section.settings.color_scheme }}">
      <button
        type="button"
        class="popup__close"
        data-close-popup
        aria-label="{{ 'accessibility.close' | t }}"
      >
        {{- 'icon-close.svg' | inline_asset_content -}}
      </button>

      {% content_for 'blocks' %}
    </div>
  </div>
</before-you-leave>

{% stylesheet %}
  @media screen and (min-width: 750px) {
    before-you-leave .popup__inner {
      min-width: 90vw;
    }
  }

  @media screen and (min-width: 1025px) {
    before-you-leave .popup__inner {
      min-width: 96rem;
    }
  }
{% endstylesheet %}

<script defer="defer">
  class BeforeYouLeave extends HTMLElement {
    constructor() {
      super();
      this.popup = this.querySelector('.modal--popup');
      this.expiresDate = this.getAttribute('data-expire');
      this.timeToShow = parseInt(this.getAttribute('data-delay')) || 0;

      if (!this.getCookie('before-you-leave-popup') && !Shopify.designMode) this.setOpenPopup(this.timeToShow);

      this.querySelector('[data-close-popup]')?.addEventListener('click', this.setClosePopup.bind(this));
      this.querySelector('[id^="Modal-Overlay-"]')?.addEventListener('click', this.setClosePopup.bind(this));
      this.querySelector('label[for="dismiss"]')?.addEventListener('click', this.setClosePopup.bind(this));

      if (Shopify.designMode) {
				document.addEventListener('shopify:section:select', (e) => {
					if (e.target.matches('.section-before-you-leave')) this.setOpenPopup(0);
				});

				document.addEventListener('shopify:section:deselect', (e) => {
					if (e.target.matches('.section-before-you-leave')) this.setClosePopup();
				});
			}
    }

		setOpenPopup(timeToShow) {
      setTimeout(() => {
        if (this.popup) {
          this.popup.setAttribute('open', 'true');
          document.body.classList.add('overflow-hidden');
        }
      }, timeToShow);
		}

    setClosePopup() {
      this.setCookie('before-you-leave-popup', 'closed', this.expiresDate);
      this.popup.removeAttribute('open');
      document.body.classList.remove('overflow-hidden');
    }

    setCookie(cname, cvalue, exdays) {
      const d = new Date();
      d.setTime(d.getTime() + exdays * 24 * 60 * 60 * 1000);
      const expires = 'expires=' + d.toUTCString();
      document.cookie = cname + '=' + cvalue + ';' + expires + ';path=/';
    }

    getCookie(cname) {
      const name = cname + '=';
      const ca = document.cookie.split(';');

      for (var i = 0; i < ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) === ' ') {
          c = c.substring(1);
        }
        if (c.indexOf(name) === 0) {
          return c.substring(name.length, c.length);
        }
      }

      return '';
    }

    deleteCookie(name) {
      document.cookie = name + '=;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
    }
  }
  if (!customElements.get('before-you-leave')) customElements.define('before-you-leave', BeforeYouLeave);
</script>

{% schema %}
{
  "name": "Before you leave",
  "tag": "section",
  "class": "section-before-you-leave",
  "enabled_on": {
    "groups": ["custom.popup"]
  },
  "blocks": [
    {
      "type": "_before-you-leave-group"
    }
  ],
  "settings": [
		{
			"type": "range",
			"id": "popup_expire",
			"max": 30,
			"min": 1,
			"step": 1,
			"unit": "day",
			"label": "t:sections.promotion-popup.settings.show_again_after.label",
			"default": 1
		},
		{
			"type": "range",
			"id": "popup_delay",
			"max": 60,
			"min": 1,
			"step": 1,
			"unit": "s",
			"label": "t:sections.promotion-popup.settings.delay_time.label",
			"default": 5
		},
    {
      "type": "header",
      "content": "t:content.appearance"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:settings.color_scheme",
      "default": "scheme-1"
    }
  ],
  "presets": [
    {
      "name": "Before you leave",
      "blocks": {
        "group": {
          "type": "_before-you-leave-group",
          "settings": {
            "content_direction": "row",
            "gap": 0
          },
          "blocks": {
            "banner": {
              "type": "_before-you-leave-banner",
              "name": "t:names.media_banner",
            },
            "content": {
              "type": "_before-you-leave-content",
              "name": "t:names.content",
              "settings": {
                "horizontal_alignment_flex_direction_column": "center",
                "gap": 24,
                "padding-block-start": 12,
                "padding-block-end": 12,
                "padding-inline-start": 12,
                "padding-inline-end": 12
              },
              "blocks": {
                "heading": {
                  "type": "text",
                  "settings": {
                    "text": "<h2>Before you leave</h2>"
                  }
                },
                "text": {
                  "type": "text",
                },
                "promotion_code": {
                  "type": "_input_promotion_code",
                  "settings": {
                    "promotion_popup_discount_code_text": "EXAMPLECODE"
                  }
                },
                "button": {
                  "type": "button",
                  "settings": {
                    "label": "Continue shopping"
                  }
                }
              },
              "block_order": ["heading", "text", "promotion_code", "button"]
            }
          },
          "block_order": ["banner", "content"]
        }
      },
      "block_order": ["group"]
    }
  ]
}
{% endschema %}
