{% capture separator %}
  {%- case section.settings.separator %}
    {% when 'slash' %}
      {{ 'blocks.breadcrumb.separator' | t }}
    {% when 'caret' %}
    <span class="svg-wrapper">
      {{- 'icon-caret.svg' | inline_asset_content -}}
    </span>
  {% endcase -%}
{% endcapture %}

<div
  class="section section--{{ section.settings.section_width }} color-{{ section.settings.color_scheme }}"
  style="
    {% if section.settings.section_width == 'custom' %}
      --page-content-width: {{ section.settings.page_width_custom | divided_by: 10 }}rem;
      --page-width: calc(var(--page-content-width) + var(--page-margin) * 2);
    {% endif %}
  "
>
  <div
    class="spacing-style section-content-wrapper"
    style="{% render 'spacing-style', settings: section.settings %}"
  >
    <div class="breadcrumb-section">
      {% render 'breadcrumbs', settings: section.settings %}
    </div>
  </div>
</div>

{% stylesheet %}
  .breadcrumbs__separator .svg-wrapper {
    width: 16px;
    height: 16px;
  }
  .breadcrumbs__separator .icon-caret {
    transform: rotate(-90deg);
    position: relative;
    top: 2px;
  }
{% endstylesheet %}

{% schema %}
{
  "name": "Breadcrumb",
  "class": "section-wrapper",
  "disabled_on": {
    "groups": ["header"]
  },
  "settings": [
    {
      "type": "header",
      "content": "t:content.size"
    },
    {
      "type": "select",
      "id": "section_width",
      "label": "t:settings.width",
      "options": [
        {
          "value": "page-width",
          "label": "t:options.page"
        },
        {
          "value": "full-width",
          "label": "t:options.full"
        }
      ],
      "default": "page-width"
    },
    {
      "type": "range",
      "id": "page_width_custom",
      "min": 1000,
      "max": 2000,
      "step": 10,
      "default": 1570,
      "unit": "px",
      "label": "t:settings_schema.layout.settings.page_width.label",
      "visible_if": "{{ section.settings.section_width == 'custom' }}"
    },
    {
      "type": "header",
      "content": "t:content.appearance"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:settings.color_scheme",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:content.layout"
    },
    {
      "type": "select",
      "id": "separator",
      "label": "Separator icon",
      "options": [
        {
          "value": "slash",
          "label": "Slash"
        },
        {
          "value": "caret",
          "label": "Caret"
        }
      ],
      "default": "slash"
    },
    {
      "type": "select",
      "id": "horizontal_alignment",
      "label": "t:settings.alignment",
      "options": [
        {
          "value": "start",
          "label": "t:options.left"
        },
        {
          "value": "center",
          "label": "t:options.center"
        },
        {
          "value": "end",
          "label": "t:options.right"
        }
      ],
      "default": "start"
    },
    {
      "type": "range",
      "id": "gap",
      "label": "t:settings.gap",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 12
    },
    {
      "type": "header",
      "content": "t:content.padding"
    },
    {
      "type": "range",
      "id": "padding-block-start",
      "label": "t:settings.top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-block-end",
      "label": "t:settings.bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    }
  ],
  "presets": [
    {
      "name": "Breadcrumb",
      "category": "t:categories.links"
    }
  ]
}
{% endschema %}
