{%- liquid
  assign sec_stts = section.settings

  if sec_stts.direction_tablet == true
    assign direction_tablet = 'column'
  endif

  if sec_stts.direction_mobile == true
    assign direction_mobile = 'column'
  endif

  if sec_stts.wrap_tablet_down == true
    assign wrap_tablet_down = 'wrap'
  endif

  if sec_stts.wrap_mobile == true
    assign wrap_mobile = 'wrap'
  endif
-%}

{%- capture class -%}
  flex-section flex flex-{{ sec_stts.direction }}{% if sec_stts.direction_tablet == true %} max-md:flex-{{ direction_tablet }}{% endif %}{% if sec_stts.direction_mobile == true %} max-sm:flex-{{ direction_mobile }}{% endif %} flex-{{ sec_stts.wrap }}{% if sec_stts.wrap_tablet_down == true %} max-md:flex-{{ wrap_tablet_down }}{% endif %}{% if sec_stts.wrap_mobile == true %} max-sm:flex-{{ wrap_mobile }}{% endif %} align-{{ sec_stts.align_items}} justify-{{ sec_stts.justify_content }} {{ section.settings | class_list }} color-{{ sec_stts.color_scheme }}
{%- endcapture -%}

<div
  class="{{ class }}"
  style="--pl:{{ sec_stts.padding_left }}px; --pr:{{ sec_stts.padding_right }}px; --pt:{{ sec_stts.padding_top }}px; --pb:{{ sec_stts.padding_bottom }}px; --gap-x: {{ sec_stts.gap_x }}px; --gap-y: {{ sec_stts.gap_y }}px;"
  {{ section.shopify_attributes }}
>
  {% content_for 'blocks' %}
</div>

{% schema %}
{
  "name": "Flex Section",
  "blocks": [{ "type": "@theme" }, { "type": "@app" }],
  "settings": [
    {
      "type": "header",
      "content": "Padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 10,
      "label": "Top"
    },
    {
      "type": "range",
      "id": "padding_right",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 10,
      "label": "Right"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 10,
      "label": "Bottom"
    },
    {
      "type": "range",
      "id": "padding_left",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 10,
      "label": "Left"
    },
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "select",
      "id": "direction",
      "label": "Direction",
      "default": "row",
      "options": [
        {
          "value": "row",
          "label": "⭢"
        },
        {
          "value": "column",
          "label": "⭣"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "direction_tablet",
      "label": "Vertical below desktop",
      "default": false,
      "visible_if": "{{ section.settings.direction == 'row' }}"
    },
    {
      "type": "checkbox",
      "id": "direction_mobile",
      "label": "Vertical on mobile",
      "default": false,
      "visible_if": "{{ section.settings.direction == 'row' }}"
    },
    {
      "type": "select",
      "id": "wrap",
      "label": "Wrap",
      "default": "no-wrap",
      "options": [
        {
          "value": "no-wrap",
          "label": "No"
        },
        {
          "value": "wrap",
          "label": "Yes"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "wrap_tablet_down",
      "label": "Wrap below desktop",
      "default": false,
      "visible_if": "{{ section.settings.wrap == 'no-wrap' }}"
    },
    {
      "type": "checkbox",
      "id": "wrap_mobile",
      "label": "Wrap on mobile",
      "default": false,
      "visible_if": "{{ section.settings.wrap == 'no-wrap' and section.settings.wrap_tablet_down == false }}"
    },
    {
      "type": "select",
      "id": "align_items",
      "options": [
        {
          "value": "start",
          "label": "⤒"
        },
        {
          "value": "center",
          "label": "⮃"
        },
        {
          "value": "end",
          "label": "⤓"
        }
      ],
      "default": "start",
      "label": "Align items"
    },
    {
      "type": "select",
      "id": "justify_content",
      "options": [
        {
          "value": "start",
          "label": "Start"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "end",
          "label": "End"
        },
        {
          "value": "between",
          "label": "Space Between"
        },
        {
          "value": "around",
          "label": "Space Around"
        },
        {
          "value": "evenly",
          "label": "Space Evenly"
        }
      ],
      "default": "start",
      "label": "Justify"
    },
    {
      "type": "range",
      "id": "gap_x",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 10,
      "label": "Column Gap"
    },
    {
      "type": "range",
      "id": "gap_y",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 10,
      "label": "Row Gap"
    },
    {
      "type": "header",
      "content": "t:sections.all.colors.name"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "scheme-1"
    }
  ],
  "presets": [
    {
      "name": "Flex Section"
    }
  ]
}
{% endschema %}
