<div
  class="flex-section flex flex-{{ section.settings.direction }} flex-{{ section.settings.wrap }} align-{{ section.settings.align_items}} justify-{{ section.settings.justify_content }} {{ section.settings | class_list }} color-{{ section.settings.color_scheme }}"
  style="--pl:{{ section.settings.padding_left }}px; --pr:{{ section.settings.padding_right }}px; --pt:{{ section.settings.padding_top }}px; --pb:{{ section.settings.padding_bottom }}px; --gap-x: {{ section.settings.gap_x }}px; --gap-y: {{ section.settings.gap_y }}px;"
  {{ section.shopify_attributes }}
>
  {% content_for 'blocks' %}
</div>

{% schema %}
{
  "name": "Flex Section",
  "blocks": [{ "type": "@theme" }, { "type": "@app" }],
  "settings": [
    {
      "type": "header",
      "content": "Padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 10,
      "label": "Top"
    },
    {
      "type": "range",
      "id": "padding_right",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 10,
      "label": "Right"
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 10,
      "label": "Bottom"
    },
    {
      "type": "range",
      "id": "padding_left",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 10,
      "label": "Left"
    },
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "select",
      "id": "direction",
      "label": "Direction",
      "default": "row",
      "options": [
        {
          "value": "row",
          "label": "⭢"
        },
        {
          "value": "col",
          "label": "⭣"
        }
      ]
    },
    {
      "type": "select",
      "id": "wrap",
      "label": "Wrap",
      "default": "no-wrap",
      "options": [
        {
          "value": "no-wrap",
          "label": "No"
        },
        {
          "value": "wrap",
          "label": "Yes"
        }
      ]
    },
    {
      "type": "select",
      "id": "align_items",
      "options": [
        {
          "value": "start",
          "label": "⤒"
        },
        {
          "value": "center",
          "label": "⮃"
        },
        {
          "value": "end",
          "label": "⤓"
        }
      ],
      "default": "start",
      "label": "Align items"
    },
    {
      "type": "select",
      "id": "justify_content",
      "options": [
        {
          "value": "start",
          "label": "Start"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "end",
          "label": "End"
        },
        {
          "value": "between",
          "label": "Space Between"
        },
        {
          "value": "around",
          "label": "Space Around"
        },
        {
          "value": "evenly",
          "label": "Space Evenly"
        }
      ],
      "default": "start",
      "label": "Justify"
    },
    {
      "type": "range",
      "id": "gap_x",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 10,
      "label": "Column Gap"
    },
    {
      "type": "range",
      "id": "gap_y",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 10,
      "label": "Row Gap"
    },
    {
      "type": "header",
      "content": "Color"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "scheme-1"
    }
  ],
  "presets": [
    {
      "name": "Flex Section"
    }
  ]
}
{% endschema %}
