{% comment %}theme-check-disable UndefinedObject{% endcomment %}
{{ 'section-footer.css' | asset_url | stylesheet_tag }}
{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .footer {
    margin-top: {{ section.settings.margin_top | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .footer {
      margin-top: {{ section.settings.margin_top }}px;
    }
  }
{%- endstyle -%}

{%- liquid
  for block in section.blocks
    if block.type == '@app'
      assign has_app_block = true
    endif
  endfor
-%}

<footer
  class="footer color-{{ section.settings.color_scheme }} gradient spacing"
  style="
    --p-spacing-t: {{ section.settings.padding_top }}px;
    --p-spacing-b: {{ section.settings.padding_bottom }}px;
  "
>
  <div
    class="footer__blocks-wrapper{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %} color-{{ block.settings.color_scheme }}"
    {% if settings.animations_reveal_on_scroll %}
      data-cascade
    {% endif %}
  >
    {% content_for 'blocks' %}
  </div>
</footer>

{% schema %}
{
  "name": "t:sections.footer.name",
  "class": "section-footer",
  "blocks": [{ "type": "@app" }, { "type": "group-footer-row" }],
  "settings": [
    {
      "type": "header",
      "content": "Color scheme"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "Color scheme",
      "default": "scheme-1"
    }
  ]
}
{% endschema %}
