{% comment %}theme-check-disable UndefinedObject{% endcomment %}
{{ 'section-footer.css' | asset_url | stylesheet_tag }}
{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .footer {
    margin-top: {{ section.settings.margin_top | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .footer {
      margin-top: {{ section.settings.margin_top }}px;
    }
  }
{%- endstyle -%}

{%- liquid
  for block in section.blocks
    if block.type == '@app'
      assign has_app_block = true
    endif
  endfor
-%}

<footer
  class="footer color-{{ section.settings.color_scheme }} gradient spacing"
>
  <div
    class="footer__blocks-wrapper color-{{ section.settings.color_scheme }}"
    {% if settings.animations_reveal_on_scroll %}
      data-cascade
    {% endif %}
  >
    <div class="page-width page-width--{{ section.settings.page_width }}" style="--pl:{{ section.settings.padding_section }}px; --pr:{{ section.settings.padding_section }}px;">
      {% content_for 'blocks' %}
    </div>
  </div>
</footer>

{% schema %}
{
  "name": "t:sections.footer.name",
  "class": "section-footer",
  "blocks": [{ "type": "@app" }, { "type": "group-footer-row" }, { "type": "group-footer-bottom" }],
  "settings": [
    {
      "type": "header",
      "content": "t:settings_schema.general.name"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:settings_schema.general.settings.color_scheme.color_text",
      "default": "scheme-1"
    },
    {
        "type": "select",
        "id": "page_width",
        "label": "t:sections.layout.container.option",
        "default": "default",
        "options": [
            {
                "value": "default",
                "label": "t:sections.layout.container.option1"
            },
            {
                "value": "full",
                "label": "t:sections.layout.container.option2"
            },
            {
                "value": "1880",
                "label": "t:sections.layout.container.option3"
            },
            {
              "value": "1770",
              "label": "t:sections.layout.container.option4"
            },
            {
              "value": "1670",
              "label": "t:sections.layout.container.option5"
            },
            {
              "value": "1570",
              "label": "t:sections.layout.container.option6"
            },
            {
              "value": "1470",
              "label": "t:sections.layout.container.option7"
            },
            {
              "value": "1370",
              "label": "t:sections.layout.container.option8"
            },
            {
              "value": "1270",
              "label": "t:sections.layout.container.option9"
            },
            {
              "value": "1170",
              "label": "t:sections.layout.container.option10"
            },
            {
              "value": "1070",
              "label": "t:sections.layout.container.option11"
            }
        ]
    },
    {
      "type": "header",
      "content": "t:settings_schema.global.settings.spacing.label"
    },
    {
      "type": "range",
      "id": "padding_section",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 0,
      "label": "Section Padding"
    }
  ]
}
{% endschema %}
