{% comment %}theme-check-disable UndefinedObject{% endcomment %}
{{ 'section-footer.css' | asset_url | stylesheet_tag }}
{{ 'component-newsletter.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .footer {
    margin-top: {{ section.settings.margin_top | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .footer {
      margin-top: {{ section.settings.margin_top }}px;
    }
  }
{%- endstyle -%}

{%- liquid
  for block in section.blocks
    if block.type == '@app'
      assign has_app_block = true
    endif
  endfor
-%}

<footer
  class="footer color-{{ section.settings.color_scheme }} gradient spacing"
>
  <div
    class="footer__blocks-wrapper color-{{ section.settings.color_scheme }}"
    {% if settings.animations_reveal_on_scroll %}
      data-cascade
    {% endif %}
  >
    <div class="page-width page-width--{{ section.settings.page_width }}">
      {% content_for 'blocks' %}
    </div>
  </div>
</footer>

{% schema %}
{
  "name": "t:sections.footer.name",
  "class": "section-footer",
  "blocks": [{ "type": "@app" }, { "type": "group-footer-row" }],
  "settings": [
    {
      "type": "header",
      "content": "t:settings_schema.general.name"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:settings_schema.general.settings.color_scheme.color_text",
      "default": "scheme-1"
    },
    {
        "type": "select",
        "id": "page_width",
        "label": "t:sections.layout.container.option",
        "default": "default",
        "options": [
            {
                "value": "default",
                "label": "t:sections.layout.container.option1"
            },
            {
                "value": "1200",
                "label": "t:sections.layout.container.option4"
            },
            {
                "value": "1320",
                "label": "t:sections.layout.container.option7"
            },
            {
                "value": "1470",
                "label": "t:sections.layout.container.option5"
            },
            {
                "value": "1570",
                "label": "t:sections.layout.container.option6"
            },
            {
                "value": "1770",
                "label": "t:sections.layout.container.option3"
            },
            {
                "value": "fullwidth",
                "label": "t:sections.layout.container.option2"
            }
        ]
    }
  ]
}
{% endschema %}
