{%- style -%}
{%- endstyle -%}

{%- liquid
  for block in section.blocks
    if section.type == '@app'
      assign has_app_block = true
    endif
  endfor
-%}

<div class="header-wrapper color-{{ section.settings.color_scheme }} gradient{% if section.settings.show_line_separator %} header-wrapper--border-bottom{% endif %}">
  <header-multi-site class="header header--{{ section.settings.logo_position }} header--mobile-{{ section.settings.mobile_logo_position }} page-width{% if section.settings.menu != blank %} header--has-menu{% endif %}{% if has_app_block %} header--has-app{% endif %}{% if shop.customer_accounts_enabled %} header--has-account{% endif %}">
    <div
      class="group-block group-block--{{ section.id }} flex-section wid-100 dis-flex f-{{ section.settings.direction }} f-{{ section.settings.wrap }} a-i-{{ section.settings.align_items}} j-c-{{ section.settings.justify_content }} color-{{ section.settings.color_scheme }}"
      style="--pl:{{ section.settings.padding_left }}px; --pr:{{ section.settings.padding_right }}px; --pt:{{ section.settings.padding_top }}px; --pb:{{ section.settings.padding_bottom }}px; --gap-x: {{ section.settings.gap_x }}px; --gap-y: {{ section.settings.gap_y }}px;"
    >
      {%- liquid
        if section.settings.menu != blank
          render 'header-functions', enable_menu_drawer: true
        endif

        if section.settings.logo_position == 'top-center' or section.settings.menu == blank
          render 'header-search', input_id: 'Search-In-Modal-1'
        endif
      -%}

      {%- if section.settings.logo_position != 'middle-center' -%}
        {% render 'header-logo' %}
      {%- endif -%}

      {%- liquid
        if section.settings.menu != blank
          render 'header-menu'
        endif
      %}

      {%- if section.settings.logo_position == 'middle-center' -%}
        {% render 'header-logo' %}
      {%- endif -%}

      <div
        class="header-block header__icons grid__item dis-block{% if section.settings.enable_country_selector or section.settings.enable_language_selector %} header__icons--localization header-localization{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
      >
        {%- render 'header-functions',
          enable_menu_drawer: true,
          enable_localization: true,
          enable_search: true,
          enable_account: true,
          enable_cart: true
        -%}
      </div>
    </div>
  </header-multi-site>
</div>

{%- if settings.cart_type == "notification" -%}
  {%- render 'cart-notification', color_scheme: section.settings.color_scheme -%}
{%- endif -%}

{% javascript %}
  class HeaderMultiSite extends HTMLElement {
    constructor() {
      super();
    }
  }
  customElements.define('header-multi-site', HeaderMultiSite);
{% endjavascript %}

{% schema %}
{
  "name": "t:sections.header.name__2",
  "class": "section-header",
  "enabled_on": {
    "groups": ["header"]
  },
  "blocks": [
    { 
      "type": "@app" 
    },
    {
      "type": "mega_menu",
      "name": "t:sections.header.blocks.mega_menu.name",
      "settings": [
        {
          "type": "text",
          "id": "menu_item",
          "label": "t:sections.header.blocks.mega_menu.settings.menu_name.label",
          "info": "t:sections.header.blocks.mega_menu.settings.menu_name.info"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.header.settings.logo_help.content"
    },
    {
      "type": "link_list",
      "id": "menu",
      "default": "main-menu",
      "label": "t:sections.header.settings.menu.label"
    },
    {
      "type": "select",
      "id": "sticky_header_type",
      "options": [
        {
          "value": "none",
          "label": "t:sections.header.settings.sticky_header_type.options__1.label"
        },
        {
          "value": "on-scroll-up",
          "label": "t:sections.header.settings.sticky_header_type.options__2.label"
        },
        {
          "value": "always",
          "label": "t:sections.header.settings.sticky_header_type.options__3.label"
        }
      ],
      "default": "on-scroll-up",
      "label": "t:sections.header.settings.sticky_header_type.label"
    },
    {
      "type": "checkbox",
      "id": "show_line_separator",
      "default": true,
      "label": "t:sections.header.settings.show_line_separator.label"
    },
    {
      "type": "header",
      "content": "Desktop layout"
    },
    {
      "type": "select",
      "id": "direction",
      "label": "Direction",
      "default": "row",
      "options": [
        {
          "value": "row",
          "label": "⭢"
        },
        {
          "value": "column",
          "label": "⭣"
        }
      ]
    },
    {
      "type": "select",
      "id": "wrap",
      "label": "Wrap",
      "default": "wrap",
      "options": [
        {
          "value": "no-wrap",
          "label": "No"
        },
        {
          "value": "wrap",
          "label": "Yes"
        }
      ]
    },
    {
      "type": "select",
      "id": "align_items",
      "options": [
        {
          "value": "start",
          "label": "⤒"
        },
        {
          "value": "center",
          "label": "⮃"
        },
        {
          "value": "end",
          "label": "⤓"
        }
      ],
      "default": "start",
      "label": "Align items"
    },
    {
      "type": "select",
      "id": "justify_content",
      "options": [
        {
          "value": "start",
          "label": "Start"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "end",
          "label": "End"
        },
        {
          "value": "between",
          "label": "Space Between"
        },
        {
          "value": "around",
          "label": "Space Around"
        },
        {
          "value": "evenly",
          "label": "Space Evenly"
        }
      ],
      "default": "start",
      "label": "Justify"
    },
    {
      "type": "range",
      "id": "gap_x",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 10,
      "label": "Column Gap"
    },
    {
      "type": "range",
      "id": "gap_y",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 10,
      "label": "Row Gap"
    },
    {
      "type": "header",
      "content": "t:sections.all.colors.name"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
      {
      "type": "color_scheme",
      "id": "menu_color_scheme",
      "label": "t:sections.header.settings.menu_color_scheme.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.header__3.content",
      "info": "t:sections.header.settings.header__4.info"
    },
    {
      "type": "checkbox",
      "id": "enable_country_selector",
      "default": false,
      "label": "t:sections.header.settings.enable_country_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.header__5.content",
      "info": "t:sections.header.settings.header__6.info"
    },
    {
      "type": "checkbox",
      "id": "enable_language_selector",
      "default": false,
      "label": "t:sections.header.settings.enable_language_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.header__7.content",
      "info": "t:sections.header.settings.header__7.info"
    },
    {
      "type": "checkbox",
      "id": "enable_customer_avatar",
      "default": true,
      "label": "t:sections.header.settings.enable_customer_avatar.label",
      "info": "t:sections.header.settings.enable_customer_avatar.info"
    },
    {
      "type": "checkbox",
      "id": "mobile_show_social",
      "default": true,
      "label": "t:sections.header.settings.header__8.content",
      "info": "t:sections.header.settings.header__8.info"
    },
    {
      "type": "header",
      "content": "t:sections.header.settings.mobile_layout.content"
    },
    {
      "type": "header",
      "content": "t:sections.all.spacing"
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.header.settings.margin_bottom.label",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.name"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 36,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 20
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 36,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 20
    }
  ]
}
{% endschema %}