{{ 'section-media-banner.css' | asset_url | stylesheet_tag }}
{{ 'section-main-page.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .main-page-media.banner__media:after {
    opacity: {{ section.settings.image_overlay_opacity | divided_by: 100.0 }};
    background: var(--color-background);
  }
{%- endstyle -%}

{% capture children %}
  {% content_for 'blocks' %}
{% endcapture %}

{%- capture banner_media -%}
  {%- if section.settings.image != blank -%}
    <div class="banner banner--content-align-mobile-bottom-center banner--medium color-{{ section.settings.color_scheme }}">
      {%- liquid
        assign loading = 'lazy'
        assign fetch_priority = 'auto'
        if section.index == 1
          assign loading = 'eager'
          assign fetch_priority = 'high'
        endif
        assign image_height = section.settings.image.width | divided_by: section.settings.image.aspect_ratio
      -%}

      <div class="main-page-media banner__media media">
        {{
          section.settings.image
          | image_url: width: 3840
          | image_tag:
            width: section.settings.image.width,
            height: image_height,
            sizes: '100vw',
            widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840',
            loading: loading,
            fetchpriority: fetch_priority
        }}
      </div>
      <div class="page__text-wrapper banner__content banner__content--bottom-center">
        <div class="page__text banner__box{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
          {% comment %} <h1 class="main-page-title page-title h0 m-0">
            {{ page.title | escape }}
          </h1>
          {%- if section.settings.subheading != blank -%}
            <div class="banner__text rte">
              <p>{{ section.settings.subheading }}</p>
            </div>
          {%- endif -%} {% endcomment %}
          {{ children }}
        </div>
      </div>
    </div>
  {%- else -%}
    {% comment %} <h1 class="main-page-title page-title h0{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}"
      style="--mb: 3rem; --md-mb: 4rem;"
    >
      {{ page.title | escape }}
    </h1>
    {%- if section.settings.subheading != blank -%}
      <div class="banner__text rte{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
        <p>{{ section.settings.subheading }}</p>
      </div>
    {%- endif -%} {% endcomment %}
      {{ children }}

  {%- endif -%}
{%- endcapture -%}

{% unless section.settings.image != blank %}
<div class="color-{{ section.settings.color_scheme }}">
{% endunless %}
  <div class="main-page{% unless section.settings.image != blank %} page-width spacing{% endunless %}"
    style="
      --p-spacing-t: {{ section.settings.padding_top }}px;
      --p-spacing-b: {{ section.settings.padding_bottom }}px;
    "
  >
    {{ banner_media }}
    {% comment %} <div class="rte{% if section.settings.image != blank %} page-width spacing{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
      {{ page.content }}
    </div> {% endcomment %}
  </div>
{% unless section.settings.image != blank %}
</div>
{% endunless %}

{% schema %}
{
  "name": "t:sections.main-page.name",
  "tag": "section",
  "class": "section",
  "blocks": [
    {
      "type": "text"
    },
    {
      "type": "group"
    },
    {
      "type": "_breadcrumb"
    }

  ],
  "settings": [
    {
      "type": "inline_richtext",
      "id": "subheading",
      "label": "t:sections.main-page.settings.subheading.label"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.main-page.settings.image.label"
    },
    {
      "type": "range",
      "id": "image_overlay_opacity",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "t:sections.main-page.settings.image_overlay_opacity.label",
      "default": 40
    },
    {
      "type": "header",
      "content": "t:sections.all.colors.name"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.name"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
