{{ 'section-media-banner.css' | asset_url | stylesheet_tag }}
{{ 'section-main-page.css' | asset_url | stylesheet_tag }}

{%- liquid
  assign sec_stts = section.settings

  assign section_width = sec_stts.section_width

  assign color_scheme = sec_stts.color_scheme

  assign scroll_reveal = settings.animations_reveal_on_scroll

  assign banner_image = sec_stts.image

  assign page_height = sec_stts.page_height

  assign ratio = page_height

  assign horizontal_alignment = sec_stts.horizontal_alignment
  assign vertical_alignment = sec_stts.vertical_alignment
%}

{%- style -%}
  .main-page-media.banner__media:after {
    opacity: {{ section.settings.image_overlay_opacity | divided_by: 100.0 }};
    background: var(--color-background);
  }
  {% if page_height == 'adapt' and banner_image != blank and banner_image.aspect_ratio < 10 %}
    @media screen and (max-width: 1439px) {
      .main-page .media--adapt {
        aspect-ratio: unset !important;
        padding: 5rem;
      }
    }

    @media screen and (max-width: 749px) {
      .main-page .media--adapt {
        padding: 3rem;
      }
    }
  {% endif %}
{%- endstyle -%}

{% stylesheet %}

{% endstylesheet %}

{% capture children %}
  {% content_for 'blocks' %}
{% endcapture %}

{%- capture style_height_section -%}
  {% if page_height == 'custom' %}
    --section-min-height: {{ sec_stts.page_height_custom }}svh;
  {% elsif page_height == "full-screen" %}
     --section-min-height: 100svh;
  {% elsif page_height != 'adapt' %}
    --section-min-height: var(--section-height-{{ page_height }});
  {% endif %}
{%- endcapture -%}

{%- capture page_text_wrapper_attr -%}
  class="page__text-wrapper flex items-{{ vertical_alignment }} justify-{{ horizontal_alignment }} z-2 size-full relative"
  style="--p: 3rem;--md-p: 5rem;"
{%- endcapture -%}

{%- capture banner_media -%}
  {%- if banner_image != blank -%}
    <div class="banner size-full color-{{ sec_stts.color_scheme }} media--{{ page_height }}"
        style="
        {%- if ratio == 'adapt' -%}
          --media-adapt-ratio: {% if banner_image == blank %}16/9{% else %}{{ banner_image.aspect_ratio }}{% endif %};
        {%- endif -%}
        ">
      {%- liquid
        assign sizes = '100vw'
        assign loading = 'lazy'
        assign fetch_priority = 'auto'
        if section.index == 1
          assign loading = 'eager'
          assign fetch_priority = 'high'
        endif
        assign image_height = banner_image.width | divided_by: banner_image.aspect_ratio
      -%}

      <div class="main-page-media banner__media media">
        {%- render 'image',
          image: banner_image,
          height: image_height,
          fetch_priority: fetch_priority,
          loading: loading,
          sizes: sizes,
          class: 'banner__media-image'
        -%}
      </div>
      <div {{ page_text_wrapper_attr }}>
        <div class="page__text{% if scroll_reveal %} scroll-trigger animate--fade-in{% endif %}">
          {{ children }}
        </div>
      </div>
    </div>
  {%- else -%}
    <div {{ page_text_wrapper_attr }}>
      <div class="page__content{% if scroll_reveal %} scroll-trigger animate--fade-in{% endif %}">
        {{ children }}
      </div>
    </div>
  {%- endif -%}
{%- endcapture -%}
<div
  class="section section--{{ section_width }} color-{{ color_scheme }} spacing-style"
  style="{%  render 'spacing-padding', settings: sec_stts %}; {{ style_height_section }}"
>
  {% unless sec_stts.image != blank %}
    <div class="color-{{ sec_stts.color_scheme }}">
  {% endunless %}
  <div class="main-page size-full">
    {{ banner_media }}
  </div>
  {% unless sec_stts.image != blank %}
    </div>
  {% endunless %}
</div>

{% schema %}
{
  "name": "t:sections.main-page.name",
  "tag": "section",
  "class": "section-page",
  "blocks": [
    {
      "type": "text"
    },
    {
      "type": "group"
    },
    {
      "type": "_breadcrumb"
    }
  ],
  "settings": [
    {
      "type": "header",
      "content": "t:content.size"
    },
    {
      "type": "select",
      "id": "section_width",
      "label": "t:settings.width",
      "options": [
        {
          "value": "page-width",
          "label": "t:options.page"
        },
        {
          "value": "full-width",
          "label": "t:options.full"
        }
      ],
      "default": "page-width"
    },
    {
      "type": "header",
      "content": "Page height"
    },
    {
      "type": "select",
      "id": "page_height",
      "options": [
        {
          "value": "adapt",
          "label": "Adapt to image"
        },
        {
          "value": "small",
          "label": "Small"
        },
        {
          "value": "medium",
          "label": "Medium"
        },
        {
          "value": "large",
          "label": "Large"
        },
        {
          "value": "full-screen",
          "label": "Full screen"
        },
        {
          "value": "custom",
          "label": "t:options.custom"
        }
      ],
      "default": "medium",
      "label": "Page height"
    },
    {
      "type": "range",
      "id": "page_height_custom",
      "label": "t:settings.custom_height",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 50,
      "unit": "%",
      "visible_if": "{{ section.settings.page_height == 'custom' }}"
    },
    {
      "type": "header",
      "content": "t:content.layout"
    },
    {
      "type": "select",
      "id": "horizontal_alignment",
      "label": "t:settings.alignment",
      "options": [
        {
          "value": "start",
          "label": "t:options.left"
        },
        {
          "value": "center",
          "label": "t:options.center"
        },
        {
          "value": "end",
          "label": "t:options.right"
        }
      ],
      "default": "start"
    },
    {
      "type": "select",
      "id": "vertical_alignment",
      "label": "t:settings.position",
      "options": [
        {
          "value": "start",
          "label": "t:options.top"
        },
        {
          "value": "center",
          "label": "t:options.center"
        },
        {
          "value": "end",
          "label": "t:options.bottom"
        }
      ],
      "default": "center"
    },
    {
      "type": "header",
      "content": "Image"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.main-page.settings.image.label"
    },
    {
      "type": "range",
      "id": "image_overlay_opacity",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "t:sections.main-page.settings.image_overlay_opacity.label",
      "default": 40
    },
    {
      "type": "header",
      "content": "t:sections.all.colors.name"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.name"
    },
    {
      "type": "range",
      "id": "padding-block-start",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding-block-end",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }

  ]
}
{% endschema %}
