{{ 'component-collection-hero.css' | asset_url | stylesheet_tag }}

<div class="collection-hero{% if section.settings.show_collection_image and collection.image %} collection-hero--with-image color-{{ section.settings.color_scheme_image }}{% else %} color-{{ section.settings.color_scheme }}{% endif %} gradient">
  {%- if section.settings.show_collection_image and collection.image -%}
    {{ 'section-media-banner.css' | asset_url | stylesheet_tag }}
    {%- style -%}
      .collection-hero__image-wrapper.banner__media:after {
        opacity: {{ section.settings.image_overlay_opacity | divided_by: 100.0 }};
        background: var(--color-background);
      }
    {%- endstyle -%}

    <div
      class="collection-hero__inner banner banner--content-align-mobile-bottom-center banner--content-align-left banner--content-align-mobile-left banner--medium{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}"
    >
      {%- liquid
        assign loading = 'lazy'
        assign fetch_priority = 'auto'
        if section.index == 1
          assign loading = 'eager'
          assign fetch_priority = 'high'
        endif
        assign image_height = collection.image.width | divided_by: collection.image.aspect_ratio
      -%}
      <div class="collection-hero__image-wrapper banner__media media">
        {{
          collection.image
          | image_url: width: 3840
          | image_tag:
            width: collection.image.width,
            height: image_height,
            sizes: '100vw',
            widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000, 3840',
            loading: loading,
            fetchpriority: fetch_priority
        }}
      </div>
      <div class="collection__text-wrapper page-width banner__content banner__content--bottom-left{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
        <div class="collection-hero__text-wrapper banner__box">
          <h1 class="collection-hero__title m-0">
            <span class="visually-hidden">{{ 'sections.collection_template.title' | t }}: </span>
            {{- collection.title | escape -}}
          </h1>

          {%- if section.settings.show_collection_description and collection.description != blank -%}
            <div class="collection-hero__description rte"
              style="--md-max-w: 100%;"
            >
              {{ collection.description }}
            </div>
          {%- endif -%}
        </div>
      </div>
    </div>
  {%- else -%}
    <div class="collection-hero__inner page-width{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--fade-in{% endif %}">
      <div class="collection-hero__text-wrapper"
          style="--lg-p: 5rem 0; --p: 2.5rem 0;"
      >
        <h1 class="collection-hero__title m-0">
          <span class="visually-hidden">{{ 'sections.collection_template.title' | t }}: </span>
          {{- collection.title | escape -}}
        </h1>

        {%- if section.settings.show_collection_description and collection.description != blank -%}
          <div class="collection-hero__description rte"
              style="--md-max-w: 66.67%;"
            >
              {{ collection.description }}
            </div>
        {%- endif -%}
      </div>
    </div>
  {%- endif -%}
</div>

{% schema %}
{
  "name": "t:sections.main-collection-banner.name",
  "class": "section",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:sections.main-collection-banner.settings.paragraph.content"
    },
    {
      "type": "checkbox",
      "id": "show_collection_description",
      "default": true,
      "label": "t:sections.main-collection-banner.settings.show_collection_description.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-banner.settings.show_collection_image.label"
    },
    {
      "type": "checkbox",
      "id": "show_collection_image",
      "default": false,
      "label": "t:sections.main-collection-banner.settings.show_collection_image.show_collection_image",
      "info": "t:sections.main-collection-banner.settings.show_collection_image.info"
    },
    {
      "type": "range",
      "id": "image_overlay_opacity",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "t:sections.main-page.settings.image_overlay_opacity.label",
      "default": 40
    },
    {
      "type": "color_scheme",
      "id": "color_scheme_image",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    }
  ]
}
{% endschema %}
