{{ 'template-collection.css' | asset_url | stylesheet_tag }}

{% if section.settings.image_shape == 'blob' %}
  {{ 'mask-blobs.css' | asset_url | stylesheet_tag }}
{%- endif -%}

{%- if section.settings.quick_add != 'none' -%}
  {{ 'quick-add.css' | asset_url | stylesheet_tag }}
{%- endif -%}

{%- liquid
  assign limit = cart.attributes.pagination | default: section.settings.products_per_page
  if section.settings.enable_sorting or section.settings.enable_grid_view or section.settings.enable_products_per_page
    assign show_sort = true
  endif

  assign columns_tablet = 2
  assign columns_mobile = section.settings.columns_mobile
  assign horizontal_class = false
  if section.settings.columns_desktop == 1
    assign columns_tablet = 1
    assign columns_mobile = 1
    assign horizontal_class = true
  endif
-%}

<div
  class="template-collection collection-wrapper grid-base gap-style gradient color-{{ section.settings.color_scheme }} spacing"
  style="
    --p-spacing-t: {{ section.settings.padding_top }}px;
    --p-spacing-b: {{ section.settings.padding_bottom }}px;
  "
>
  {% content_for 'block',
    type: 'filters',
    id: 'filters',
    results: collection,
    results_size: collection.products_count
  %}

  {%- paginate collection.products by limit -%}
    <div
      class="
        {% if section.settings.filter_type == 'vertical' %}facets-vertical page-width{% elsif section.settings.filter_type == 'horizontal' %}facets-horizontal{% endif %} main-collection-grid
        {%- if section.settings.inherit_color_scheme == false %} color-{{ section.settings.color_scheme }}{% endif %}
        {%- if section.settings.product_grid_width == 'full-width' %} collection-wrapper--full-width{% endif %}
        {%- if section.settings.full_width_on_mobile == true %} collection-wrapper--full-width-on-mobile{% endif %}
        spacing-style
      "
      style="
        --grid--margin--mobile: 0{% if section.settings.product_grid_width == 'centered' and section.settings.full_width_on_mobile == false %} var(--margin-lg){% else %} 0{% endif %};
        --grid-column--desktop: var(--{% if section.settings.product_grid_width == 'centered' %}centered{% else %}full-width{% endif %});
        --grid-column--mobile: var(--{% if section.settings.full_width_on_mobile %}full-width{% else %}{% if section.settings.product_grid_width == 'centered' %}centered{% else %}full-width{% endif %}{% endif %});
        --padding-inline-start: {{ section.settings.padding-inline-start }}px;
        --padding-inline-end: {{ section.settings.padding-inline-end }}px;
      "
    >
      {% comment %}
        {%- if section.settings.enable_filtering or show_sort -%}
          {{ 'component-facets.css' | asset_url | stylesheet_tag }}
          <script src="{{ 'facets.js' | asset_url }}" defer="defer"></script>
          <div
            aria-labelledby="verticalTitle"
            class="facets-wrapper{% unless section.settings.enable_filtering %} facets-wrapper--no-filters{% endunless %}{% if section.settings.filter_type != 'vertical' %} page-width{% endif %}"
            id="main-collection-filters"
            data-id="{{ section.id }}"
          >
            {% render 'facets',
              results: collection,
              enable_filtering: section.settings.enable_filtering,
              enable_sorting: section.settings.enable_sorting,
              enable_products_per_page: section.settings.enable_products_per_page,
              enable_grid_view: section.settings.enable_grid_view,
              filter_type: section.settings.filter_type,
              filter_variant_pill: section.settings.filter_variant_pill,
              paginate: paginate
            %}
          </div>
        {%- endif -%}
      {% endcomment %}

      <div
        class="product-grid-container{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
        id="ProductGridContainer"
        {% if settings.animations_reveal_on_scroll %}
          data-cascade
        {% endif %}
      >
        {%- if collection.products.size == 0 -%}
          <div class="collection collection--empty page-width" id="product-grid" data-id="{{ section.id }}">
            <div class="loading-overlay gradient"></div>
            <div class="title-wrapper center">
              <h2 class="title title--primary">
                {{ 'sections.collection_template.empty' | t -}}
                <br>
                {{
                  'sections.collection_template.use_fewer_filters_html'
                  | t: link: collection.url, class: 'underlined-link link'
                }}
              </h2>
            </div>
          </div>
        {%- else -%}
          {% comment %} Sort is the first tabbable element when filter type is vertical {% endcomment %}
          {%- if show_sort and section.settings.filter_type == 'vertical' -%}
            <facet-filters-form class="facets facets-vertical-sort small-hide medium-hide">
              <form class="facets-vertical-form" id="FacetSortForm">
                {%- if section.settings.enable_grid_view -%}
                  {% render 'switcher-grid',
                    columns_desktop: section.settings.columns_desktop,
                    filter_type: section.settings.filter_type
                  %}
                {%- endif -%}

                {%- if section.settings.enable_products_per_page -%}
                  <div class="facet-per-page products-per-page caption">
                    {% render 'products-per-page', limit: limit %}
                  </div>
                {%- endif -%}

                <div class="facet-filters sorting caption">
                  <div class="facet-filters__field">
                    {%- assign results = collection -%}
                    {%- assign sort_by = results.sort_by | default: results.default_sort_by -%}
                    {%- assign selected_sort_by = results.sort_options | where: 'value', sort_by | first -%}
                    <details
                      id="Details-SortBy"
                      class="details--dropdown facet-filters__sort pos-relative caption-large"
                      is="dropdown-details"
                      activate-event="hover"
                      data-index="0"
                    >
                      <summary class="details__summary facets__summary focus-inset">
                        <span class="flex items-center gap-xl">
                          {{ selected_sort_by.name }}
                          {{- 'icon-caret.svg' | inline_asset_content -}}
                        </span>
                      </summary>
                      <div
                        id="SortByDropdown"
                        class="details__list pos-absolute top-100 right-0 z-index-1 gradient global-settings-popup"
                        style="--min-w-a: 20rem;"
                        tabindex="-1"
                      >
                        <ul class="list-unstyled" role="list" style="--pad-a-a: 1.3rem 2rem;">
                          {%- for option in results.sort_options -%}
                            <li
                              class="facet-filters__sort_item pos-relative{% if option.value == sort_by %} selected pointer-e-none{% endif %}"
                              style="--pad-a-a: 0;"
                              tabindex="-1"
                            >
                              <label
                                for="Filter-{{ option.value | escape }}-{{ forloop.index }}"
                                class="facet-checkbox c-pointer"
                              >
                                <input
                                  type="checkbox"
                                  name="sort_by"
                                  value="{{ option.value | escape }}"
                                  id="Filter-{{ option.value | escape }}-{{ forloop.index }}"
                                  class="visually-hidden"
                                >
                                <span class="label full-unstyled-link">{{ option.name | escape }}</span>
                              </label>
                            </li>
                          {%- endfor -%}
                        </ul>
                      </div>
                    </details>
                  </div>
                </div>
              </form>
            </facet-filters-form>
          {%- endif -%}

          <div
            class="collection"
            data-id="{{ section.id }}"
          >
            <div class="loading-overlay gradient"></div>
            {% comment %}
              <ul
                id="product-grid"
                data-id="{{ section.id }}"
                class="
                  grid product-grid grid--{{ columns_tablet }}-col-tablet-down grid--{{ columns_mobile }}-col-mobile
                  grid--{{ section.settings.columns_desktop }}-col-desktop
                  {% if section.settings.quick_add == 'bulk' %} collection-quick-add-bulk{% endif %}
                "
                {% if section.settings.enable_grid_view %}
                  data-view="{{ section.settings.columns_desktop }}"
                {% endif %}
              >
                {%- for product in collection.products -%}
                  {%- liquid
                    assign lazy_load = false
                    if forloop.index > 2
                      assign lazy_load = true
                    endif
                  -%}
                  <li
                    class="grid__item{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                    {% if settings.animations_reveal_on_scroll %}
                      data-cascade
                      style="--animation-order: {{ forloop.index }};"
                    {% endif %}
                  >
                    {% render 'card-product',
                      card_product: product,
                      media_aspect_ratio: section.settings.image_ratio,
                      image_shape: section.settings.image_shape,
                      show_secondary_image: section.settings.show_secondary_image,
                      show_vendor: section.settings.show_vendor,
                      show_rating: section.settings.show_rating,
                      lazy_load: lazy_load,
                      skip_styles: skip_card_product_styles,
                      section_id: section.id,
                      quick_add: section.settings.quick_add,
                      horizontal_class: horizontal_class
                    %}
                  </li>
                  {%- assign skip_card_product_styles = true -%}
                {%- endfor -%}
              </ul>
            {% endcomment %}

            {% capture children %}
              {% for product in collection.products %}
                <li
                  id="{{ section.id }}-{{ product.id }}"
                  class="product-grid__item product-grid__item--{{ forloop.index0 }}"
                  data-page="{{ paginate.current_page }}"
                  data-product-id="{{ product.id }}"
                >
                  {% # theme-check-disable %}
                  {% content_for "block", type: "_product-card", id: "product-card", closest.product: product %}
                  {% # theme-check-enable %}
                </li>
              {% endfor %}
            {% endcapture %}

            {% render 'product-grid',
              section: section,
              children: children,
              products: collection.products,
              paginate: paginate
            %}

            <div class="product-count pos-relative light left" role="status">
              <h2 class="product-count__text text-body mar-0">
                <span id="ProductCount">
                  {%- if collection.results_count -%}
                    {{
                      'templates.search.results_with_count'
                      | t: terms: collection.terms, count: collection.results_count
                    }}
                  {%- elsif collection.products_count == collection.all_products_count -%}
                    {{ 'products.facets.product_count_simple' | t: count: collection.products_count }}
                  {%- else -%}
                    {{
                      'products.facets.product_count'
                      | t: product_count: collection.products_count, count: collection.all_products_count
                    }}
                  {%- endif -%}
                </span>
              </h2>
              {%- render 'loading-spinner' -%}
            </div>

            {%- if paginate.pages > 1 -%}
              {% render 'pagination', paginate: paginate, anchor: '' %}
            {%- endif -%}
          </div>
        {%- endif -%}
      </div>
    </div>
  {%- endpaginate -%}
  {% if section.settings.image_shape == 'arch' %}
    {{ 'mask-arch.svg' | inline_asset_content }}
  {%- endif -%}
</div>

{%- if section.settings.quick_add != 'none' -%}
  {%- liquid
    if section.settings.quick_add == 'standard'
      assign files = 'product-form.js, quick-add.js'
    endif

    if section.settings.quick_add == 'bulk'
      assign files = 'quick-add-bulk.js, quantity-popover.js, price-per-item.js, quick-order-list.js'
    endif

    assign files = files | split: ', '
    render 'theme-loader', files: files
  -%}
{%- endif -%}

{%- stylesheet -%}
  .main-collection-grid {
    grid-column: var(--grid-column--mobile);

    @media screen and (min-width: 750px) {
      grid-column: var(--grid-column--desktop);
    }
  }

  .collection-wrapper {
    @media screen and (min-width: 750px) {
      grid-template-columns:
        1fr repeat(
          var(--centered-column-number),
          minmax(0, calc((var(--page-width) - var(--page-margin) * 2) / var(--centered-column-number)))
        )
        1fr;
    }
  }

  .collection-wrapper:has(.facets-block-wrapper--full-width),
  .collection-wrapper:has(.collection-wrapper--full-width) {
    @media screen and (min-width: 750px) {
      grid-column: 1 / -1;
      grid-template-columns:
        minmax(var(--page-margin), 1fr) repeat(
          var(--centered-column-number),
          minmax(0, calc((var(--page-width) - var(--page-margin) * 2) / var(--centered-column-number)))
        )
        minmax(var(--page-margin), 1fr);
    }
  }

  .collection-wrapper:has(.facets--vertical) .facets-block-wrapper--vertical:not(.hidden) ~ .main-collection-grid {
    @media screen and (min-width: 750px) {
      grid-column: var(--facets-vertical-col-width) / var(--full-width-column-number);
    }
  }

  .collection-wrapper:has(.facets-block-wrapper--vertical:not(#filters-drawer)):has(.collection-wrapper--full-width) {
    @media screen and (min-width: 750px) {
      grid-column: 1 / -1;
      grid-template-columns: 0fr repeat(var(--centered-column-number), minmax(0, 1fr)) 0fr;
    }
  }

  :is(.collection-wrapper--full-width, .collection-wrapper--full-width-on-mobile)
    [product-grid-view='default']
    .product-grid__card {
    @media screen and (max-width: 749px) {
      padding-inline-start: max(var(--padding-xs), var(--padding-inline-start));
      padding-inline-end: max(var(--padding-xs), var(--padding-inline-end));
    }
  }

  :is(.collection-wrapper--full-width, .collection-wrapper--full-width-on-mobile)
    [product-grid-view='mobile-single']
    .product-grid__card {
    @media screen and (max-width: 749px) {
      padding-inline-start: max(var(--padding-xs), var(--padding-inline-start));
      padding-inline-end: max(var(--padding-xs), var(--padding-inline-end));
    }
  }

  /* Make product media go edge-to-edge by using negative margins */
  :is(.collection-wrapper--full-width) .card-gallery,
  :is(.collection-wrapper--full-width-on-mobile) .card-gallery {
    @media screen and (max-width: 749px) {
      margin-inline-start: calc(-1 * max(var(--padding-xs), var(--padding-inline-start)));
      margin-inline-end: calc(-1 * max(var(--padding-xs), var(--padding-inline-end)));
    }
  }
{%- endstylesheet -%}

{% schema %}
{
  "name": "t:sections.main-collection-product-grid.name",
  "class": "section",
  "settings": [
    {
      "type": "select",
      "id": "layout_type",
      "label": "t:settings.type",
      "options": [
        {
          "value": "grid",
          "label": "t:options.grid"
        },
        {
          "value": "organic",
          "label": "t:options.editorial"
        }
      ],
      "default": "grid"
    },
    {
      "type": "range",
      "id": "products_per_page",
      "min": 8,
      "max": 32,
      "step": 8,
      "default": 16,
      "label": "t:sections.main-collection-product-grid.settings.products_per_page.label"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 4,
      "step": 1,
      "default": 4,
      "label": "t:sections.main-collection-product-grid.settings.columns_desktop.label"
    },
    {
      "type": "select",
      "id": "product_card_size",
      "label": "t:settings.card_size",
      "options": [
        {
          "value": "small",
          "label": "t:options.small"
        },
        {
          "value": "medium",
          "label": "t:options.medium"
        },
        {
          "value": "large",
          "label": "t:options.large"
        },
        {
          "value": "extra-large",
          "label": "t:options.extra_large"
        }
      ],
      "default": "medium",
      "visible_if": "{{ section.settings.layout_type == 'grid' }}"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "info": "t:sections.all.colors.has_cards_info",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:content.layout"
    },
    {
      "type": "select",
      "id": "product_grid_width",
      "label": "t:settings.width",
      "options": [
        {
          "value": "centered",
          "label": "t:options.page"
        },
        {
          "value": "full-width",
          "label": "t:options.full"
        }
      ],
      "default": "centered"
    },
    {
      "type": "checkbox",
      "id": "full_width_on_mobile",
      "label": "t:settings.full_width_on_mobile",
      "default": true,
      "visible_if": "{{ section.settings.product_grid_width != 'full-width' }}"
    },
    {
      "type": "range",
      "id": "columns_gap_horizontal",
      "label": "t:settings.horizontal_gap",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "default": 16
    },
    {
      "type": "range",
      "id": "columns_gap_vertical",
      "label": "t:settings.vertical_gap",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "default": 16
    },
    {
      "type": "range",
      "id": "padding-inline-start",
      "label": "t:settings.left_padding",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-inline-end",
      "label": "t:settings.right_padding",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header__3.content"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__3.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.main-collection-product-grid.settings.image_ratio.label"
    },
    {
      "type": "select",
      "id": "image_shape",
      "options": [
        {
          "value": "default",
          "label": "t:sections.all.image_shape.options__1.label"
        },
        {
          "value": "arch",
          "label": "t:sections.all.image_shape.options__2.label"
        },
        {
          "value": "blob",
          "label": "t:sections.all.image_shape.options__3.label"
        },
        {
          "value": "chevronleft",
          "label": "t:sections.all.image_shape.options__4.label"
        },
        {
          "value": "chevronright",
          "label": "t:sections.all.image_shape.options__5.label"
        },
        {
          "value": "diamond",
          "label": "t:sections.all.image_shape.options__6.label"
        },
        {
          "value": "parallelogram",
          "label": "t:sections.all.image_shape.options__7.label"
        },
        {
          "value": "round",
          "label": "t:sections.all.image_shape.options__8.label"
        }
      ],
      "default": "default",
      "label": "t:sections.all.image_shape.label",
      "info": "t:sections.all.image_shape.info"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.show_secondary_image.label"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.show_vendor.label"
    },
    {
      "type": "checkbox",
      "id": "show_rating",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.show_rating.label",
      "info": "t:sections.main-collection-product-grid.settings.show_rating.info"
    },
    {
      "type": "select",
      "id": "quick_add",
      "default": "none",
      "label": "t:sections.main-collection-product-grid.settings.quick_add.label",
      "info": "t:sections.main-collection-product-grid.settings.quick_add.info",
      "options": [
        {
          "value": "none",
          "label": "t:sections.main-collection-product-grid.settings.quick_add.options.option_1"
        },
        {
          "value": "standard",
          "label": "t:sections.main-collection-product-grid.settings.quick_add.options.option_2"
        },
        {
          "value": "bulk",
          "label": "t:sections.main-collection-product-grid.settings.quick_add.options.option_3"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header__1.content"
    },
    {
      "type": "checkbox",
      "id": "enable_filtering",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.enable_filtering.label",
      "info": "t:sections.main-collection-product-grid.settings.enable_filtering.info"
    },
    {
      "type": "select",
      "id": "filter_type",
      "options": [
        {
          "value": "horizontal",
          "label": "t:sections.main-collection-product-grid.settings.filter_type.options__1.label"
        },
        {
          "value": "vertical",
          "label": "t:sections.main-collection-product-grid.settings.filter_type.options__2.label"
        },
        {
          "value": "drawer",
          "label": "t:sections.main-collection-product-grid.settings.filter_type.options__3.label"
        }
      ],
      "default": "horizontal",
      "label": "t:sections.main-collection-product-grid.settings.filter_type.label",
      "info": "t:sections.main-collection-product-grid.settings.filter_type.info"
    },
    {
      "type": "text",
      "id": "filter_variant_pill",
      "default": "t:sections.main-collection-product-grid.settings.filter_variant_pill.default",
      "label": "t:sections.main-collection-product-grid.settings.filter_variant_pill.label",
      "info": "t:sections.main-collection-product-grid.settings.filter_variant_pill.info"
    },
    {
      "type": "checkbox",
      "id": "enable_sorting",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.enable_sorting.label"
    },
    {
      "type": "checkbox",
      "id": "enable_products_per_page",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.enable_products_per_page.label"
    },
    {
      "type": "checkbox",
      "id": "enable_grid_view",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.enable_grid_view.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header_mobile.content"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "default": "2",
      "label": "t:sections.main-collection-product-grid.settings.columns_mobile.label",
      "info": "t:sections.main-collection-product-grid.settings.columns_mobile.info",
      "options": [
        {
          "value": "1",
          "label": "t:sections.main-collection-product-grid.settings.columns_mobile.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.main-collection-product-grid.settings.columns_mobile.options__2.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.name"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ]
}
{% endschema %}
