{% liquid
  assign sec_stts = section.settings
  assign movement_direction = sec_stts.movement_direction
  assign gap_between_elements = sec_stts.gap_between_elements

  assign marquee_type = sec_stts.marquee_type
  if marquee_type == 'auto'
    assign element_scroll = 'div'
  else
    assign element_scroll = 'marquee-scroll'
  endif
%}

{%- capture attr_scroll -%}
  data-speed="1" data-direction="{{ movement_direction | replace: 'normal', 'left' | replace: 'reverse', 'right' }}" data-parallax="1.5"
{%- endcapture -%}

<marquee-component
  class="
    block w-full overflow-hidden relative
    spacing-style
    gap-style
    color-{{ sec_stts.color_scheme }}
  "
  style="
    --marquee-direction: {{ movement_direction }};
    {%- render 'spacing-style', settings: sec_stts %};
    {% render 'gap-style', value: gap_between_elements, name: 'marquee-gap' %}
  "
  data-speed-factor="{{ sec_stts.speed }}"
  data-movement-direction="{{ movement_direction }}"
>
  <{{ element_scroll }}
    class="marquee__wrapper flex w-fit whitespace-nowrap"
    {% if marquee_type == 'scroll' %}
      {{- attr_scroll -}}
    {% endif %}
  >
    <div class="marquee__content flex">
      <div class="marquee__repeated-items flex-center">
        {% content_for 'blocks' %}
      </div>
    </div>
  </{{ element_scroll }}>
  {% if sec_stts.center_image != blank %}
    <div class="marquee__center-image absolute-c-c z-1 pointer-events-none w-fit h-full">
      {%- render 'image', image: sec_stts.center_image, class: 'w-auto h-full' -%}
    </div>
  {% endif %}
</marquee-component>

{% stylesheet %}
  .marquee__wrapper {
    gap: var(--marquee-gap);
    white-space: nowrap;
  }

  .marquee__content {
    min-width: max-content;
    gap: var(--marquee-gap);
  }

  .marquee__content :is(p, h1, h2, h3, h4, h5, h6) {
    white-space: nowrap;
  }

  .marquee__content .marquee__repeated-items * {
    max-width: none;
  }

  .marquee__repeated-items {
    min-width: max-content;
    gap: var(--marquee-gap);
  }

  .marquee__repeated-items > * {
    align-content: center;
  }

  .hero__content-wrapper.layout-panel-flex--column marquee-component {
    --margin-inline: var(--full-page-margin-inline-offset);

    width: -webkit-fill-available;
    min-height: max-content;
  }

  @media (prefers-reduced-motion: no-preference) {
    marquee-scroll .marquee__content,
    marquee-component:not([data-disabled]):has(:not(marquee-scroll)) .marquee__wrapper {
      animation: marquee-motion var(--marquee-speed) linear infinite var(--marquee-direction);
      will-change: transform;
    }

    marquee-scroll .marquee__content {
      --percent: -100%;
      width: max-content;
    }
  }

  @keyframes marquee-motion {

    to {
      transform: translate3d(calc(var(--percent, -100%) - (var(--marquee-gap) / 2)), 0, 0);
    }
  }

   .marquee__repeated-items .icon-block:hover img {
    animation: jello-vertical 0.9s both;
  }

  @keyframes jello-vertical {
    0% {
      transform: scale3d(1, 1, 1);
    }
    30% {
      transform: scale3d(0.75, 1.25, 1);
    }
    40% {
      transform: scale3d(1.25, 0.75, 1);
    }
    50% {
      transform: scale3d(0.85, 1.15, 1);
    }
    65% {
      transform: scale3d(1.05, 0.95, 1);
    }
    75% {
      transform: scale3d(0.95, 1.05, 1);
    }
    100% {
      transform: scale3d(1, 1, 1);
    }
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:names.marquee",
  "disabled_on": {
    "groups": ["custom.popup", "aside"]
  },
  "blocks": [
    {
      "type": "text"
    },
    {
      "type": "icon"
    },
    {
      "type": "_large-icon"
    },
    {
      "type": "logo"
    },
    {
      "type": "_divider"
    }
  ],
  "settings": [
    {
      "type": "select",
      "id": "movement_direction",
      "label": "t:settings.motion_direction",
      "options": [
        {
          "value": "reverse",
          "label": "t:options.forward"
        },
        {
          "value": "normal",
          "label": "t:options.reverse"
        }
      ],
      "default": "normal"
    },
    {
      "type": "range",
      "id": "gap_between_elements",
      "label": "t:settings.gap",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 24
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:settings.color_scheme",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:content.center_image"
    },
    {
      "type": "image_picker",
      "id": "center_image",
      "label": "t:settings.image"
    },
    {
      "type": "header",
      "content": "t:content.animations"
    },
    {
      "type": "select",
      "id": "marquee_type",
      "label": "t:settings.type",
      "options": [
        {
          "value": "auto",
          "label": "t:options.auto"
        },
        {
          "value": "scroll",
          "label": "t:options.scroll"
        }
      ],
      "default": "auto"
    },
    {
      "type": "range",
      "id": "speed",
      "min": 5,
      "max": 50,
      "step": 1,
      "label": "t:settings.speed",
      "default": 20
    },
    {
      "type": "header",
      "content": "t:content.padding"
    },
    {
      "type": "range",
      "id": "padding-block-start",
      "label": "t:settings.top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 24
    },
    {
      "type": "range",
      "id": "padding-block-end",
      "label": "t:settings.bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 24
    }
  ],
  "presets": [
    {
      "name": "t:names.marquee",
      "category": "t:categories.banners",
      "blocks": {
        "text": {
          "type": "text",
          "settings": {
            "text": "<p>Timeless design, built for everyday use.</p>",
            "type_preset": "custom",
            "font": "var(--font-body--family)",
            "font_size": "3.2rem",
            "line_height": "tight",
            "letter_spacing": "tight",
            "case": "none",
            "wrap": "nowrap",
            "width": "fit-content"
          }
        }
      },
      "block_order": ["text"]
    },
    {
      "name": "Marquee - Classic 1",
      "category": "t:categories.banners",
      "blocks": {
        "text_ieAa8P": {
          "type": "text",
          "settings": {
            "text": "<p><strong>new arrivals</strong></p>",
            "typing_text": false,
            "primary_text": "Welcome to our store!",
            "secondary_text": "Exclusive offers just for you.",
            "third_text": "Shop now and enjoy deals!",
            "highlight_text": false,
            "highlight_text_content": "",
            "highlight_text_type": "text",
            "underline_height": 18,
            "underline_offset": -20,
            "highlight_text_color": "#000000",
            "highlight_underline_color": "#000000",
            "spacing_text": false,
            "spacing_text_content": "",
            "spacing_text_left": 0,
            "spacing_text_right": 0,
            "stroke_text": false,
            "stroke_text_content": "",
            "width": "fit-content",
            "unit": "percent",
            "custom_width": 100,
            "custom_width_pixel": 500,
            "inherit_text_alignment": true,
            "justify_alignment": false,
            "alignment": "left",
            "width_tablet": "fit-content",
            "unit_tablet": "percent",
            "custom_width_tablet": 100,
            "custom_width_tablet_pixel": 100,
            "inherit_text_alignment_tablet": true,
            "justify_alignment_tablet": false,
            "alignment_tablet": "left",
            "width_mobile": "fit-content",
            "unit_mobile": "percent",
            "custom_width_mobile": 100,
            "custom_width_mobile_pixel": 100,
            "inherit_text_alignment_mobile": true,
            "justify_alignment_mobile": false,
            "alignment_mobile": "left",
            "type_preset": "custom",
            "font": "var(--font-body--family)",
            "font_size": "4.0rem",
            "line_height": "tight",
            "letter_spacing": "tight",
            "case": "uppercase",
            "wrap": "nowrap",
            "color": "var(--color-foreground)",
            "background": false,
            "background_color": "#00000026",
            "corner_radius": 0,
            "enable_border": false,
            "enable_border_bottom": false,
            "border": "none",
            "border_width": 0,
            "border_width_type": "100%",
            "border_custom_width": 100,
            "border_radius": 0,
            "text_effect": "none",
            "animation_repeat": false,
            "padding-block-start": 0,
            "padding-block-end": 0,
            "padding-inline-start": 0,
            "padding-inline-end": 0
          },
          "blocks": {}
        },
        "icon_CAe8n4": {
          "type": "icon",
          "name": "t:names.icon",
          "settings": {
            "icon": "price_tag",
            "icon_custom": "svg",
            "svg_upload": "<svg xmlns=\"http://www.w3.org/2000/svg\" width=\"13\" height=\"12\" viewBox=\"0 0 13 12\" fill=\"none\">\n  <circle cx=\"6.5\" cy=\"6\" r=\"6\" fill=\"black\"/>\n</svg>",
            "link": "",
            "open_in_new_tab": false,
            "width": 40
          },
          "blocks": {}
        }
      },
      "block_order": [
        "text_ieAa8P",
        "icon_CAe8n4"
      ],
      "settings": {
        "movement_direction": "normal",
        "gap_between_elements": 60,
        "color_scheme": "scheme-2",
        "marquee_type": "auto",
        "speed": 20,
        "padding-block-start": 80,
        "padding-block-end": 40
      }
    },
    {
      "name": "Marquee - Classic 2",
      "category": "t:categories.banners",
      "blocks": {
        "large_icon_PgVYeg": {
          "type": "_large-icon",
          "name": "Large icon",
          "settings": {
            "icon": "price_tag",
            "icon_custom": "image",
            "svg_upload": "",
            "image_upload": "",
            "link": "",
            "open_in_new_tab": false,
            "width": 315,
            "width_mb": 200
          },
          "blocks": {}
        },
        "large_icon_MKex3f": {
          "type": "_large-icon",
          "name": "Large icon",
          "settings": {
            "icon": "price_tag",
            "icon_custom": "image",
            "svg_upload": "",
            "image_upload": "",
            "link": "",
            "open_in_new_tab": false,
            "width": 315,
            "width_mb": 200
          },
          "blocks": {}
        },
        "large_icon_9AanjK": {
          "type": "_large-icon",
          "name": "Large icon",
          "settings": {
            "icon": "price_tag",
            "icon_custom": "image",
            "svg_upload": "",
            "image_upload": "",
            "link": "",
            "open_in_new_tab": false,
            "width": 315,
            "width_mb": 200
          },
          "blocks": {}
        },
        "large_icon_fBjqqK": {
          "type": "_large-icon",
          "name": "Large icon",
          "settings": {
            "icon": "price_tag",
            "icon_custom": "image",
            "svg_upload": "",
            "image_upload": "",
            "link": "",
            "open_in_new_tab": false,
            "width": 315,
            "width_mb": 200
          },
          "blocks": {}
        },
        "large_icon_PNfp9J": {
          "type": "_large-icon",
          "name": "Large icon",
          "settings": {
            "icon": "price_tag",
            "icon_custom": "image",
            "svg_upload": "",
            "image_upload": "",
            "link": "",
            "open_in_new_tab": false,
            "width": 315,
            "width_mb": 200
          },
          "blocks": {}
        },
        "large_icon_z4d6JH": {
          "type": "_large-icon",
          "name": "Large icon",
          "settings": {
            "icon": "price_tag",
            "icon_custom": "image",
            "svg_upload": "",
            "image_upload": "",
            "link": "",
            "open_in_new_tab": false,
            "width": 315,
            "width_mb": 200
          },
          "blocks": {}
        }
      },
      "block_order": [
        "large_icon_PgVYeg",
        "large_icon_MKex3f",
        "large_icon_9AanjK",
        "large_icon_fBjqqK",
        "large_icon_PNfp9J",
        "large_icon_z4d6JH"
      ],
      "settings": {
        "movement_direction": "normal",
        "gap_between_elements": 24,
        "color_scheme": "scheme-2",
        "marquee_type": "auto",
        "speed": 20,
        "padding-block-start": 24,
        "padding-block-end": 24
      }
    }
  ]
}
{% endschema %}