{{ 'template-collection.css' | asset_url | stylesheet_tag: preload: true }}

{%- if section.settings.quick_add != 'none' -%}
  {{ 'quick-add.css' | asset_url | stylesheet_tag: preload: true }}
{%- endif -%}

{%- liquid
  assign products_to_display = search.results_count
  assign sec_stts = section.settings
  assign layout = section.settings.layout

  if search.results_count > sec_stts.products_to_show
    assign products_to_display = sec_stts.products_to_show
  endif

  assign columns_mobile_int = sec_stts.columns_mobile | plus: 0
  assign show_mobile_slider = false
  if sec_stts.carousel_on_mobile and products_to_display > columns_mobile_int
    assign show_mobile_slider = true
  endif

  assign columns_desktop = sec_stts.columns_desktop

  assign columns_mobile = sec_stts.columns_mobile | plus: 0
  assign columns_tablet = sec_stts.columns_mobile | plus: 1
  if columns_mobile == 1.5
    assign columns_mobile = '1-5'
    assign columns_tablet = '1-8'
    assign columns_tablet_int = sec_stts.columns_mobile | plus: 0.3
  elsif columns_mobile == 1
    assign columns_tablet = '1-5'
    assign columns_tablet_int = sec_stts.columns_mobile | plus: 0.5
  else
    assign columns_tablet = '2'
    assign columns_tablet_int = sec_stts.columns_mobile | plus: 0
  endif

  assign columns_gap = sec_stts.columns_gap
  assign rows_gap = sec_stts.rows_gap

  assign enable_navigation = false
  if sec_stts.navigation == 'arrows-pagination' or sec_stts.navigation == 'arrows'
    assign enable_navigation = true
  endif

  assign enable_pagination = false
  if sec_stts.navigation == 'pagination' or sec_stts.navigation == 'arrows-pagination'
    assign enable_pagination = true
  endif
-%}

<div
  class="
    section section-padding-inline relative z-0
    section--{{ section.settings.section_width }}
    color-{{ sec_stts.color_scheme }}
  "
  style="
    --padding-inline-start: {{ sec_stts.padding-inline-start }}px;
    --padding-inline-end: {{ sec_stts.padding-inline-end }}px;
  "
>
  <recently-viewed-products
    class="recently-viewed-products collection"
    id="recently-viewed-{{ section.id }}"
    data-url="{{ routes.search_url }}?section_id={{ section.id }}&type=product&q="
    data-limit="{{ sec_stts.products_to_show }}"
    data-id="{{ section.id }}"
    {% if request.page_type == 'product' %}
      data-product-id="{{ product.id }}"
    {% endif %}
  >
    {%- if request.page_type == 'search' and search.results_count > 0 and search.performed -%}
      <div
        class="spacing"
        style="
          --p-spacing-t: {{ sec_stts.padding_top }}px;
          --p-spacing-b: {{ sec_stts.padding_bottom }}px;
        "
      >
        <div class="section-global__header">
          {%- content_for 'block', type: '_section-header', id: 'section-header' -%}
        </div>

        {% capture list_items %}
          {% assign parsed_terms = search.terms | split: ' OR ' %}
          {%- for parsed_term in parsed_terms -%}
            {%- assign product_id = parsed_term | split: 'id:' | last | times: 1 -%}
            {%- for product in search.results -%}
              {%- if product.id == product_id -%}
                <li
                  id="Slide-{{ section.id }}-{{ forloop.index }}"
                  class="grid__item{% if show_mobile_slider or layout == 'carousel' %} swiper-slide{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                  {% if settings.animations_reveal_on_scroll %}
                    data-cascade
                    style="--animation-order: {{ forloop.index }};"
                  {% endif %}
                >

                  {% content_for 'block',
                    type: 'card-product-flex',
                    id: 'product-slide-item',
                    closest.product: product
                  %}
                </li>

                {% unless forloop.last %}
                  <!--@list/split-->
                {% endunless %}
              {%- endif -%}
            {%- endfor -%}
          {%- endfor -%}
        {% endcapture %}

        {%- if layout == 'carousel' -%}
          {%- capture breakpoints -%}
            {
              "768": { "slidesPerView": {{ columns_mobile }} },
              "1024": { "slidesPerView": {{ columns_tablet }} },
              "1400": { "slidesPerView": {{ columns_desktop }} }
            }
          {%- endcapture -%}
          <swiper-component
            class="recently-viewed__wrapper{% if sec_stts.full_width %} full-width{% endif %}"
            {%- render 'swiper-data',
              settings: section.settings,
              loop: false,
              slides_per_view: columns_desktop,
              space_between: columns_gap,
              breakpoints: breakpoints
            -%}
            style="
              {% render 'swiper-style',
                columns_mobile: columns_mobile,
                columns_tablet: columns_tablet,
                columns_desktop: columns_desktop,
                columns_gap: columns_gap,
              %}
            "
          >
            <div class="swiper">
              <ul
                id="Slider-{{ section.id }}"
                data-id="{{ section.id }}"
                class="swiper-wrapper grid-layout-no-js list-unstyled"
                role="list"
                aria-label="{{ 'content.slider.name' | t }}"
              >
                {{ list_items }}
              </ul>
              {%- if enable_navigation -%}
                <div class="swiper-btns-wrap small-hide">
                  {%- render 'swiper-button' -%}
                </div>
              {%- endif -%}
              {%- if enable_pagination -%}
                <div class="swiper-pagination"></div>
              {%- endif -%}
            </div>
          </swiper-component>
        {%- else -%}
          <div class="recently-viewed__wrapper">
            {%- if show_mobile_slider -%}
              <swiper-component
                class="swiper-component-mobile"
                data-swiper-mobile
                {%- render 'swiper-data',
                  settings: section.settings,
                  loop: false,
                  slides_per_view: columns_mobile,
                  space_between: columns_gap
                -%}
                style="
                  {% render 'swiper-style',
                    columns_mobile: columns_mobile,
                    columns_tablet: columns_tablet,
                    columns_desktop: columns_desktop,
                    columns_gap: columns_gap,
                  %}
                "
              >
                <div class="swiper">
            {%- endif -%}
            <ul
              class="grid grid-layout list-unstyled{% if show_mobile_slider %} swiper-wrapper md:grid{% endif %} lg:grid-layout--{{ columns_desktop }} md:grid-layout--{{ columns_tablet }} grid-layout--{{ columns_mobile }}"
              role="list"
              aria-label="{{ 'content.grid.name' | t }}"
              style="--grid-desktop-horizontal-spacing: {{ columns_gap }}px; --grid-desktop-vertical-spacing: {{ rows_gap }}px;"
            >
              {{ list_items }}
            </ul>
            {%- if show_mobile_slider -%}
              </div>
              </swiper-component>
            {%- endif -%}
          </div>
        {%- endif -%}
      </div>
    {%- endif -%}
  </recently-viewed-products>
</div>

{%- style -%}
  .recently-viewed__wrapper.full-width .swiper {
    overflow: visible;
  }
{%- endstyle -%}

{%- if sec_stts.quick_add != 'none' -%}
  {%- liquid
    assign files = 'product-form.js'

    if sec_stts.quick_add == 'standard'
      assign files = files | append: ', quick-add.js'
    endif

    if sec_stts.quick_add == 'bulk'
      assign files = files | append: ', quick-add-bulk.js, quantity-popover.js, price-per-item.js, quick-order-list.js'
    endif

    assign files = files | split: ', '
    render 'theme-loader', files: files
  -%}
{%- endif -%}

{% schema %}
{
  "name": "t:names.recently_viewed_products", 
  "tag": "section",
  "class": "section-wrapper",
  "limit": 1,
  "disabled_on": {
    "groups": ["header", "footer", "custom.popup"]
  },
  "settings": [
    {
      "type": "header",
      "content": "t:content.size"
    },
    {
      "type": "select",
      "id": "section_width",
      "label": "t:settings.width",
      "options": [
        {
          "value": "page-width",
          "label": "t:options.page"
        },
        {
          "value": "full-width",
          "label": "t:options.full"
        }
      ],
      "default": "page-width"
    },
    {
      "type": "header",
      "content": "t:content.layout"
    },
    {
      "type": "select",
      "id": "layout",
      "label": "t:settings.layout",
      "options": [
        {
          "value": "grid",
          "label": "t:options.grid"
        },
        {
          "value": "carousel",
          "label": "t:options.carousel" 
        }
      ],
      "default": "carousel"
    },
    {
      "type": "range",
      "id": "products_to_show",
      "min": 2,
      "max": 25,
      "step": 1,
      "default": 4,
      "label": "t:settings.products_to_show"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 5,
      "step": 1,
      "default": 4,
      "label": "t:settings.number_of_columns_on_desktop"
    },
    {
      "type": "range",
      "id": "columns_gap",
      "label": "t:settings.horizontal_gap",  
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 8
    },
    {
      "type": "range",
      "id": "rows_gap",
      "label": "t:settings.vertical_gap",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 8,
      "visible_if": "{{ section.settings.layout == 'grid' }}"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:settings.color_scheme",
      "info": "t:info.has_cards_info",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:content.grid_layout",
      "visible_if": "{{ section.settings.layout == 'grid' }}"
    },
    {
      "type": "checkbox",
      "id": "carousel_on_mobile",
      "default": false,
      "label": "t:settings.enable_swipe_on_mobile",
      "visible_if": "{{ section.settings.layout == 'grid' }}"
    },
    {
      "type": "header",
      "content": "t:content.carousel",
      "visible_if": "{{ section.settings.layout == 'carousel' }}"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "t:settings.full_width",
      "default": false,
      "visible_if": "{{ section.settings.layout == 'carousel' }}"
    },
    {
      "type": "select",
      "id": "navigation",
      "label": "t:settings.navigation",
      "visible_if": "{{ section.settings.layout == 'carousel'}}",
      "options": [
        {
          "value": "none",
          "label": "t:options.none"
        },
        {
          "value": "arrows",
          "label": "t:options.arrows"
        },
        {
          "value": "pagination",
          "label": "t:options.pagination"
        },
        {
          "value": "arrows-pagination",
          "label": "t:settings.arrows_and_pagination"
        }
      ],
      "default": "arrows"
    },
    {
      "type": "select",
      "id": "pagination_type",
      "label": "t:settings.pagination_type",
      "visible_if": "{{ section.settings.layout == 'carousel' and section.settings.navigation == 'pagination' or section.settings.navigation == 'arrows-pagination' }}",
      "options": [
        {
          "value": "bullets",
          "label": "t:options.dots"
        },
        {
          "value": "dynamic",
          "label": "t:options.dynamic"
        },
        {
          "value": "progressbar",
          "label": "t:options.progress"
        },
        {
          "value": "fraction",
          "label": "t:options.counter"
        }
      ],
      "default": "bullets"
    },
    {
      "type": "header",
      "content": "t:content.mobile_layout"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "default": "2",
      "label": "t:settings.number_of_columns_on_mobile",
      "options": [
        {
          "value": "1",
          "label": "t:options.one_column"
        },
        {
          "value": "2",
          "label": "t:options.two_columns"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:content.section_padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:settings.top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "t:settings.bottom",
      "default": 36
    },

    {
      "type": "range",
      "id": "padding-inline-start",
      "label": "t:settings.left",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding-inline-end",
      "label": "t:settings.right",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "default": 0
    }
  ],
  "presets": [
    {
      "name": "t:names.recently_viewed_products"
    }
  ]
}
{% endschema %}
