{%-liquid
  assign total_item = 20
  assign block_size = section.blocks.size

  if block_size < 2
    assign total_item = 100
  endif
  assign limit = total_item | divided_by: block_size

  assign highest_ratio = 0
  for block in section.blocks
    if section.settings.image.aspect_ratio > highest_ratio
      assign highest_ratio = section.settings.image.aspect_ratio
    endif
  endfor
-%}
{%- style -%}
  .group-block--{{ section.id }} {
    margin-top: {{ section.settings.margin_top | times: 0.5 | round: 0 }}px;
    margin-bottom: {{ section.settings.margin_bottom | times: 0.5 | round: 0 }}px;
  }
  @media screen and (min-width: 750px) and (max-width: 1024px) {
    .group-block--{{ section.id }} {
      margin-top: {{ section.settings.margin_top | times: 0.75 | round: 0 }}px;
      margin-bottom: {{ section.settings.margin_bottom | times: 0.75 | round: 0 }}px;
    }
  }
  @media screen and (min-width: 1025px) {
    .group-block--{{ section.id }} {
      margin-top: {{ section.settings.margin_top }}px;
      margin-bottom: {{ section.settings.margin_bottom }}px;
    }
  }
{%- endstyle -%}

{%- capture blocks_content -%}
  {%- for block in section.blocks -%}
    {%- case block.type -%}
      {%- when 'text' -%}
        <div class="announcement-wrapper dis-flex a-i-center" {{ block.shopify_attributes }} style="--c-gap-a: 1.5rem;--pad-a-a: 0 2.5rem;--pad-a-a-md: 0 3.75rem;--pad-a-a-lg: 0 5rem;">
          <span class="dis-flex a-i-center w-space-nowrap typography-font-heading mar-t-0 mar-b-0" style="--gap-a: 1rem;">
            {%- render 'icon', icon: block.settings.icon, size: block.settings.icon_size -%}<span>{{block.settings.text}}</span>
          </span>
        </div>
    {%- endcase -%}
  {%- endfor -%}
{%- endcapture -%}

<div
  class="{{ section.settings | class_list }} group-block group-block--{{ section.id }} gradient color-{{ section.settings.color_scheme }}"
  {{ section.shopify_attributes }}
>
  <scrolling-promotion>
    <div class="scrolling-promotion wid-100 over-h" style="--pad-t-a: .1rem;--hei-a-md: {{section.settings.height | append: 'px'}};--hei-a-lg: {{section.settings.height | append: 'px'}};--pad-t-a-mb: 0.7rem;--pad-b-a-mb: 0.6rem;--pad-t-a-md: 1.9rem;--pad-b-a-md: 1.8rem;">
      <div class="announcement-list marquee-list hei-100 dis-flex a-i-center j-c-around" style="--marquee-duration: {{section.settings.speed | append: 's'}};">
        {%- if block_size == 1 -%}
          <div class="marquee-scroll hei-100 dis-flex a-i-center j-c-around f-shrink body-{{section.settings.text_size}}-font-size{% if section.settings.reverse_direction %} marquee-animate{% else %} marquee-animate-rtl{% endif %}">
            {%- for i in (1..2) -%}
              {{ blocks_content }}
            {%- endfor -%}
          </div>
          <div class="marquee-scroll hei-100 dis-flex a-i-center j-c-around f-shrink body-{{section.settings.text_size}}-font-size{% if section.settings.reverse_direction %} marquee-animate{% else %} marquee-animate-rtl{% endif %}">
            {%- for i in (1..2) -%}
              {{ blocks_content }}
            {%- endfor -%}
          </div>
        {%- else -%}
          {%- for i in (1..limit) -%}
            <div class="marquee-scroll hei-100 dis-flex a-i-center j-c-around f-shrink body-{{section.settings.text_size}}-font-size{% if section.settings.reverse_direction %} marquee-animate{% else %} marquee-animate-rtl{% endif %}">
              {{ blocks_content }}
            </div>
          {%- endfor -%}
        {%- endif -%}
      </div>
    </div>
  </scrolling-promotion>
</div>

<script>
  class ScrollingPromotion extends HTMLElement {
    constructor() {
      super();
    }
  }
  customElements.define('scrolling-promotion', ScrollingPromotion);
</script>

{% schema %}
{
  "name": "t:sections.scrolling-promotion.name",
  "class": "section",
  "blocks": [
    {
      "type": "@app"
    },
    { 
      "type": "text",
      "name": "t:sections.scrolling-promotion.name",
      "settings": [
        {
          "type": "select",
          "id": "icon",
          "label": "t:settings_schema.global.settings.icon.label",
          "default": "none",
          "options": [
            {
              "value": "none",
              "label": "t:settings_schema.global.settings.icon.options__1.label"
            },
            {
              "value": "lightning",
              "label": "t:settings_schema.global.settings.icon.options__2.label"
            }
          ]
        },
        {
          "type": "select",
          "id": "icon_size",
          "options": [
            {
              "value": "xs",
              "label": "t:settings_schema.global.settings.icon_size.options__1.label"
            },
            {
              "value": "s",
              "label": "t:settings_schema.global.settings.icon_size.options__2.label"
            },
            {
              "value": "m",
              "label": "t:settings_schema.global.settings.icon_size.options__3.label"
            },
            {
              "value": "l",
              "label": "t:settings_schema.global.settings.icon_size.options__4.label"
            },
            {
              "value": "xl",
              "label": "t:settings_schema.global.settings.icon_size.options__5.label"
            }
          ],
          "default": "xs",
          "label": "t:settings_schema.global.settings.icon_size.label"
        },
        {
          "type": "inline_richtext",
          "id": "text",
          "label": "Text",
          "default": "Welcome to our store"
        },
        {
          "type": "select",
          "id": "text_size",
          "label": "t:settings_schema.typography.settings.body_size.label",
          "info": "t:settings_schema.typography.settings.body_size.info",
          "options": [
            {
              "value": "default",
              "label": "Default"
            },
            {
              "value": "3xl",
              "label": "t:settings_schema.typography.settings.body_size.options__1.label"
            },
            {
              "value": "2xl",
              "label": "t:settings_schema.typography.settings.body_size.options__2.label"
            },
            {
              "value": "xl",
              "label": "t:settings_schema.typography.settings.body_size.options__3.label"
            },
            {
              "value": "l",
              "label": "t:settings_schema.typography.settings.body_size.options__4.label"
            },
            {
              "value": "m",
              "label": "t:settings_schema.typography.settings.body_size.options__5.label"
            },
            {
              "value": "s",
              "label": "t:settings_schema.typography.settings.body_size.options__6.label"
            },
            {
              "value": "xs",
              "label": "t:settings_schema.typography.settings.body_size.options__7.label"
            },
            {
              "value": "xxs",
              "label": "t:settings_schema.typography.settings.body_size.options__8.label"
            }
          ],
          "default": "default"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "checkbox",
      "id": "reverse_direction",
      "label": "reverse",
      "default": false
    },
    {
      "type": "range",
      "id": "speed",
      "min": 5,
      "max": 50,
      "step": 5,
      "unit": "s",
      "label": "speed",
      "default": 15
    },
    {
      "type": "range",
      "id": "height",
      "min": 30,
      "max": 120,
      "step": 6,
      "unit": "px",
      "label": "height",
      "default": 36
    },
    {
      "type": "header",
      "content": "t:sections.all.margin.section_margin_heading"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 150,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.margin.margin_top",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 150,
      "step": 2,
      "unit": "px",
      "label": "t:sections.all.margin.margin_bottom",
      "default": 0
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    }
  ],
  "presets": [
    {
      "name": "t:sections.scrolling-promotion.name",
      "settings": {
        "color_scheme": "scheme-1"
      }
    }
  ]
}
{% endschema %}